bot/5. 📊 PMO & Reporting (Gestion y Seguimiento)/Trello - Sync Attachments.json
{
  "name": "Trello - Sync Attachments",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "04adcac6-9f52-4c3c-8b26-40fae5cdde2d",
      "name": "Schedule Trigger 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT card_id FROM estado_tareas WHERE completada = false ORDER BY card_id;",
        "options": {}
      },
      "id": "310d1e6d-b226-47aa-89b6-561910766af2",
      "name": "Fetch Active Card IDs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/cards/{{ $json.card_id }}/attachments?fields=id,name,url,mimeType,bytes,date,idMember",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "options": {}
      },
      "id": "f1291778-c564-445d-901d-92d01bf59401",
      "name": "Fetch Trello Attachments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const attachments = $input.all().map(item => item.json).flat();\nconst pdfs = attachments.filter(a => \n  a.mimeType === 'application/pdf' || \n  (a.name || '').toLowerCase().endsWith('.pdf')\n);\nreturn pdfs.map(a => ({ json: {\n  attachment_id: a.id,\n  card_id: a.idCard || $('Fetch Active Card IDs').item.json.card_id,\n  filename: a.name || 'unknown.pdf',\n  url: a.url || '',\n  mime_type: a.mimeType || 'application/pdf',\n  file_size_bytes: a.bytes || 0,\n  added_by: a.idMember || 'unknown',\n  added_at: a.date || new Date().toISOString()\n}}));"
      },
      "id": "06c10e75-33c5-4285-acce-4342a09de9a4",
      "name": "Extract PDF Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-pdfs",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b2c83680-cad6-4b7e-a78d-8fcdd1826649",
      "name": "Has PDFs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO card_attachments (attachment_id, card_id, filename, url, mime_type, file_size_bytes, added_by, added_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8::timestamptz) ON CONFLICT (attachment_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [$json.attachment_id, $json.card_id, $json.filename, $json.url, $json.mime_type, $json.file_size_bytes, $json.added_by, $json.added_at] }}"
        }
      },
      "id": "77bc6aa4-7ed4-42f8-9711-e60f33814649",
      "name": "Upsert Attachment Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger 6h": {
      "main": [
        [
          {
            "node": "Fetch Active Card IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Card IDs": {
      "main": [
        [
          {
            "node": "Fetch Trello Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trello Attachments": {
      "main": [
        [
          {
            "node": "Extract PDF Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Attachments": {
      "main": [
        [
          {
            "node": "Has PDFs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has PDFs?": {
      "main": [
        [
          {
            "node": "Upsert Attachment Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "O4qJYNx2qDrWB3wt"
  },
  "versionId": "8a39aff4-fe47-4329-8195-f8577397ff4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "1scaJs5gI8iHHQqr",
  "tags": []
}
