bot/5. 📊 PMO & Reporting (Gestion y Seguimiento)/WF_PM_Avances.json
{
  "id": "wf-pm-avances",
  "name": "WF_PM_Avances",
  "active": true,
  "nodes": [
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "build-avance",
      "name": "Build Avance Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst ctx = $json;\nconst datos = ctx.datos || {};\nconst raw = String(datos.texto || datos.texto_original || ctx.mensaje_original || '');\nconst sub = String(ctx.sub_intencion || 'registrar').toLowerCase();\nconst q = (v) => v === null || v === undefined || v === '' ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\nconst taskId = Number(datos.id || raw.match(/#?(\\d+)/)?.[1] || 0) || null;\nconst pct = Math.max(0, Math.min(100, Number(datos.porcentaje || raw.match(/(\\d{1,3})\\s*%/)?.[1] || 0)));\nconst responsable = datos.responsable || ctx.usuario || 'sin responsable';\nconst desc = raw.replace(/^\\/pm\\s+avance\\s+\\w+/i, '').trim() || 'Avance registrado';\nlet query;\nif (['resumen','listar','dia','diario'].includes(sub)) {\n  query = `SELECT 'summary' AS action, responsable, COUNT(*) AS total, string_agg(descripcion, ' | ' ORDER BY fecha DESC) AS detalles\nFROM pm_avances WHERE fecha::date = CURRENT_DATE GROUP BY responsable ORDER BY responsable;`;\n} else {\n  query = `INSERT INTO pm_avances (tarea_id, responsable, descripcion, porcentaje, bloqueos_reportados)\nVALUES (${taskId || 'NULL'}, ${q(responsable)}, ${q(desc)}, ${pct}, ${/bloque/i.test(raw) ? q(raw) : 'NULL'})\nRETURNING 'created' AS action, id, tarea_id, responsable, descripcion, porcentaje, fecha;`;\n}\nreturn [{ json: { query, canal_destino: 'DISCORD_CHANNEL_AVANCES', canal_id: process.env.DISCORD_CHANNEL_AVANCES || ctx.canal_origen } }];"
      }
    },
    {
      "id": "run-avance",
      "name": "Run Avance Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-avance",
      "name": "Format Avance Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst rows = $input.all().map(i => i.json);\nconst ctx = $('Build Avance Query').item.json;\nlet respuesta;\nif (!rows.length) {\n  respuesta = 'No hay avances registrados hoy. Recomiendo pedir check-in en #avances-diarios.';\n} else if (rows[0].action === 'summary') {\n  respuesta = 'Resumen de avances de hoy:\\n' + rows.map(r => `- ${r.responsable}: ${r.total} registro(s). ${r.detalles || ''}`).join('\\n');\n} else {\n  const a = rows[0];\n  respuesta = `Avance registrado.\\nResponsable: ${a.responsable}\\nTarea: ${a.tarea_id ? '#' + a.tarea_id : 'sin tarea asociada'}\\nPorcentaje: ${a.porcentaje}%\\nProximo paso: validar si requiere evidencia, revision o desbloqueo.`;\n}\nreturn [{ json: { respuesta, canal_destino: ctx.canal_destino, canal_id: ctx.canal_id, storage: 'postgres:pm_avances' } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Avance Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Avance Query": {
      "main": [
        [
          {
            "node": "Run Avance Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Avance Query": {
      "main": [
        [
          {
            "node": "Format Avance Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "wf-pm-error-handler"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  }
}
