bot/5. 📊 PMO & Reporting (Gestion y Seguimiento)/WF_PM_Admin.json
{
  "id": "wf-pm-admin",
  "name": "WF_PM_Admin",
  "active": true,
  "nodes": [
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "query-admin",
      "name": "Query Bot Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM pm_tareas) AS tareas,\n  (SELECT COUNT(*) FROM pm_avances) AS avances,\n  (SELECT COUNT(*) FROM pm_bloqueos WHERE estado <> 'resuelto') AS bloqueos_activos,\n  (SELECT COUNT(*) FROM pm_riesgos WHERE estado = 'abierto') AS riesgos_abiertos,\n  (SELECT COUNT(*) FROM pm_entregables) AS entregables,\n  (SELECT COUNT(*) FROM pm_decisiones) AS decisiones,\n  (SELECT COUNT(*) FROM events_outbox WHERE status IN ('pending','sending')) AS outbox_pendiente,\n  (SELECT COUNT(*) FROM events_outbox WHERE status IN ('failed','dead')) AS outbox_fallido,\n  (SELECT COUNT(*) FROM pm_bot_errors WHERE fecha >= NOW() - INTERVAL '24 hours' AND NOT (workflow_name = 'System - PM Schema Manager' AND error_message ILIKE '%has no node to start%')) AS errores_24h,\n  (SELECT COUNT(*) FROM pm_command_log WHERE exito = false) AS comandos_fallidos,\n  (SELECT COALESCE(json_agg(l), '[]'::json) FROM (SELECT id,intencion,usuario,canal,exito,fecha FROM pm_command_log ORDER BY fecha DESC LIMIT 5) l) AS ultimos_comandos,\n  (SELECT COALESCE(json_agg(e), '[]'::json) FROM (SELECT id,workflow_name,node_name,error_message,fecha FROM pm_bot_errors WHERE NOT (workflow_name = 'System - PM Schema Manager' AND error_message ILIKE '%has no node to start%') ORDER BY fecha DESC LIMIT 3) e) AS ultimos_errores;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-admin",
      "name": "Format Admin Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst row = $json; const ctx = $('Execute Workflow Trigger').item.json || {};\nconst required = ['DISCORD_BOT_TOKEN','DISCORD_GUILD_ID','DISCORD_MEETING_VOICE_CHANNEL_ID','DISCORD_CHANNEL_TAREAS','DISCORD_CHANNEL_AVANCES','DISCORD_CHANNEL_BLOQUEOS','DISCORD_CHANNEL_REPORTES','DISCORD_CHANNEL_REUNIONES','DISCORD_CHANNEL_ENTREGABLES','DISCORD_CHANNEL_RIESGOS','DISCORD_CHANNEL_BOT_LOG','DISCORD_CHANNEL_ADMIN','TRELLO_BOARD_ID','TRELLO_DEFAULT_LIST_ID'];\nconst missing = required.filter(k => !process.env[k]);\nconst logs = typeof row.ultimos_comandos === 'string' ? JSON.parse(row.ultimos_comandos) : row.ultimos_comandos;\nconst errors = typeof row.ultimos_errores === 'string' ? JSON.parse(row.ultimos_errores) : row.ultimos_errores;\nconst respuesta = [\n  'Estado administrativo del PM Bot',\n  `Storage: Postgres`,\n  `Tareas: ${row.tareas} | Avances: ${row.avances} | Entregables: ${row.entregables} | Decisiones: ${row.decisiones}`,\n  `Bloqueos activos: ${row.bloqueos_activos} | Riesgos abiertos: ${row.riesgos_abiertos}`,\n  `Outbox pendiente: ${row.outbox_pendiente} | Outbox fallido: ${row.outbox_fallido}`,\n  `Errores PM 24h: ${row.errores_24h} | Comandos fallidos: ${row.comandos_fallidos}`,\n  `Variables faltantes: ${missing.length ? missing.join(', ') : 'ninguna'}`,\n  '',\n  'Ultimos comandos:',\n  ...(logs.length ? logs.map(l => `- #${l.id} ${l.intencion} por ${l.usuario} en ${l.canal}`) : ['- Sin comandos auditados.']),\n  '',\n  'Ultimos errores:',\n  ...(errors.length ? errors.map(e => `- #${e.id} ${e.workflow_name || 'workflow'} / ${e.node_name || 'nodo'}: ${String(e.error_message || '').slice(0, 120)}`) : ['- Sin errores registrados.'])\n].join('\\n');\nreturn [{ json: { respuesta, canal_destino: 'DISCORD_CHANNEL_ADMIN', canal_id: process.env.DISCORD_CHANNEL_ADMIN || ctx.canal_origen, storage: 'postgres:pm_command_log/events_outbox' } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Query Bot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Bot Status": {
      "main": [
        [
          {
            "node": "Format Admin Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "wf-pm-error-handler"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  }
}
