bot/5. 📊 PMO & Reporting (Gestion y Seguimiento)/WF_PM_Avances.json
{
  "id": "wf-pm-avances",
  "name": "WF_PM_Avances",
  "active": true,
  "nodes": [
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "build-avance",
      "name": "Build Avance Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst ctx = $json;\nconst datos = ctx.datos || {};\nconst raw = String(datos.texto || datos.texto_original || ctx.mensaje_original || '');\nconst sub = String(ctx.sub_intencion || 'registrar').toLowerCase();\nconst q = (v) => v === null || v === undefined || v === '' ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\nconst taskId = Number(datos.id || raw.match(/#?(\\d+)/)?.[1] || 0) || null;\nconst completeSignal = /completad|terminad|finalizad|cerrad|entregad|list[oa]/i.test(raw);\nconst evidenceSignal = /evidencia|documento|reporte|adjunt|pdf|entregable/i.test(raw);\nconst pctRaw = Number(datos.porcentaje || raw.match(/(\\d{1,3})\\s*%/)?.[1] || 0);\nconst pct = Math.max(0, Math.min(100, pctRaw || completeSignal ? (pctRaw || 100) : 0));\nconst responsable = datos.responsable || ctx.usuario || 'sin responsable';\nconst desc = raw\n  .replace(/^\\/pm\\s+avance\\s+\\w+/i, '')\n  .replace(/^\\/avance\\s+\\w+/i, '')\n  .replace(/#\\d+/g, '')\n  .replace(/\\d{1,3}\\s*%/g, '')\n  .trim() || 'Avance registrado';\nlet query;\nif (['resumen','listar','dia','diario'].includes(sub)) {\n  query = `SELECT 'summary' AS action, responsable, COUNT(*) AS total, string_agg(descripcion, ' | ' ORDER BY fecha DESC) AS detalles\nFROM pm_avances WHERE fecha::date = CURRENT_DATE GROUP BY responsable ORDER BY responsable;`;\n} else {\n  const normRaw = raw.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  const stop = new Set(['para','esta','este','tarea','avance','avances','registrar','completada','completado','terminada','terminado','finalizada','finalizado','evidencia','documento','reporte','adjunto','adjunta','subido','subida','actividad','respectivo','respectiva','equipo']);\n  const keywords = [...new Set(normRaw.split(/[^a-z0-9]+/).filter((w) => w.length >= 5 && !stop.has(w)))].slice(0, 8);\n  const titleNormSql = \"lower(translate(titulo, 'áéíóúÁÉÍÓÚñÑ', 'aeiouAEIOUnN'))\";\n  const scoreParts = keywords.map((word) => `(CASE WHEN ${titleNormSql} LIKE ${q('%' + word + '%')} THEN 1 ELSE 0 END)`);\n  const scoreSql = scoreParts.length ? scoreParts.join(' + ') : '0';\n  const threshold = Math.min(2, keywords.length || 2);\n  const candidateSql = taskId\n    ? `SELECT id FROM pm_tareas WHERE id=${taskId}`\n    : `SELECT id FROM (SELECT id, (${scoreSql}) AS score FROM pm_tareas WHERE estado NOT IN ('completada','cancelada') ORDER BY score DESC, fecha_limite NULLS LAST LIMIT 1) m WHERE score >= ${threshold}`;\n  const desiredState = (pct >= 100 || completeSignal) ? 'completada' : (evidenceSignal ? 'en_revision' : null);\n  query = `WITH ins AS (\n  INSERT INTO pm_avances (tarea_id, responsable, descripcion, porcentaje, bloqueos_reportados)\n  VALUES (${taskId || 'NULL'}, ${q(responsable)}, ${q(desc)}, ${pct}, ${/bloque/i.test(raw) ? q(raw) : 'NULL'})\n  RETURNING id, tarea_id, responsable, descripcion, porcentaje, fecha\n),\ncandidate AS (${candidateSql}),\nupd AS (\n  UPDATE pm_tareas\n  SET estado = COALESCE(${q(desiredState)}, estado), fecha_actualizacion = NOW()\n  WHERE id IN (SELECT id FROM candidate) AND ${desiredState ? 'true' : 'false'}\n  RETURNING id AS tarea_actualizada_id, titulo AS tarea_titulo, estado AS tarea_estado\n)\nSELECT 'created' AS action, ins.id, COALESCE(ins.tarea_id, upd.tarea_actualizada_id) AS tarea_id,\n  ins.responsable, ins.descripcion, ins.porcentaje, ins.fecha,\n  upd.tarea_actualizada_id, upd.tarea_titulo, upd.tarea_estado\nFROM ins\nLEFT JOIN upd ON true;`;\n}\nreturn [{ json: { query, canal_destino: 'DISCORD_CHANNEL_AVANCES', canal_id: process.env.DISCORD_CHANNEL_AVANCES || ctx.canal_origen } }];"
      }
    },
    {
      "id": "run-avance",
      "name": "Run Avance Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-avance",
      "name": "Format Avance Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst rows = $input.all().map(i => i.json);\nconst ctx = $('Build Avance Query').item.json;\nlet respuesta;\nif (!rows.length) {\n  respuesta = 'No hay avances registrados hoy. Recomiendo pedir check-in en #avances-diarios.';\n} else if (rows[0].action === 'summary') {\n  respuesta = 'Resumen de avances de hoy:\\n' + rows.map(r => `- ${r.responsable}: ${r.total} registro(s). ${r.detalles || ''}`).join('\\n');\n} else {\n  const a = rows[0];\n  const taskLine = a.tarea_actualizada_id\n    ? `\\n✅ Tarea actualizada: #${a.tarea_actualizada_id} ${a.tarea_titulo} -> ${a.tarea_estado}`\n    : '';\n  respuesta = `✅ Avance registrado.\\nResponsable: ${a.responsable}\\nTarea: ${a.tarea_id ? '#' + a.tarea_id : 'sin tarea asociada'}\\nPorcentaje: ${a.porcentaje}%${taskLine}\\nProximo paso: validar evidencia, revision o desbloqueo si aplica.`;\n}\nreturn [{ json: { respuesta, canal_destino: ctx.canal_destino, canal_id: ctx.canal_id, storage: 'postgres:pm_avances' } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Avance Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Avance Query": {
      "main": [
        [
          {
            "node": "Run Avance Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Avance Query": {
      "main": [
        [
          {
            "node": "Format Avance Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "wf-pm-error-handler"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  }
}
