bot/5. 📊 PMO & Reporting (Gestion y Seguimiento)/WF_PM_Decisiones.json
{
  "id": "wf-pm-decisiones",
  "name": "WF_PM_Decisiones",
  "active": true,
  "nodes": [
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "build",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst ctx = $json; const datos = ctx.datos || {}; const raw = String(datos.texto || datos.texto_original || ctx.mensaje_original || '');\nconst sub = String(ctx.sub_intencion || '').toLowerCase(); const q = (v) => v === null || v === undefined || v === '' ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\nconst date = datos.fecha_limite || raw.match(/(\\d{4}-\\d{2}-\\d{2})/)?.[1] || null;\nlet query;\nif ('decision' === 'entregable') {\n  const name = raw.replace(/^\\/pm\\s+entregable\\s+\\w+/i, '').replace(/(?:responsable|limite|l[ií]mite|version|versi[oó]n):?\\s*([^,;\\n]+?)(?=\\s+(?:responsable|limite|l[ií]mite|version|versi[oó]n):?\\s|$)/ig, '').trim();\n  const respFallback = raw.match(/responsable:?\\s*([^,;\\n]+?)(?=\\s+(?:limite|l[ií]mite|version|versi[oó]n):?\\s|$)/i)?.[1]?.trim();\n  if (['registrar','crear','agregar'].includes(sub)) query = \"INSERT INTO pm_entregables (nombre,responsable,estado,fecha_limite,version,enlace,observaciones,creado_por) VALUES (\" + q(name || 'Entregable sin nombre') + \",\" + q(datos.responsable || respFallback) + \",'pendiente',\" + (date ? q(date) + \"::date\" : \"NULL\") + \",\" + q(raw.match(/version:?\\s*([^,;\\n]+)/i)?.[1]?.trim() || '1.0') + \",\" + q(raw.match(/https?:\\/\\/\\S+/)?.[0]) + \",\" + q(raw) + \",\" + q(ctx.usuario) + \") RETURNING 'created' AS action,*;\";\n  else query = \"SELECT 'list' AS action,* FROM pm_entregables WHERE estado NOT IN ('entregado','aprobado') ORDER BY fecha_limite NULLS LAST LIMIT 15;\";\n} else if ('decision' === 'decision') {\n  const decision = raw.replace(/^\\/pm\\s+decision\\s+\\w+/i, '').trim();\n  if (sub === 'listar' || /listar|consulta|historial/i.test(raw)) query = \"SELECT 'list' AS action,* FROM pm_decisiones ORDER BY fecha DESC LIMIT 12;\";\n  else query = \"INSERT INTO pm_decisiones (decision,contexto,justificacion,responsable,creado_por) VALUES (\" + q(decision || raw) + \",\" + q(raw.match(/contexto:?\\s*([^;\\n]+)/i)?.[1]?.trim()) + \",\" + q(raw.match(/justificaci[oó]n:?\\s*([^;\\n]+)/i)?.[1]?.trim()) + \",\" + q(datos.responsable || ctx.usuario) + \",\" + q(ctx.usuario) + \") RETURNING 'created' AS action,*;\";\n} else {\n  const type = /bien/i.test(sub || raw) ? 'bien' : /mejorar|mejora/i.test(sub || raw) ? 'mejorar' : 'accion';\n  if (sub === 'listar' || /resumen|listar/i.test(raw)) query = \"SELECT 'list' AS action,* FROM pm_retrospectivas ORDER BY fecha DESC LIMIT 15;\";\n  else query = \"INSERT INTO pm_retrospectivas (sprint,tipo,descripcion,responsable,estado,creado_por) VALUES (\" + q(raw.match(/sprint:?\\s*([^,;\\n]+)/i)?.[1]?.trim()) + \",\" + q(type) + \",\" + q(raw.replace(/^\\/pm\\s+(retrospectiva|retro)\\s+\\w+/i, '').trim() || raw) + \",\" + q(datos.responsable || null) + \",'pendiente',\" + q(ctx.usuario) + \") RETURNING 'created' AS action,*;\";\n}\nreturn [{ json: { query, kind: 'decision', canal_destino: 'decision' === 'entregable' ? 'DISCORD_CHANNEL_ENTREGABLES' : 'decision' === 'decision' ? 'DISCORD_CHANNEL_REUNIONES' : 'DISCORD_CHANNEL_REPORTES', canal_id: process.env['decision' === 'entregable' ? 'DISCORD_CHANNEL_ENTREGABLES' : 'decision' === 'decision' ? 'DISCORD_CHANNEL_REUNIONES' : 'DISCORD_CHANNEL_REPORTES'] || ctx.canal_origen } }];"
      }
    },
    {
      "id": "run",
      "name": "Run Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst rows = $input.all().map(i => i.json); const ctx = $('Build Query').item.json; const first = rows[0] || {};\nlet respuesta;\nif ('decision' === 'entregable') {\n  const fmt = (d) => d ? String(d).split('T')[0] : 'sin fecha';\n  if (!rows.length) respuesta = 'No hay entregables pendientes.';\n  else if (first.action === 'created') respuesta = `Entregable registrado.\\nID: #${first.id}\\nNombre: ${first.nombre}\\nResponsable: ${first.responsable || 'sin asignar'}\\nFecha limite: ${fmt(first.fecha_limite)}\\nProximo paso: adjuntar enlace/evidencia cuando este listo.`;\n  else respuesta = 'Entregables pendientes:\\n' + rows.map(e => `- #${e.id} ${e.nombre} - ${e.estado} - ${e.responsable || 'sin responsable'}${e.fecha_limite ? ' - ' + fmt(e.fecha_limite) : ''}`).join('\\n');\n} else if ('decision' === 'decision') {\n  if (!rows.length) respuesta = 'No hay decisiones registradas.';\n  else if (first.action === 'created') respuesta = `Decision registrada.\\nID: #${first.id}\\nDecision: ${first.decision}\\nResponsable: ${first.responsable}\\nTrazabilidad: quedo guardada para reportes y reuniones.`;\n  else respuesta = 'Decisiones recientes:\\n' + rows.map(d => `- #${d.id} ${d.decision} (${d.responsable || 'sin responsable'})`).join('\\n');\n} else {\n  if (!rows.length) respuesta = 'No hay elementos de retrospectiva registrados.';\n  else if (first.action === 'created') respuesta = `Retrospectiva registrada.\\nTipo: ${first.tipo}\\nDescripcion: ${first.descripcion}\\nProximo paso: convertir acciones de mejora en tareas con responsable.`;\n  else respuesta = 'Resumen de retrospectiva:\\n' + rows.map(r => `- [${r.tipo}] ${r.descripcion}${r.responsable ? ' - ' + r.responsable : ''}`).join('\\n');\n}\nconst storageMap = { entregable: 'pm_entregables', decision: 'pm_decisiones', retrospectiva: 'pm_retrospectivas' };\nreturn [{ json: { respuesta, canal_destino: ctx.canal_destino, canal_id: ctx.canal_id, storage: 'postgres:' + storageMap['decision'] } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query": {
      "main": [
        [
          {
            "node": "Run Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Query": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "wf-pm-error-handler"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  }
}
