bot/5. 📊 PMO & Reporting (Gestion y Seguimiento)/WF_PM_Recordatorios.json
{
  "id": "wf-pm-recordatorios",
  "name": "WF_PM_Recordatorios",
  "active": true,
  "nodes": [
    {
      "id": "schedule",
      "name": "Daily Reminder Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -120
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "query-reminders",
      "name": "Query Reminder Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        260,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COALESCE(json_agg(t), '[]'::json) FROM (SELECT id,titulo,responsable,fecha_limite, CURRENT_DATE - fecha_limite::date AS dias_atraso FROM pm_tareas WHERE fecha_limite < CURRENT_DATE AND estado NOT IN ('completada','cancelada') ORDER BY fecha_limite LIMIT 10) t) AS tareas_atrasadas,\n  (SELECT COALESCE(json_agg(e), '[]'::json) FROM (SELECT id,nombre,responsable,fecha_limite, fecha_limite::date - CURRENT_DATE AS dias_restantes FROM pm_entregables WHERE fecha_limite <= CURRENT_DATE + INTERVAL '3 days' AND estado NOT IN ('entregado','aprobado') ORDER BY fecha_limite LIMIT 10) e) AS entregables_proximos,\n  (SELECT COUNT(*) FROM pm_bloqueos WHERE estado <> 'resuelto') AS bloqueos_activos;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-reminders",
      "name": "Format Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst row = $json; const ctx = $('Execute Workflow Trigger').item?.json || {};\nconst tareas = typeof row.tareas_atrasadas === 'string' ? JSON.parse(row.tareas_atrasadas) : row.tareas_atrasadas;\nconst entregables = typeof row.entregables_proximos === 'string' ? JSON.parse(row.entregables_proximos) : row.entregables_proximos;\nconst lines = ['Recordatorio PM PetSafe'];\nif (tareas.length) lines.push('Tareas atrasadas:', ...tareas.map(t => `- #${t.id} ${t.titulo} - ${t.responsable || 'sin responsable'} - ${t.dias_atraso} dia(s)`));\nif (entregables.length) lines.push('Entregables proximos/vencidos:', ...entregables.map(e => `- #${e.id} ${e.nombre} - ${e.responsable || 'sin responsable'} - ${e.dias_restantes} dia(s)`));\nif (Number(row.bloqueos_activos) > 0) lines.push(`Bloqueos activos: ${row.bloqueos_activos}. Revisar #bloqueos.`);\nif (lines.length === 1) lines.push('Sin atrasos ni entregables criticos para los proximos 3 dias.');\nconst respuesta = lines.join('\\n');\nreturn [{ json: { respuesta, canal_destino: 'DISCORD_CHANNEL_REPORTES', canal_id: process.env.DISCORD_CHANNEL_REPORTES || ctx.canal_origen, should_publish: true } }];"
      }
    },
    {
      "id": "queue-reminder",
      "name": "Queue Reminder To Discord",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events_outbox (event_id, target, action, idempotency_key, payload)\nVALUES ($1, 'discord', 'pm_report', $2, $3::jsonb)\nON CONFLICT (idempotency_key) DO NOTHING\nRETURNING outbox_id;",
        "options": {
          "queryReplacement": "={{ [ \"pm-reminder-\" + Date.now(), \"pm-reminder-\" + Date.now(), JSON.stringify({ content: $json.respuesta, channel_id: $json.canal_id }) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "return-reminder",
      "name": "Return Reminder Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        0
      ],
      "parameters": {
        "jsCode": "return [{ json: $('Format Reminder').item.json }];"
      }
    }
  ],
  "connections": {
    "Daily Reminder Trigger": {
      "main": [
        [
          {
            "node": "Query Reminder Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Query Reminder Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Reminder Data": {
      "main": [
        [
          {
            "node": "Format Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reminder": {
      "main": [
        [
          {
            "node": "Queue Reminder To Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Reminder To Discord": {
      "main": [
        [
          {
            "node": "Return Reminder Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "wf-pm-error-handler"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  }
}
