bot/5. 📊 PMO & Reporting (Gestion y Seguimiento)/WF_PM_Bloqueos_Riesgos.json
{
  "id": "wf-pm-bloqueos-riesgos",
  "name": "WF_PM_Bloqueos_Riesgos",
  "active": true,
  "nodes": [
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "build-br",
      "name": "Build Bloqueo/Riesgo Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst ctx = $json;\nconst datos = ctx.datos || {};\nconst raw = String(datos.texto || datos.texto_original || ctx.mensaje_original || '');\nconst sub = String(ctx.sub_intencion || 'registrar').toLowerCase();\nconst q = (v) => v === null || v === undefined || v === '' ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\nconst norm = (s) => String(s || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst intencion = ctx.intencion;\nconst taskId = Number(datos.id || raw.match(/#?(\\d+)/)?.[1] || 0) || null;\nif (['listar','lista','ver'].includes(sub)) {\n  const query = intencion === 'riesgo'\n    ? `SELECT 'risk_list' AS action, id, descripcion, probabilidad, impacto, prioridad_calculada, mitigacion, responsable, estado, fecha_creacion FROM pm_riesgos WHERE estado = 'abierto' ORDER BY CASE prioridad_calculada WHEN 'critica' THEN 0 WHEN 'alta' THEN 1 WHEN 'media' THEN 2 ELSE 3 END, fecha_creacion DESC LIMIT 15;`\n    : `SELECT 'blocker_list' AS action, id, descripcion, responsable_afectado, tarea_id, severidad, accion_recomendada, estado, fecha_creacion FROM pm_bloqueos WHERE estado <> 'resuelto' ORDER BY CASE severidad WHEN 'critica' THEN 0 WHEN 'alta' THEN 1 WHEN 'media' THEN 2 ELSE 3 END, fecha_creacion DESC LIMIT 15;`;\n  return [{ json: { query, mode: 'list', canal_destino: intencion === 'riesgo' ? 'DISCORD_CHANNEL_RIESGOS' : 'DISCORD_CHANNEL_BLOQUEOS', canal_id: process.env[intencion === 'riesgo' ? 'DISCORD_CHANNEL_RIESGOS' : 'DISCORD_CHANNEL_BLOQUEOS'] || ctx.canal_origen } }];\n}\nif (['cerrar','resolver','mitigar'].includes(sub) && taskId) {\n  const query = intencion === 'riesgo'\n    ? `UPDATE pm_riesgos SET estado='mitigado', fecha_actualizacion=NOW() WHERE id=${taskId} RETURNING 'risk_closed' AS action, id, descripcion, estado;`\n    : `UPDATE pm_bloqueos SET estado='resuelto', fecha_resolucion=NOW() WHERE id=${taskId} RETURNING 'blocker_closed' AS action, id, descripcion, estado;`;\n  return [{ json: { query, mode: 'close', canal_destino: intencion === 'riesgo' ? 'DISCORD_CHANNEL_RIESGOS' : 'DISCORD_CHANNEL_BLOQUEOS', canal_id: process.env[intencion === 'riesgo' ? 'DISCORD_CHANNEL_RIESGOS' : 'DISCORD_CHANNEL_BLOQUEOS'] || ctx.canal_origen } }];\n}\nconst sev = ['baja','media','alta','critica'].includes(norm(datos.prioridad)) ? norm(datos.prioridad) : (/crit|urg/i.test(raw) ? 'critica' : /alta|bloquea/i.test(raw) ? 'alta' : 'media');\nconst prob = ['baja','media','alta'].includes(norm(datos.probabilidad)) ? norm(datos.probabilidad) : (/probabilidad alta|muy probable/i.test(raw) ? 'alta' : 'media');\nconst impactoRaw = norm(datos.impacto || '');\nconst impacto = ['bajo','medio','alto','critico'].includes(impactoRaw) ? impactoRaw : (/crit|grave/i.test(raw) ? 'critico' : /alto/i.test(raw) ? 'alto' : 'medio');\nconst prioMap = { 'baja-bajo': 'baja', 'baja-medio': 'baja', 'baja-alto': 'media', 'baja-critico': 'alta', 'media-bajo': 'baja', 'media-medio': 'media', 'media-alto': 'alta', 'media-critico': 'critica', 'alta-bajo': 'media', 'alta-medio': 'alta', 'alta-alto': 'critica', 'alta-critico': 'critica' };\nfunction areaFrom(text) {\n  if (/backend|api|servidor|base de datos|db/i.test(text)) return 'backend/datos';\n  if (/frontend|interfaz|ui|pantalla|angular/i.test(text)) return 'frontend';\n  if (/testing|prueba|qa|test/i.test(text)) return 'testing/QA';\n  if (/deploy|despliegue|vps|contabo|infra|servidor/i.test(text)) return 'infraestructura/despliegue';\n  if (/cliente|usuario|firma|consentimiento|reunion/i.test(text)) return 'stakeholders';\n  return 'gestion del proyecto';\n}\nfunction cleanDesc(text) {\n  return String(text || '')\n    .replace(/^\\/pm\\s+(bloqueo|bloqueos|impedimento|impedimentos|riesgo|riesgos)\\s+\\w+/i, '')\n    .replace(/^\\/(bloqueo|bloqueos|impedimento|impedimentos|riesgo|riesgos)\\s*/i, '')\n    .replace(/prioridad:?\\s*(baja|media|alta|cr[ií]tica)/ig, '')\n    .replace(/probabilidad:?\\s*(baja|media|alta)/ig, '')\n    .replace(/impacto:?\\s*(bajo|medio|alto|cr[ií]tico)/ig, '')\n    .replace(/responsable:?\\s*[^,;\\n]+/ig, '')\n    .replace(/tarea:?\\s*#?\\d+/ig, '')\n    .trim();\n}\nconst area = areaFrom(raw);\nconst descBase = cleanDesc(raw) || raw;\nconst desc = `[${area}] ${descBase}`;\nlet query;\nlet target;\nif (intencion === 'riesgo') {\n  target = 'DISCORD_CHANNEL_RIESGOS';\n  const prioridad = prioMap[`${prob}-${impacto}`] || 'media';\n  const mitigacion = raw.match(/mitigaci[oó]n:?\\s*([^;\\n]+)/i)?.[1]?.trim() || (area === 'infraestructura/despliegue' ? 'Definir contingencia tecnica, responsable y fecha de revision.' : area === 'stakeholders' ? 'Alinear expectativa con el cliente y dejar acuerdo registrado.' : 'Definir mitigacion, responsable y fecha de revision.');\n  query = `INSERT INTO pm_riesgos (descripcion, probabilidad, impacto, prioridad_calculada, mitigacion, estado, responsable, creado_por)\nVALUES (${q(desc)}, ${q(prob)}, ${q(impacto)}, ${q(prioridad)}, ${q(mitigacion)}, 'abierto', ${q(datos.responsable || ctx.usuario)}, ${q(ctx.usuario)})\nRETURNING 'risk' AS action, id, descripcion, probabilidad, impacto, prioridad_calculada, mitigacion, responsable, ${q(area)} AS area_aplicacion;`;\n} else {\n  target = 'DISCORD_CHANNEL_BLOQUEOS';\n  const action = raw.match(/accion:?\\s*([^;\\n]+)/i)?.[1]?.trim() || (taskId ? 'Acordar desbloqueo con responsable de la tarea y actualizar fecha si cambia el plan.' : 'Asignar responsable de resolucion, vincular tarea afectada y revisar impacto en el plan.');\n  query = `INSERT INTO pm_bloqueos (descripcion, responsable_afectado, tarea_id, severidad, estado, accion_recomendada, creado_por)\nVALUES (${q(desc)}, ${q(datos.responsable || ctx.usuario)}, ${taskId || 'NULL'}, ${q(sev)}, 'abierto', ${q(action)}, ${q(ctx.usuario)})\nRETURNING 'blocker' AS action, id, descripcion, responsable_afectado, tarea_id, severidad, accion_recomendada, ${q(area)} AS area_aplicacion;`;\n}\nreturn [{ json: { query, canal_destino: target, canal_id: process.env[target] || ctx.canal_origen } }];"
      }
    },
    {
      "id": "run-br",
      "name": "Run Bloqueo/Riesgo Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-br",
      "name": "Format Bloqueo/Riesgo Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst rows = $input.all().map(i => i.json);\nconst r = rows[0] || {};\nconst ctx = $('Build Bloqueo/Riesgo Query').item.json;\nlet respuesta;\nif (r.action === 'risk') {\n  respuesta = `Riesgo registrado.\\nID: #${r.id}\\nAplicacion: ${r.area_aplicacion}\\nDescripcion: ${r.descripcion}\\nProbabilidad: ${r.probabilidad}\\nImpacto: ${r.impacto}\\nPrioridad calculada: ${r.prioridad_calculada}\\nMitigacion sugerida: ${r.mitigacion}\\nProximo paso: asignar responsable de mitigacion y fecha de revision.`;\n} else {\n  if (!rows.length && ctx.mode === 'list') respuesta = ctx.canal_destino === 'DISCORD_CHANNEL_RIESGOS' ? 'No hay riesgos abiertos registrados.' : 'No hay bloqueos activos registrados.';\n  else if (r.action === 'risk_list') respuesta = 'Riesgos abiertos:\\n' + rows.map(x => `- #${x.id} [${x.prioridad_calculada}] ${x.descripcion} | mitigacion: ${x.mitigacion || 'sin definir'} | responsable: ${x.responsable || 'sin asignar'}`).join('\\n');\n  else if (r.action === 'blocker_list') respuesta = 'Bloqueos activos:\\n' + rows.map(x => `- #${x.id} [${x.severidad}] ${x.descripcion} | tarea: ${x.tarea_id ? '#' + x.tarea_id : 'sin asociar'} | accion: ${x.accion_recomendada || 'sin definir'}`).join('\\n');\n  else if (r.action === 'risk_closed' || r.action === 'blocker_closed') respuesta = `Elemento actualizado.\\nID: #${r.id}\\nEstado: ${r.estado}\\nDescripcion: ${r.descripcion}`;\n  else respuesta = `Detecte y registre un bloqueo.\\nID: #${r.id}\\nAplicacion: ${r.area_aplicacion}\\nAfectado: ${r.responsable_afectado}\\nSeveridad: ${r.severidad}\\nTarea: ${r.tarea_id ? '#' + r.tarea_id : 'sin tarea asociada'}\\nAccion recomendada: ${r.accion_recomendada}\\nProximo paso: cerrar con /pm bloqueo cerrar #${r.id} cuando quede resuelto.`;\n}\nconst storage = String(r.action || '').startsWith('risk') ? 'postgres:pm_riesgos' : 'postgres:pm_bloqueos';\nreturn [{ json: { respuesta, canal_destino: ctx.canal_destino, canal_id: ctx.canal_id, storage } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Bloqueo/Riesgo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Bloqueo/Riesgo Query": {
      "main": [
        [
          {
            "node": "Run Bloqueo/Riesgo Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Bloqueo/Riesgo Query": {
      "main": [
        [
          {
            "node": "Format Bloqueo/Riesgo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "wf-pm-error-handler"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  }
}
