bot/1. 🧠 AI Intelligence (Agentes Especializados)/AI - Stakeholder Liaison.json
{
  "name": "AI - Stakeholder Liaison",
  "nodes": [
    {
      "parameters": {},
      "id": "stakeholder-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT progreso_pct, total_completadas, total_tarjetas, severidad_max, recomendaciones_ia, kpis, github, hitos_proximos, fases, fecha FROM analisis_proyecto ORDER BY id DESC LIMIT 1;",
        "options": {}
      },
      "id": "stakeholder-fetch",
      "name": "Fetch Project Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 400],
      "credentials": { "postgres": { "id": "upx1y0H6Nw7XOqLJ", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const event = $('Execute Workflow Trigger').item.json;\nconst row = $json || {};\nconst safeObj = v => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst safeArr = v => Array.isArray(v) ? v : [];\nconst kpis = safeObj(row.kpis);\nconst github = safeObj(row.github);\nconst hitos = safeArr(row.hitos_proximos);\nconst fases = safeObj(row.fases);\nconst progreso = Number(row.progreso_pct || 0);\nconst completadas = Number(row.total_completadas || 0);\nconst total = Number(row.total_tarjetas || 0);\nconst severidad = String(row.severidad_max || 'baja');\nconst iaContext = String(row.recomendaciones_ia || '').slice(0, 600);\nconst diasFin = kpis.dias_hasta_fin || '?';\nconst proyeccion = kpis.proyeccion || 'sin datos';\nconst velocidad = kpis.velocidad_tareas_por_dia || 0;\nconst fechaStr = row.fecha ? new Date(row.fecha).toLocaleDateString('es-EC', { timeZone: 'America/Guayaquil' }) : 'desconocida';\nconst fasesRes = Object.values(fases).map(f => `${f.nombre || 'Fase'}: ${f.pct || 0}%`).join(', ') || 'Sin datos';\nconst hitosRes = hitos.slice(0, 3).map(h => `${h.nombre} (en ${h.dias_faltan}d)`).join(', ') || 'Sin hitos';\nconst ciBack = github.ci_back ? github.ci_back.status : 'sin datos';\nconst ciFront = github.ci_front ? github.ci_front.status : 'sin datos';\nconst prompt = `Eres el Stakeholder Liaison del proyecto PetSafe (clinica veterinaria, software de gestion). Habla en lenguaje de NEGOCIO: sin commits, PRs, branches, CI/CD, merge, backend, frontend, refactor.\\n\\nFecha: ${fechaStr} | Fecha limite: 10 jun 2026 | Dias restantes: ${diasFin}\\nAvance: ${progreso}% (${completadas}/${total} funcionalidades) | Ritmo: ${velocidad}/dia | Alerta: ${severidad}\\nProyeccion: ${proyeccion}\\nAreas: ${fasesRes}\\nHitos proximos: ${hitosRes}\\nCalidad: Produccion backend ${ciBack}, frontend ${ciFront}\\nAnalisis PM: ${iaContext}\\n\\nEscribe un resumen ejecutivo para el cliente/sponsor. Texto plano, SIN markdown, SIN asteriscos. Maximo 200 palabras.\\nSecciones obligatorias:\\nESTADO: Una oracion de estado y porcentaje.\\nLOGROS: Que puede hacer el usuario final hoy.\\nPROXIMOS PASOS: Que valor se entrega esta semana.\\nRIESGOS: Si hay riesgo para la fecha o calidad (lenguaje de negocio).`;\nreturn [{ json: { correlation_id: event.correlation_id || `stakeholder-${Date.now()}`, event_type: event.event_type || 'stakeholder_report', actor: event.actor || 'system', prompt, progreso, severidad, diasFin, proyeccion, fechaStr } }];"
      },
      "id": "stakeholder-context",
      "name": "Prepare Stakeholder Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "stakeholder-chain",
      "name": "Gemini Stakeholder Liaison",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [660, 400]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": { "temperature": 0.3 }
      },
      "id": "stakeholder-model",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [660, 608],
      "credentials": { "googlePalmApi": { "id": "O6F3cHruroRP0y6x", "name": "Gemini - Jos" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text ?? $json.output ?? $json.response ?? '';\nconst summary = typeof raw === 'string' ? raw.trim() : JSON.stringify(raw);\nconst ctx = $('Prepare Stakeholder Context').item.json;\nconst colorMap = { alta: 15158332, media: 16761095, baja: 3066993 };\nconst color = colorMap[ctx.severidad] || 3066993;\nconst semE = ctx.severidad === 'alta' ? '🔴' : ctx.severidad === 'media' ? '🟡' : '🟢';\nconst discord_payload = { username: 'PM PetSafe · Liaison', embeds: [{ title: `${semE} Resumen Ejecutivo PetSafe · ${ctx.fechaStr}`, description: summary.slice(0, 3900), color, fields: [{ name: '📊 Avance Global', value: `**${ctx.progreso}%** · ${ctx.diasFin}d hasta entrega`, inline: true }, { name: '📈 Proyección', value: String(ctx.proyeccion), inline: true }], footer: { text: 'Reporte ejecutivo · PM PetSafe AI' }, timestamp: new Date().toISOString() }], allowed_mentions: { parse: [] } };\nreturn [{ json: { correlation_id: ctx.correlation_id, agent_role: 'Stakeholder Liaison', decision_type: 'stakeholder_report', input_summary: `Stakeholder report: ${ctx.progreso}% progress, severity=${ctx.severidad}`.slice(0,500), context_used: { progreso: ctx.progreso, severidad: ctx.severidad, diasFin: ctx.diasFin }, evidence: { executive_summary: summary.slice(0,1000) }, decision: { summary: summary.slice(0,500) }, recommendation: summary.slice(0,500), confidence: 0.9, risk_level: ctx.severidad === 'alta' ? 'high' : ctx.severidad === 'media' ? 'medium' : 'low', requires_human_approval: false, discord_payload } }];"
      },
      "id": "stakeholder-payload",
      "name": "Build Stakeholder Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_decisions (correlation_id, agent_role, decision_type, input_summary, context_used, evidence, decision, recommendation, confidence, risk_level, requires_human_approval, status) VALUES ($1, $2, $3, $4, $5::jsonb, $6::jsonb, $7::jsonb, $8, $9, $10, $11, $12);",
        "options": {
          "queryReplacement": "={{ [$json.correlation_id, $json.agent_role, $json.decision_type, $json.input_summary, JSON.stringify($json.context_used), JSON.stringify($json.evidence), JSON.stringify($json.decision), $json.recommendation.slice(0,1000), $json.confidence, $json.risk_level, false, 'logged'] }}"
        }
      },
      "id": "stakeholder-log",
      "name": "Log AI Decision",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 200],
      "credentials": { "postgres": { "id": "upx1y0H6Nw7XOqLJ", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.discord_payload) }}",
        "options": {}
      },
      "id": "stakeholder-discord",
      "name": "Discord Stakeholder Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Fetch Project Context", "type": "main", "index": 0 }]] },
    "Fetch Project Context": { "main": [[{ "node": "Prepare Stakeholder Context", "type": "main", "index": 0 }]] },
    "Prepare Stakeholder Context": { "main": [[{ "node": "Gemini Stakeholder Liaison", "type": "main", "index": 0 }]] },
    "Gemini Stakeholder Liaison": { "main": [[{ "node": "Build Stakeholder Payload", "type": "main", "index": 0 }]] },
    "Google Gemini Model": { "ai_languageModel": [[{ "node": "Gemini Stakeholder Liaison", "type": "ai_languageModel", "index": 0 }]] },
    "Build Stakeholder Payload": { "main": [[{ "node": "Log AI Decision", "type": "main", "index": 0 }, { "node": "Discord Stakeholder Report", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "errorWorkflow": "O4qJYNx2qDrWB3wt" },
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5" },
  "tags": []
}
