bot/1. 🧠 AI Intelligence (Agentes Especializados)/AI - Team Onboarding.json
{
  "name": "AI - Team Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-member-join",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "onboarding-webhook",
      "name": "Discord Member Join Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "onboarding-discord-join-v1"
    },
    {
      "parameters": {},
      "id": "onboarding-manual-trigger",
      "name": "Manual / Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "// Unificar ambos triggers: webhook de Discord GUILD_MEMBER_ADD o ejecución manual (!onboarding @user)\nconst body = $json.body || $json || {};\nconst isWebhook = !!body.t; // Discord Gateway event has 't' field\n\nlet newMember = 'desconocido';\nlet discordUserId = null;\nlet isBot = false;\n\nif (isWebhook) {\n  // Discord GUILD_MEMBER_ADD via webhook/bot\n  const d = body.d || body;\n  const user = d.user || {};\n  newMember = user.global_name || user.username || 'desconocido';\n  discordUserId = user.id || null;\n  isBot = user.bot === true;\n} else {\n  // Manual trigger desde !onboarding en Chat Discord\n  newMember = body.new_member || body.usuario_target || body.actor || 'desconocido';\n  discordUserId = body.discord_user_id || null;\n  isBot = false;\n}\n\nif (isBot) {\n  return [{ json: { skip: true, reason: 'Bot user, skip onboarding.' } }];\n}\n\nreturn [{ json: {\n  correlation_id: `onboarding-${Date.now()}`,\n  new_member: newMember,\n  discord_user_id: discordUserId,\n  skip: false,\n  triggered_by: isWebhook ? 'discord_join' : 'manual'\n}}];"
      },
      "id": "onboarding-normalize",
      "name": "Normalize Trigger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [{ "id": "skip-check", "leftValue": "={{ $json.skip }}", "rightValue": "", "operator": { "type": "boolean", "operation": "false" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "onboarding-if-not-bot",
      "name": "IF Not Bot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ap.progreso_pct, ap.total_completadas, ap.total_tarjetas, ap.kpis,\n  ap.fases, ap.github, ap.ranking, ap.hitos_proximos,\n  ap.recomendaciones_ia, ap.fecha,\n  (SELECT COUNT(*) FROM estado_tareas WHERE completada = false AND miembro_nombre IS NULL) AS tareas_sin_asignar,\n  (SELECT json_agg(json_build_object('nombre', card_nombre, 'lista', lista_nombre, 'vencimiento', fecha_vencimiento))\n   FROM estado_tareas WHERE completada = false AND miembro_nombre IS NULL\n   ORDER BY fecha_vencimiento NULLS LAST LIMIT 5) AS primeras_tareas_disponibles,\n  (SELECT json_agg(json_build_object('tipo', decision_type, 'nivel', risk_level, 'recomendacion', recommendation))\n   FROM ai_decisions WHERE created_at > NOW() - INTERVAL '7 days' AND risk_level IN ('high','medium')\n   ORDER BY created_at DESC LIMIT 3) AS alertas_recientes\nFROM analisis_proyecto ap\nORDER BY ap.id DESC LIMIT 1;",
        "options": {}
      },
      "id": "onboarding-fetch-context",
      "name": "Fetch Project Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 200],
      "credentials": { "postgres": { "id": "upx1y0H6Nw7XOqLJ", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/STRATIUM-UTA/PetSafe-Back/issues?labels=good+first+issue&state=open&per_page=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN_BACKEND || $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" }
          ]
        },
        "options": {}
      },
      "id": "onboarding-gfi-back",
      "name": "GitHub Good First Issues Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/JosueGarciaAbata/PetSafe-Front/issues?labels=good+first+issue&state=open&per_page=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN_FRONTEND || $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" }
          ]
        },
        "options": {}
      },
      "id": "onboarding-gfi-front",
      "name": "GitHub Good First Issues Frontend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Normalize Trigger').item.json;\nconst pgRow = $('Fetch Project Context').item.json || {};\nconst safeArr = v => Array.isArray(v) ? v : [];\nconst safeObj = v => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\n\nconst gfiBack = safeArr($('GitHub Good First Issues Backend').item.json);\nconst gfiFront = safeArr($('GitHub Good First Issues Frontend').item.json);\n\nconst kpis = safeObj(pgRow.kpis);\nconst github = safeObj(pgRow.github);\nconst fases = safeObj(pgRow.fases);\nconst ranking = safeArr(pgRow.ranking);\nconst hitos = safeArr(pgRow.hitos_proximos);\nconst primerasTareas = safeArr(pgRow.primeras_tareas_disponibles);\nconst alertasRecientes = safeArr(pgRow.alertas_recientes);\n\nconst progreso = Number(pgRow.progreso_pct || 0);\nconst diasFin = kpis.dias_hasta_fin || '?';\nconst velocidad = kpis.velocidad_tareas_por_dia || 0;\nconst newMember = trigger.new_member || 'Nuevo integrante';\n\n// Good First Issues\nconst allGFI = [\n  ...gfiBack.filter(i => !i.pull_request).map(i => ({ ...i, repo: 'Backend (NestJS)' })),\n  ...gfiFront.filter(i => !i.pull_request).map(i => ({ ...i, repo: 'Frontend (Angular)' }))\n].slice(0, 6);\n\nconst gfiStr = allGFI.length > 0\n  ? allGFI.map(i => `• [${i.repo}] #${i.number} — ${i.title?.slice(0, 70)} (${i.html_url})`).join('\\n')\n  : '• No hay issues etiquetados como \"good first issue\" en este momento. Se asignará una tarea Trello disponible.';\n\n// Tareas Trello disponibles para asignar\nconst tareasDisp = primerasTareas.length > 0\n  ? primerasTareas.map(t => `• [${t.lista}] ${t.nombre}${t.vencimiento ? ' (vence: '+t.vencimiento.slice(0,10)+')' : ''}`).join('\\n')\n  : '• Sin tareas sin asignar disponibles en este momento.';\n\n// Equipo actual\nconst equipoStr = ranking.slice(0, 5).map(r =>\n  `• ${r.trello_name}: ${r.tareas_done} hechas, ${r.tareas_pending} pendientes`\n).join('\\n') || '(Sin datos de equipo disponibles)';\n\n// Hitos próximos\nconst hitosStr = hitos.slice(0, 3).map(h => `• ${h.nombre} en ${h.dias_faltan}d`).join('\\n') || '(Sin hitos próximos)';\n\n// Alertas que debe conocer\nconst alertasStr = alertasRecientes.length > 0\n  ? alertasRecientes.map(a => `• [${a.nivel?.toUpperCase()}] ${a.recomendacion?.slice(0,80)}`).join('\\n')\n  : 'Sin alertas activas.';\n\n// Estado fases\nconst fasesStr = Object.values(fases).map(f =>\n  `• ${f.nombre}: ${f.pct}% completado`\n).join('\\n') || '(Sin información de fases)';\n\nconst prompt = `Eres el PM Senior del proyecto PetSafe (software de gestión para clínica veterinaria, NestJS + Angular, cierre 10-jun-2026). Un nuevo integrante del equipo acaba de unirse: ${newMember}.\n\nTu tarea es crear un mensaje de bienvenida y onboarding personalizado, profesional, motivador y completo. Texto plano, SIN markdown, SIN asteriscos, en español.\n\nESTADO ACTUAL DEL PROYECTO:\nProgreso: ${progreso}% (${pgRow.total_completadas}/${pgRow.total_tarjetas} funcionalidades)\nDías hasta cierre: ${diasFin} | Velocidad actual: ${velocidad} entregas/día\n\nFASES DEL PROYECTO:\n${fasesStr}\n\nPRÓXIMOS HITOS:\n${hitosStr}\n\nALERTAS RECIENTES DEL SISTEMA:\n${alertasStr}\n\nTu mensaje de bienvenida debe incluir:\n1. BIENVENIDA: Saludo cálido y profesional a ${newMember}, menciona el proyecto y su importancia.\n2. CONTEXTO DEL PROYECTO: Explica en 3-4 oraciones qué es PetSafe, el stack tecnológico (NestJS, Angular, PostgreSQL, n8n), y en qué fase están.\n3. EL EQUIPO: Preséntale al equipo actual brevemente (FG=Felipe Guerrero, DM=David Mendez, DP=David Perez, JA=Josue Asencio). Menciona que puede preguntar cualquier duda.\n4. PRIMERAS TAREAS RECOMENDADAS: Basándote en los issues y tareas disponibles, sugiere 2-3 con las que puede empezar.\n5. CONVENCIONES IMPORTANTES: Menciona que deben usar commits convencionales (feat/fix/docs/chore), hacer PRs descriptivos y actualizar las tarjetas Trello.\n6. RECURSOS CLAVE: Menciona que tiene acceso al bot PM (comandos: !ayuda, !kpis, !reporte, !estado, !ci) y puede pedir cualquier información del proyecto en cualquier momento.\n7. PRIMER DIA: Qué debe hacer hoy (revisar tablero Trello, leer README, hacer un commit de prueba, presentarse en Discord).`;\n\nconst colorMap = { verde: 3066993, amarillo: 16761095, rojo: 15158332 };\n\nreturn [{ json: {\n  correlation_id: trigger.correlation_id,\n  new_member: newMember,\n  discord_user_id: trigger.discord_user_id,\n  prompt,\n  gfiStr,\n  tareasDisp,\n  equipoStr,\n  hitosStr,\n  alertasStr,\n  progreso,\n  diasFin\n}}];"
      },
      "id": "onboarding-build-context",
      "name": "Build Onboarding Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "onboarding-chain",
      "name": "Gemini Onboarding Message",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": { "temperature": 0.5 }
      },
      "id": "onboarding-model",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1100, 608],
      "credentials": { "googlePalmApi": { "id": "O6F3cHruroRP0y6x", "name": "Gemini - Jos" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text ?? $json.output ?? $json.response ?? '';\nconst welcomeText = typeof raw === 'string' ? raw.trim() : JSON.stringify(raw);\nconst ctx = $('Build Onboarding Context').item.json;\n\nconst memberMention = ctx.discord_user_id ? `<@${ctx.discord_user_id}>` : `**${ctx.new_member}**`;\n\n// Split long welcome into chunks for Discord embed fields\nconst chunkText = (text, size = 900) => {\n  const lines = String(text || '').split('\\n');\n  const chunks = [];\n  let current = '';\n  for (const line of lines) {\n    if ((current + '\\n' + line).length > size && current) { chunks.push(current); current = line; }\n    else { current = current ? current + '\\n' + line : line; }\n  }\n  if (current) chunks.push(current);\n  return chunks.length ? chunks : ['(sin contenido)'];\n};\n\nconst welcomeChunks = chunkText(welcomeText, 900);\nconst fields = [\n  { name: '👋 Bienvenida', value: welcomeChunks[0].slice(0, 1024) }\n];\nif (welcomeChunks[1]) fields.push({ name: '📋 Continuación', value: welcomeChunks[1].slice(0, 1024) });\nfields.push({ name: '🔰 Primeras Tareas Disponibles (Trello)', value: ctx.tareasDisp.slice(0, 800) });\nfields.push({ name: '🐛 Good First Issues (GitHub)', value: ctx.gfiStr.slice(0, 800) });\nfields.push({ name: '👥 El Equipo', value: ctx.equipoStr.slice(0, 500) });\nfields.push({ name: '🤖 Comandos del Bot PM', value: '`!ayuda` · `!kpis` · `!reporte` · `!estado` · `!ci` · `!commits` · `!hitos` · `!riesgos` · `!acciones`' });\n\nconst discord_payload = {\n  username: 'PM PetSafe · Onboarding',\n  content: `👋 ¡Bienvenido al equipo PetSafe, ${memberMention}! Tu kit de onboarding está listo. 🚀`,\n  embeds: [{\n    title: `🎯 Kit de Onboarding · ${ctx.new_member}`,\n    description: `El proyecto está al **${ctx.progreso}%** · **${ctx.diasFin} días** hasta el cierre el 10-jun-2026`,\n    color: 5814783,\n    fields: fields.slice(0, 8),\n    footer: { text: 'Onboarding automático · PM PetSafe AI · Cualquier duda usa !ayuda en Discord' },\n    timestamp: new Date().toISOString()\n  }],\n  allowed_mentions: { parse: ['users'] }\n};\n\nreturn [{ json: {\n  correlation_id: ctx.correlation_id,\n  agent_role: 'Team Onboarding',\n  decision_type: 'onboarding',\n  input_summary: `Onboarding: ${ctx.new_member}`.slice(0,500),\n  context_used: { new_member: ctx.new_member, progreso: ctx.progreso },\n  evidence: { welcome_text: welcomeText.slice(0,1000) },\n  decision: { onboarded: ctx.new_member },\n  recommendation: 'Onboarding completado. Verificar asignación de tareas en Trello.',\n  confidence: 0.95,\n  risk_level: 'low',\n  requires_human_approval: false,\n  discord_payload\n}}];"
      },
      "id": "onboarding-build-payload",
      "name": "Build Onboarding Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.discord_payload) }}",
        "options": {}
      },
      "id": "onboarding-discord",
      "name": "Discord Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_decisions (correlation_id, agent_role, decision_type, input_summary, context_used, evidence, decision, recommendation, confidence, risk_level, requires_human_approval, status) VALUES ($1, $2, $3, $4, $5::jsonb, $6::jsonb, $7::jsonb, $8, $9, $10, $11, $12);",
        "options": {
          "queryReplacement": "={{ [$json.correlation_id, $json.agent_role, $json.decision_type, $json.input_summary, JSON.stringify($json.context_used), JSON.stringify($json.evidence), JSON.stringify($json.decision), $json.recommendation.slice(0,1000), $json.confidence, $json.risk_level, false, 'logged'] }}"
        }
      },
      "id": "onboarding-log",
      "name": "Log AI Decision",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, 400],
      "credentials": { "postgres": { "id": "upx1y0H6Nw7XOqLJ", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "onboarding processed",
        "options": {}
      },
      "id": "onboarding-webhook-resp",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1540, 600]
    }
  ],
  "pinData": {},
  "connections": {
    "Discord Member Join Webhook": { "main": [[{ "node": "Normalize Trigger", "type": "main", "index": 0 }]] },
    "Manual / Execute Workflow Trigger": { "main": [[{ "node": "Normalize Trigger", "type": "main", "index": 0 }]] },
    "Normalize Trigger": { "main": [[{ "node": "IF Not Bot", "type": "main", "index": 0 }]] },
    "IF Not Bot": {
      "main": [
        [
          { "node": "Fetch Project Context", "type": "main", "index": 0 },
          { "node": "GitHub Good First Issues Backend", "type": "main", "index": 0 },
          { "node": "GitHub Good First Issues Frontend", "type": "main", "index": 0 }
        ],
        [{ "node": "Webhook Response", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Project Context": { "main": [[{ "node": "Build Onboarding Context", "type": "main", "index": 0 }]] },
    "GitHub Good First Issues Backend": { "main": [[{ "node": "Build Onboarding Context", "type": "main", "index": 0 }]] },
    "GitHub Good First Issues Frontend": { "main": [[{ "node": "Build Onboarding Context", "type": "main", "index": 0 }]] },
    "Build Onboarding Context": { "main": [[{ "node": "Gemini Onboarding Message", "type": "main", "index": 0 }]] },
    "Gemini Onboarding Message": { "main": [[{ "node": "Build Onboarding Payload", "type": "main", "index": 0 }]] },
    "Google Gemini Model": { "ai_languageModel": [[{ "node": "Gemini Onboarding Message", "type": "ai_languageModel", "index": 0 }]] },
    "Build Onboarding Payload": { "main": [[
      { "node": "Discord Welcome Message", "type": "main", "index": 0 },
      { "node": "Log AI Decision", "type": "main", "index": 0 },
      { "node": "Webhook Response", "type": "main", "index": 0 }
    ]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "errorWorkflow": "O4qJYNx2qDrWB3wt" },
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5" },
  "tags": []
}
