bot/1. 🧠 AI Intelligence (Agentes Especializados)/AI - Release Guard.json
{
  "name": "AI - Release Guard",
  "nodes": [
    {
      "parameters": {},
      "id": "3103f3e2-4126-4be4-963d-2d281e4aed0f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS analisis_proyecto (\n  id bigserial PRIMARY KEY,\n  fecha_ejecucion timestamptz NOT NULL DEFAULT NOW(),\n  hay_problemas boolean NOT NULL DEFAULT false,\n  total_tareas integer NOT NULL DEFAULT 0,\n  tareas_completadas integer NOT NULL DEFAULT 0,\n  tareas_vencidas integer NOT NULL DEFAULT 0,\n  progreso_pct integer NOT NULL DEFAULT 0,\n  commits_backend integer NOT NULL DEFAULT 0,\n  commits_frontend integer NOT NULL DEFAULT 0,\n  prs_abiertos_backend integer NOT NULL DEFAULT 0,\n  prs_abiertos_frontend integer NOT NULL DEFAULT 0,\n  problemas_detectados jsonb NOT NULL DEFAULT '[]'::jsonb,\n  cantidad_problemas integer NOT NULL DEFAULT 0,\n  severidad_maxima text,\n  kpis_json jsonb NOT NULL DEFAULT '{}'::jsonb,\n  recomendaciones_ia text\n);\nSELECT hay_problemas, severidad_maxima, tareas_vencidas, progreso_pct, prs_abiertos_backend, prs_abiertos_frontend, recomendaciones_ia\nFROM analisis_proyecto\nORDER BY fecha_ejecucion DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "86640815-630a-480e-a2c3-12aab2a55128",
      "name": "Fetch Last Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -80,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS estado_tareas (\n  id bigserial PRIMARY KEY,\n  analisis_id bigint,\n  fecha timestamptz NOT NULL DEFAULT NOW(),\n  card_id text NOT NULL DEFAULT 'unknown',\n  card_nombre text,\n  lista_nombre text,\n  miembro_id text,\n  miembro_nombre text,\n  fecha_vencimiento timestamptz,\n  completada boolean NOT NULL DEFAULT false,\n  tiene_adjuntos boolean NOT NULL DEFAULT false,\n  adjuntos_count integer NOT NULL DEFAULT 0\n);\nSELECT COUNT(*) as tareas_criticas\nFROM estado_tareas\nWHERE completada = false AND fecha_vencimiento < NOW() + INTERVAL '2 days';",
        "options": {}
      },
      "id": "f171df32-1a25-4f81-8203-150e5bd2420d",
      "name": "Fetch At-Risk Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        112,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $('Execute Workflow Trigger').item.json || {};\nconst analysis = $('Fetch Last Analysis').first()?.json || {};\nconst overdue = $json || {};\n\nreturn [{\n  json: {\n    correlation_id: event.correlation_id || `release-guard-${Date.now()}`,\n    repo: event.repo || 'unknown',\n    branch: event.branch || 'main',\n    actor: event.actor || 'system',\n    hay_problemas: analysis.hay_problemas || false,\n    severidad_maxima: analysis.severidad_maxima || 'none',\n    tareas_vencidas: Number(analysis.tareas_vencidas || 0),\n    progreso_pct: Number(analysis.progreso_pct || 0),\n    prs_abiertos_backend: Number(analysis.prs_abiertos_backend || 0),\n    prs_abiertos_frontend: Number(analysis.prs_abiertos_frontend || 0),\n    tareas_criticas_proximas: Number(overdue.tareas_criticas || 0),\n    recomendaciones_previas: analysis.recomendaciones_ia || 'ninguna'\n  }\n}];"
      },
      "id": "f9b29dd3-d269-4bc5-a4d8-05a311251cb7",
      "name": "Merge Release Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Eres el Release Guard de PetSafe. Decide si el release es seguro.\\n\\nEstado actual:\\n- Problemas activos: ' + $json.hay_problemas + '\\n- Severidad máxima: ' + $json.severidad_maxima + '\\n- Tareas vencidas: ' + $json.tareas_vencidas + '\\n- Progreso: ' + $json.progreso_pct + '%\\n- PRs abiertos backend/frontend: ' + $json.prs_abiertos_backend + '/' + $json.prs_abiertos_frontend + '\\n- Tareas críticas próximas (2d): ' + $json.tareas_criticas_proximas + '\\n- Recomendaciones previas: ' + $json.recomendaciones_previas + '\\n\\nRelease: ' + $json.branch + ' en ' + $json.repo + ' por ' + $json.actor + '\\n\\nResponde SOLO con JSON valido, sin markdown, sin ``` y sin texto adicional. Formato exacto:\\n{\\n  \"release_approved\": true,\\n  \"confidence\": 0.85,\\n  \"risk_level\": \"low\",\\n  \"blockers\": [],\\n  \"warnings\": [],\\n  \"recommendation\": \"mensaje accionable\",\\n  \"requires_human_approval\": true\\n}' }}"
      },
      "id": "ed81c23a-e823-44cb-bd63-cafae68a452f",
      "name": "Gemini Release Guard",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        560,
        48
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "id": "8ad3e4cd-1105-4c3d-8699-0f1d1ffcbf59",
      "name": "Google Gemini Model Pro",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "O6F3cHruroRP0y6x",
          "name": "Gemini - Jos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.output || $json.response || JSON.stringify($json || {});\nlet cleaned = String(raw).trim();\n\ncleaned = cleaned\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nconst start = cleaned.indexOf('{');\nconst end = cleaned.lastIndexOf('}');\nif (start !== -1 && end !== -1 && end > start) {\n  cleaned = cleaned.slice(start, end + 1);\n}\n\nlet decision;\ntry {\n  decision = JSON.parse(cleaned);\n} catch (error) {\n  decision = {\n    release_approved: false,\n    confidence: 0.5,\n    risk_level: 'high',\n    blockers: ['No se pudo parsear la respuesta del modelo como JSON valido.'],\n    warnings: [String(raw).slice(0, 500)],\n    recommendation: 'Revisar manualmente el release porque la decision automatica no pudo interpretarse.',\n    requires_human_approval: true\n  };\n}\n\ndecision.release_approved = Boolean(decision.release_approved);\ndecision.confidence = Number(decision.confidence || 0.5);\ndecision.risk_level = ['low', 'medium', 'high', 'critical'].includes(decision.risk_level) ? decision.risk_level : 'high';\ndecision.blockers = Array.isArray(decision.blockers) ? decision.blockers : [];\ndecision.warnings = Array.isArray(decision.warnings) ? decision.warnings : [];\ndecision.recommendation = decision.recommendation || 'Revisar manualmente antes de liberar.';\ndecision.requires_human_approval = Boolean(decision.requires_human_approval);\n\nreturn [{ json: decision }];"
      },
      "id": "d9a9dfe8-2f7b-4511-a011-c862221f1078",
      "name": "Parse Release Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const decision = $json || {};\nconst ctx = $('Merge Release Context').item.json || {};\n\nconst emoji = decision.release_approved ? '✅' : '🚫';\nconst status = decision.release_approved ? 'APROBADO' : 'BLOQUEADO';\nconst riskEmoji = { low: '🟢', medium: '🟡', high: '🟠', critical: '🔴' }[decision.risk_level] || '⚪';\n\nconst lines = [\n  `${emoji} **Release Guard — ${status}** ${riskEmoji}`,\n  '',\n  `📦 **Release:** \\`${ctx.branch}\\` en \\`${ctx.repo}\\``,\n  `👤 **Solicitado por:** ${ctx.actor}`,\n  `📊 **Confianza:** ${Math.round((decision.confidence || 0) * 100)}%`,\n  ''\n];\n\nconst blockers = Array.isArray(decision.blockers) ? decision.blockers : [];\nconst warnings = Array.isArray(decision.warnings) ? decision.warnings : [];\n\nif (blockers.length > 0) {\n  lines.push('🚫 **Bloqueos:**');\n  blockers.forEach(b => lines.push(`  - ${b}`));\n  lines.push('');\n}\n\nif (warnings.length > 0) {\n  lines.push('⚠️ **Advertencias:**');\n  warnings.forEach(w => lines.push(`  - ${w}`));\n  lines.push('');\n}\n\nlines.push(`💬 **Recomendación:** ${decision.recommendation || 'Revisar manualmente antes de liberar.'}`);\n\nif (decision.requires_human_approval) {\n  lines.push('', '🔑 *Requiere aprobación del Tech Lead.*');\n}\n\nreturn [{\n  json: {\n    content: lines.join('\\n').slice(0, 2000),\n    release_approved: decision.release_approved,\n    risk_level: decision.risk_level,\n    confidence: decision.confidence,\n    blockers,\n    warnings,\n    recommendation: decision.recommendation,\n    requires_human_approval: decision.requires_human_approval,\n    correlation_id: ctx.correlation_id,\n    event_id: 'release-guard:' + ctx.correlation_id,\n    idempotency_key: 'release-guard:' + ctx.correlation_id\n  }\n}];"
      },
      "id": "47c26dd2-aca1-4a28-89bd-3e5e4d1a395d",
      "name": "Build Release Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS events_outbox (\n  outbox_id bigserial PRIMARY KEY,\n  event_id text,\n  target text NOT NULL DEFAULT 'discord',\n  action text NOT NULL DEFAULT 'notify',\n  idempotency_key text,\n  payload jsonb NOT NULL DEFAULT '{}'::jsonb,\n  status text NOT NULL DEFAULT 'pending',\n  retry_count integer NOT NULL DEFAULT 0,\n  scheduled_at timestamptz NOT NULL DEFAULT NOW(),\n  sent_at timestamptz,\n  last_error text,\n  created_at timestamptz NOT NULL DEFAULT NOW()\n);\nALTER TABLE events_outbox ADD COLUMN IF NOT EXISTS idempotency_key text;\nALTER TABLE events_outbox ADD COLUMN IF NOT EXISTS created_at timestamptz NOT NULL DEFAULT NOW();\nCREATE UNIQUE INDEX IF NOT EXISTS events_outbox_idempotency_key_uq ON events_outbox (idempotency_key);\nINSERT INTO events_outbox (event_id, target, action, idempotency_key, payload)\nVALUES ($1, 'discord', 'notify', $2, $3::jsonb)\nON CONFLICT (idempotency_key) DO NOTHING\nRETURNING outbox_id;",
        "options": {
          "queryReplacement": "={{ [ $json.event_id, $json.idempotency_key, JSON.stringify({ content: $json.content }) ] }}"
        }
      },
      "id": "2836bfe6-b783-4f76-96ad-cf99d25ae104",
      "name": "Queue Release Outbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1408,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Build Release Message').item.json || {};\nconst ctx = $('Merge Release Context').item.json || {};\n\nreturn [{\n  json: {\n    correlation_id: d.correlation_id,\n    agent_role: 'Release Guard',\n    decision_type: 'release_gate',\n    input_summary: `Release gate for ${ctx.branch || 'main'} in ${ctx.repo || 'unknown'}`,\n    context_used: {\n      repo: ctx.repo,\n      branch: ctx.branch,\n      actor: ctx.actor,\n      hay_problemas: ctx.hay_problemas,\n      severidad_maxima: ctx.severidad_maxima,\n      tareas_vencidas: ctx.tareas_vencidas,\n      progreso_pct: ctx.progreso_pct,\n      prs_abiertos_backend: ctx.prs_abiertos_backend,\n      prs_abiertos_frontend: ctx.prs_abiertos_frontend,\n      tareas_criticas_proximas: ctx.tareas_criticas_proximas,\n      recomendaciones_previas: ctx.recomendaciones_previas\n    },\n    evidence: {},\n    decision: {\n      release_approved: d.release_approved,\n      blockers: d.blockers || [],\n      warnings: d.warnings || []\n    },\n    recommendation: d.recommendation,\n    confidence: d.confidence || 0.9,\n    risk_level: d.risk_level || 'high',\n    requires_human_approval: d.requires_human_approval\n  }\n}];"
      },
      "id": "b08cd9a6-a462-4ca2-adec-a30ba99f80ae",
      "name": "Prepare Log Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wcNFn0XHidnGmrHg",
          "mode": "list",
          "cachedResultUrl": "/workflow/wcNFn0XHidnGmrHg",
          "cachedResultName": "System - AI Decision Logger"
        },
        "mode": "json",
        "options": {}
      },
      "id": "44e58838-faa3-4baf-a496-0e07485026b1",
      "name": "Log Release Decision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1808,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Last Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last Analysis": {
      "main": [
        [
          {
            "node": "Fetch At-Risk Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch At-Risk Tasks": {
      "main": [
        [
          {
            "node": "Merge Release Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Release Context": {
      "main": [
        [
          {
            "node": "Gemini Release Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Release Guard",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Release Guard": {
      "main": [
        [
          {
            "node": "Parse Release Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Release Decision": {
      "main": [
        [
          {
            "node": "Build Release Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Release Message": {
      "main": [
        [
          {
            "node": "Queue Release Outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Payload": {
      "main": [
        [
          {
            "node": "Log Release Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Release Outbox": {
      "main": [
        [
          {
            "node": "Prepare Log Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "O4qJYNx2qDrWB3wt"
  },
  "versionId": "74eb3898-6439-430a-87ed-30d6b250fc8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "88q7NxJeROvqvj4Z",
  "tags": []
}
