cur-bot/Chat Discord PetSafe.json
{
  "name": "Chat Discord PetSafe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5487772c-a1de-4592-8526-7b1ed73687b0",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        3760
      ],
      "webhookId": "41c5ae04-e86b-4f83-8a5a-fa75e6bd59dc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "w2c01",
              "name": "TRELLO_API_KEY",
              "value": "={{ $env.TRELLO_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w2c02",
              "name": "TRELLO_TOKEN",
              "value": "={{ $env.TRELLO_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c03",
              "name": "TRELLO_BOARD_ID",
              "value": "={{ $env.TRELLO_BOARD_ID }}",
              "type": "string"
            },
            {
              "id": "w2c04",
              "name": "GITHUB_TOKEN",
              "value": "={{ $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c04b",
              "name": "GITHUB_TOKEN_BACKEND",
              "value": "={{ $env.GITHUB_TOKEN_BACKEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c04f",
              "name": "GITHUB_TOKEN_FRONTEND",
              "value": "={{ $env.GITHUB_TOKEN_FRONTEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c05",
              "name": "GITHUB_OWNER_BACKEND",
              "value": "={{ $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w2c05f",
              "name": "GITHUB_OWNER_FRONTEND",
              "value": "={{ $env.GITHUB_OWNER_FRONTEND || $env.GITHUB_OWNER || $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w2c06",
              "name": "GITHUB_REPO_BACKEND",
              "value": "={{ $env.GITHUB_REPO_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w2c07",
              "name": "GITHUB_REPO_FRONTEND",
              "value": "={{ $env.GITHUB_REPO_FRONTEND }}",
              "type": "string"
            },
            {
              "id": "w2c08",
              "name": "GEMINI_API_KEY",
              "value": "={{ $env.GEMINI_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w2c09",
              "name": "pregunta_usuario",
              "value": "={{ $json.body.content || 'Dame un resumen' }}",
              "type": "string"
            },
            {
              "id": "w2c10",
              "name": "usuario_discord",
              "value": "={{ $json.body.user || 'desconocido' }}",
              "type": "string"
            },
            {
              "id": "w2c11",
              "name": "DISCORD_WEBHOOK_URL",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "acefc5bc-4e40-4dbf-b68f-276127b5b1bd",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        3760
      ]
    },
    {
      "parameters": {
        "jsCode": "const pregunta = ($node['Config'].json.pregunta_usuario || '').trim();\nconst low = pregunta.toLowerCase();\n\n// Objeto para almacenar los detalles del comando\nconst comando = {\n  nombre: null,\n  params: {},\n  tipo: 'chat', // Default\n  necesita_diff: false,\n  error: null\n};\n\n// Si no es un comando, es un chat normal\nif (!pregunta.startsWith('!')) {\n  if (pregunta.includes('ha saltado al servidor') || pregunta.includes('joined the server')) {\n    comando.error = 'Ignorado';\n  } else {\n    comando.necesita_diff = /(codig|commit|diff|revisa|calidad|pull request|\\bpr\\b|merge)/.test(low);\n  }\n} else {\n  const partes = pregunta.split(' ');\n  const cmd = partes[0].toLowerCase();\n\n  switch (cmd) {\n    case '!ayuda':\n    case '!help':\n      comando.nombre = 'ayuda';\n      comando.tipo = 'ayuda';\n      break;\n    case '!kpis':\n      comando.nombre = 'kpis';\n      comando.tipo = 'kpis';\n      break;\n    case '!reporte':\n      comando.nombre = 'reporte';\n      comando.tipo = 'reporte';\n      // Opcional: capturar número de días\n      const dias = parseInt(partes[1], 10);\n      if (!isNaN(dias) && dias > 0) {\n        comando.params.dias = dias;\n      } else {\n        comando.params.dias = 7; // Default\n      }\n      break;\n    case '!riesgos':\n      comando.nombre = 'riesgos';\n      comando.tipo = 'chat'; // Usará el flujo de chat pero con un contexto específico\n      break;\n    case '!hitos':\n      comando.nombre = 'hitos';\n      comando.tipo = 'chat'; // Igual que riesgos\n      break;\n    case '!revisar':\n      comando.nombre = 'revisar';\n      comando.tipo = 'chat';\n      comando.necesita_diff = true;\n      const repo = (partes[1] || '').toLowerCase();\n      if (repo === 'backend' || repo === 'frontend') {\n        comando.params.repo = repo;\n      } else {\n        comando.error = 'Debes especificar un repositorio: `!revisar backend` o `!revisar frontend`.';\n      }\n      break;\n    case '!estado':\n      comando.nombre = 'estado'; comando.tipo = 'chat'; comando.formato = 'estado'; break;\n    case '!vencidas':\n      comando.nombre = 'vencidas'; comando.tipo = 'chat'; comando.formato = 'vencidas'; break;\n    case '!miembros':\n      comando.nombre = 'miembros'; comando.tipo = 'chat'; comando.formato = 'miembros'; break;\n    case '!commits':\n      comando.nombre = 'commits'; comando.tipo = 'chat'; comando.formato = 'commits'; break;\n    case '!ci':\n      comando.nombre = 'ci'; comando.tipo = 'chat'; comando.formato = 'ci'; break;\n    case '!progreso':\n      comando.nombre = 'progreso'; comando.tipo = 'chat'; comando.formato = 'progreso'; break;\n        default:\n      comando.error = `Comando \\`${cmd}\\` no reconocido. Usa \\`!ayuda\\` para ver la lista de comandos.`;\n      break;\n  }\n}\n\n// El objeto de salida ahora es más rico en información\nreturn [{\n  json: {\n    pregunta,\n    comando,\n    tipo: comando.error ? 'error' : comando.tipo,\n    necesita_diff: comando.necesita_diff,\n    formato: comando.formato || 'chat',\n    usuario: $node['Config'].json.usuario_discord\n  }\n}];"
      },
      "id": "d8b5b8bd-584d-4a48-8f2a-57c1d49e2941",
      "name": "Router Comandos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        3808
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "reporte"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "kpis"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "chat"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "ayuda"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "error"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "7c9e1bbc-b804-4384-87eb-7441d499d27f",
      "name": "Switch Tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1168,
        3792
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "joddDTQkcp6U7mT9",
          "mode": "list",
          "cachedResultUrl": "/workflow/joddDTQkcp6U7mT9",
          "cachedResultName": "Reporte PDF Semanal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "rango_dias": "={{ ($json.comando && $json.comando.params && $json.comando.params.dias) ? Number($json.comando.params.dias) : 7 }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "226bef4a-52c1-4779-b8d3-6b837d051fd9",
      "name": "Trigger Reporte PDF",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        3552
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Reporte PDF generado y enviado al canal + email.",
        "options": {}
      },
      "id": "d64cbc7f-5bd5-490e-9495-bdb5fb78a06b",
      "name": "Resp Reporte",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1696,
        3552
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fecha_ejecucion, progreso_pct, tareas_vencidas, kpis_json FROM analisis_proyecto ORDER BY fecha_ejecucion DESC LIMIT 1;",
        "options": {}
      },
      "id": "330d3e1c-6620-4613-bc58-678a5d9e1378",
      "name": "Postgres Ultimo KPI",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1440,
        3744
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json || {};\nlet k = row.kpis_json || {};\n\nif (typeof k === 'string') {\n  try {\n    k = JSON.parse(k);\n  } catch (e) {\n    k = {};\n  }\n}\n\nconst val = (v, fallback = 'N/A') => (v === undefined || v === null || v === '') ? fallback : v;\n\nconst lines = [\n  'KPIs PetSafe (' + new Date(row.fecha_ejecucion).toLocaleString('es-EC') + ')',\n  '',\n  'Progreso sprint: ' + val(row.progreso_pct, 0) + '%',\n  'Tareas vencidas: ' + val(row.tareas_vencidas, 0),\n  'Velocidad: ' + val(k.velocidad_tareas_por_dia, 0) + ' tareas/dia (completadas 7d: ' + val(k.completadas_7d, 0) + ')',\n  '% a tiempo: ' + val(k.pct_a_tiempo, 0) + '%',\n  'Commits 14d: ' + val(k.commits_14d, 0) + ' (' + val(k.commits_por_dia, 0) + '/dia)',\n  'PR avg open: ' + val(k.pr_open_time_dias, 0) + ' dias',\n  'PR merge ratio 30d: ' + val(k.pr_merge_ratio_30d, 0) + '%',\n  'Dias hasta fin: ' + val(k.dias_hasta_fin, 'N/A'),\n  'Proyeccion: ' + val(k.proyeccion, 'N/A')\n];\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "8caab298-6e9c-4734-ad58-bf19ffeeb6ff",
      "name": "Formatear KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        3744
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "id": "c74a1dd7-a5f4-4982-9425-6bc6997684ad",
      "name": "Resp KPIs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1856,
        3728
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Config\"].json.TRELLO_BOARD_ID }}/cards",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $node[\"Config\"].json.TRELLO_API_KEY }}"
            },
            {
              "name": "token",
              "value": "={{ $node[\"Config\"].json.TRELLO_TOKEN }}"
            },
            {
              "name": "fields",
              "value": "name,desc,due,dueComplete,idMembers,idList,dateLastActivity,labels"
            }
          ]
        },
        "options": {}
      },
      "id": "f576d2f6-d809-4f48-a4ff-56c5f5d9ea87",
      "name": "Trello Cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        3904
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Config\"].json.TRELLO_BOARD_ID }}/lists",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $node[\"Config\"].json.TRELLO_API_KEY }}"
            },
            {
              "name": "token",
              "value": "={{ $node[\"Config\"].json.TRELLO_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a04f6232-3bb0-4d94-84e3-4d502400199f",
      "name": "Trello Lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        3984
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Config\"].json.TRELLO_BOARD_ID }}/members",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $node[\"Config\"].json.TRELLO_API_KEY }}"
            },
            {
              "name": "token",
              "value": "={{ $node[\"Config\"].json.TRELLO_TOKEN }}"
            },
            {
              "name": "fields",
              "value": "fullName,username"
            }
          ]
        },
        "options": {}
      },
      "id": "679a46cd-9159-4ffa-9c47-edb550cb2cd5",
      "name": "Trello Members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        4064
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Config\"].json.GITHUB_REPO_BACKEND }}/commits?per_page=15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Config\"].json.GITHUB_TOKEN_BACKEND || $node[\"Config\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "a8ba51a5-59ed-4cda-b42c-bb94bc85a274",
      "name": "GH Back Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        4144
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Config\"].json.GITHUB_REPO_FRONTEND }}/commits?per_page=15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Config\"].json.GITHUB_TOKEN_FRONTEND || $node[\"Config\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "a4a8b15b-bf9a-4519-adc4-46082cd7c595",
      "name": "GH Front Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        4224
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Config\"].json.GITHUB_REPO_BACKEND }}/pulls?state=all&per_page=15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Config\"].json.GITHUB_TOKEN_BACKEND || $node[\"Config\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "57d5819f-04d9-44f6-8c2f-2415ddef219c",
      "name": "GH Back PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        4304
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Config\"].json.GITHUB_REPO_FRONTEND }}/pulls?state=all&per_page=15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Config\"].json.GITHUB_TOKEN_FRONTEND || $node[\"Config\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "fc7c9679-8641-43d6-8690-ef1e9a2727bb",
      "name": "GH Front PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        4384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fecha_ejecucion, hay_problemas, tareas_vencidas, progreso_pct, kpis_json, recomendaciones_ia FROM analisis_proyecto ORDER BY fecha_ejecucion DESC LIMIT 5;",
        "options": {}
      },
      "id": "b1fe30d7-5853-44cc-91b4-9d7175f917ff",
      "name": "PG Historial",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1408,
        4464
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pregunta, respuesta, fecha, aplicada, usuario FROM recomendaciones WHERE pregunta IS NOT NULL ORDER BY fecha DESC LIMIT 5;",
        "options": {}
      },
      "id": "89478065-4443-4ea7-9179-f014bcc28396",
      "name": "PG Recomendaciones",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1408,
        4544
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "id": "6a200a2a-fbe4-4fdc-a905-369760a050e5",
      "name": "Merge Chat",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1696,
        4192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ $('Router Comandos').first().json.necesita_diff }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "432fe082-73c4-40d9-9233-690e7c8a0d44",
      "name": "IF Necesita Diff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1920,
        4304
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Config\"].json.GITHUB_REPO_BACKEND }}/commits/{{ $node[\"GH Back Commits\"].first().json.sha }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Config\"].json.GITHUB_TOKEN_BACKEND || $node[\"Config\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "83ba7cc0-0d1d-4ba3-8367-a675f134c45c",
      "name": "Diff Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        4096
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Config\"].json.GITHUB_REPO_FRONTEND }}/commits/{{ $node[\"GH Front Commits\"].first().json.sha }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Config\"].json.GITHUB_TOKEN_FRONTEND || $node[\"Config\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "6edd1633-1f03-467d-ad98-7d3352478595",
      "name": "Diff Frontend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        4464
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst MS_PER_DAY = 86400000;\n\n/**\n * Helpers generales\n */\nfunction isValidDate(d) {\n  return d instanceof Date && !Number.isNaN(d.getTime());\n}\n\nfunction parseDate(value) {\n  if (!value) return null;\n  const d = new Date(value);\n  return isValidDate(d) ? d : null;\n}\n\nfunction safeString(value, fallback = '') {\n  return typeof value === 'string' ? value : fallback;\n}\n\nfunction safeArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction truncate(value, max) {\n  const str = safeString(value, '');\n  return str.length > max ? str.slice(0, max) : str;\n}\n\nfunction getFirstJson(nodeName, fallback = null) {\n  try {\n    const item = $(nodeName).first();\n    return item && item.json ? item.json : fallback;\n  } catch (e) {\n    return fallback;\n  }\n}\n\nfunction getAllJson(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    return Array.isArray(items) ? items.map(i => i?.json || {}) : [];\n  } catch (e) {\n    return [];\n  }\n}\n\nfunction daysBetween(from, to) {\n  if (!isValidDate(from) || !isValidDate(to)) return null;\n  return Math.floor((to - from) / MS_PER_DAY);\n}\n\nfunction coalesce(...values) {\n  for (const v of values) {\n    if (v !== undefined && v !== null && v !== '') return v;\n  }\n  return null;\n}\n\n/**\n * Inputs base\n */\nconst router = getFirstJson('Router Comandos', {});\nconst config = getFirstJson('Config', {});\n\nconst pregunta = safeString(router.pregunta, '').trim();\nconst usuario = safeString(router.usuario, 'desconocido');\nconst needDiff = !!router.necesita_diff;\nconst geminiKey = safeString(config.GEMINI_API_KEY, '');\n\n/**\n * Inputs de nodos fuente\n */\nconst cards = getAllJson('Trello Cards');\nconst lists = getAllJson('Trello Lists');\nconst members = getAllJson('Trello Members');\nconst bCommits = getAllJson('GH Back Commits');\nconst fCommits = getAllJson('GH Front Commits');\nconst bPRs = getAllJson('GH Back PRs');\nconst fPRs = getAllJson('GH Front PRs');\nconst historial = getAllJson('PG Historial');\nconst recos = getAllJson('PG Recomendaciones');\nconst hitos = getAllJson('PG Hitos');\n\nlet diffBack = null;\nlet diffFront = null;\n\n// Mejora: Obtener solo el diff necesario según el comando\nif (needDiff) {\n  const repo = router.comando?.params?.repo; // 'backend', 'frontend', o undefined\n\n  // Si el comando es específico para un repo, solo pedimos ese.\n  // Si no es específico (pregunta general sobre código), pedimos ambos.\n  if (!repo || repo === 'backend') {\n    diffBack = getFirstJson('Diff Backend', null);\n  }\n  if (!repo || repo === 'frontend') {\n    diffFront = getFirstJson('Diff Frontend', null);\n  }\n}\n\n/**\n * Índices auxiliares\n */\nconst listaById = {};\nfor (const l of lists) {\n  const id = safeString(l?.id, '');\n  if (id) {\n    listaById[id] = coalesce(l?.name, 'desconocida');\n  }\n}\n\nconst memberById = {};\nfor (const m of members) {\n  const id = safeString(m?.id, '');\n  if (id) {\n    memberById[id] = coalesce(m?.fullName, m?.username, id);\n  }\n}\n\n/**\n * Normalización Trello\n */\nconst tareas = cards.map((c, index) => {\n  const dueDate = parseDate(c?.due);\n  const completada = !!c?.dueComplete;\n  const vencida = !!(dueDate && !completada && dueDate < now);\n  const diasRest = dueDate ? daysBetween(now, dueDate) : null;\n\n  const idMembers = safeArray(c?.idMembers);\n  const responsables = idMembers.map(id => memberById[id] || String(id));\n\n  return {\n    nombre: coalesce(c?.name, `tarjeta_sin_nombre_${index + 1}`),\n    lista: listaById[c?.idList] || 'desconocida',\n    completada,\n    fecha_limite: dueDate ? dueDate.toISOString() : null,\n    dias_restantes: diasRest,\n    vencida,\n    responsables,\n  };\n});\n\nconst vencidas = tareas.filter(t => t.vencida);\n\nconst porVencer = tareas.filter(t =>\n  !t.completada &&\n  !t.vencida &&\n  typeof t.dias_restantes === 'number' &&\n  t.dias_restantes >= 0 &&\n  t.dias_restantes <= 3\n);\n\n/**\n * Historial: ordenar explícitamente por fecha desc\n */\nconst historialOrdenado = [...historial].sort((a, b) => {\n  const da = parseDate(a?.fecha_ejecucion);\n  const db = parseDate(b?.fecha_ejecucion);\n  const ta = da ? da.getTime() : 0;\n  const tb = db ? db.getTime() : 0;\n  return tb - ta;\n});\n\nconst ultimoAnalisis = historialOrdenado[0] || null;\nconst kpis = ultimoAnalisis?.kpis_json ?? null;\n\n/**\n * GitHub PRs\n */\nfunction simplifyPR(p, repo) {\n  const createdAt = parseDate(p?.created_at);\n  const diasAbierto = createdAt ? daysBetween(createdAt, now) : null;\n\n  return {\n    repo,\n    numero: p?.number ?? null,\n    titulo: coalesce(p?.title, 'PR sin titulo'),\n    estado: coalesce(p?.state, 'desconocido'),\n    autor: coalesce(p?.user?.login, 'desconocido'),\n    creado: createdAt ? createdAt.toISOString() : null,\n    dias_abierto: diasAbierto,\n  };\n}\n\nconst prsAbiertos = [\n  ...bPRs.map(p => simplifyPR(p, 'backend')),\n  ...fPRs.map(p => simplifyPR(p, 'frontend')),\n].filter(p => p.estado === 'open');\n\nconst prsStale = prsAbiertos.filter(p =>\n  typeof p.dias_abierto === 'number' && p.dias_abierto > 7\n);\n\n/**\n * GitHub Commits\n */\nfunction simplifyCommit(c, repo) {\n  const message = coalesce(c?.commit?.message, '');\n  const firstLine = safeString(message, '').split('\\n')[0];\n  const authorDate = parseDate(c?.commit?.author?.date);\n\n  return {\n    repo,\n    sha: truncate(coalesce(c?.sha, ''), 7),\n    mensaje: truncate(firstLine, 300),\n    autor: coalesce(c?.commit?.author?.name, 'desconocido'),\n    fecha: authorDate ? authorDate.toISOString() : null,\n  };\n}\n\n/**\n * Diffs\n */\nfunction shapeDiff(d, repo) {\n  if (!d || typeof d !== 'object') return null;\n\n  const files = safeArray(d?.files).map(f => ({\n    archivo: coalesce(f?.filename, 'archivo_desconocido'),\n    cambios: typeof f?.changes === 'number' ? f.changes : null,\n    patch: truncate(coalesce(f?.patch, ''), 1200),\n  }));\n\n  return {\n    repo,\n    sha: truncate(coalesce(d?.sha, ''), 7),\n    mensaje: truncate(coalesce(d?.commit?.message, ''), 800),\n    autor: coalesce(d?.commit?.author?.name, 'desconocido'),\n    archivos: files,\n  };\n}\n\nlet diffInfo = null;\nif (diffBack || diffFront) {\n  diffInfo = {\n    backend: shapeDiff(diffBack, 'backend'),\n    frontend: shapeDiff(diffFront, 'frontend'),\n  };\n}\n\n/**\n * Hitos\n */\nconst hitosActivos = hitos\n  .map(h => {\n    const fechaFin = parseDate(h?.fecha_fin);\n    return {\n      nombre: coalesce(h?.nombre, 'hito_sin_nombre'),\n      tipo: coalesce(h?.tipo, 'desconocido'),\n      fecha_fin: fechaFin ? fechaFin.toISOString().slice(0, 10) : null,\n      dias_faltan: fechaFin ? daysBetween(now, fechaFin) : null,\n      responsable: coalesce(h?.responsable, 'desconocido'),\n      _fechaFinObj: fechaFin,\n    };\n  })\n  .filter(h => h._fechaFinObj && h._fechaFinObj >= now)\n  .sort((a, b) => a._fechaFinObj - b._fechaFinObj)\n  .map(({ _fechaFinObj, ...rest }) => rest);\n\n/**\n * Resúmenes saneados\n */\nconst historialResumen = historialOrdenado.map(h => {\n  const fecha = parseDate(h?.fecha_ejecucion);\n  return {\n    fecha: fecha ? fecha.toISOString() : null,\n    problemas: h?.hay_problemas ?? null,\n    vencidas: h?.tareas_vencidas ?? null,\n    progreso: h?.progreso_pct ?? null,\n  };\n});\n\nconst recomendacionesPrevias = recos\n  .map(r => {\n    const fecha = parseDate(r?.fecha);\n    return {\n      pregunta: truncate(coalesce(r?.pregunta, ''), 120),\n      respuesta: truncate(coalesce(r?.respuesta, ''), 250),\n      aplicada: r?.aplicada ?? null,\n      fecha: fecha ? fecha.toISOString() : coalesce(r?.fecha, null),\n    };\n  })\n  .filter(r => r.pregunta || r.respuesta);\n\n/**\n * Salud de datos para que Gemini sepa qué faltó\n */\nconst dataHealth = {\n  router_ok: !!pregunta,\n  config_ok: !!geminiKey,\n  fuentes: {\n    trello_cards: cards.length,\n    trello_lists: lists.length,\n    trello_members: members.length,\n    gh_back_commits: bCommits.length,\n    gh_front_commits: fCommits.length,\n    gh_back_prs: bPRs.length,\n    gh_front_prs: fPRs.length,\n    pg_historial: historial.length,\n    pg_recomendaciones: recos.length,\n    pg_hitos: hitos.length,\n    diff_backend_disponible: !!diffBack,\n    diff_frontend_disponible: !!diffFront,\n  },\n  faltantes: [\n    !pregunta ? 'Router Comandos.pregunta faltante' : null,\n    !usuario ? 'Router Comandos.usuario faltante' : null,\n    !geminiKey ? 'Config.GEMINI_API_KEY faltante' : null,\n    cards.length === 0 ? 'Sin tarjetas Trello' : null,\n    historial.length === 0 ? 'Sin historial previo' : null,\n    hitos.length === 0 ? 'Sin hitos' : null,\n    needDiff && !diffBack && !diffFront ? 'Se pidio diff pero no llegaron diffs' : null,\n  ].filter(Boolean),\n};\n\n/**\n * Contexto final\n */\nconst ctx = {\n  fecha_actual: now.toISOString(),\n  usuario,\n  salud_datos: dataHealth,\n  tareas: {\n    total: tareas.length,\n    vencidas,\n    por_vencer_3dias: porVencer,\n    completadas_count: tareas.filter(t => t.completada).length,\n    recientes_completadas: tareas.filter(t => t.completada).slice(0, 15).map(t => t.nombre),\n    resumen_todas: tareas.map(t => ({n: t.nombre, l: t.lista, c: t.completada ? 1 : 0})),\n    distribucion: tareas.reduce((acc, t) => {\n      acc[t.lista] = (acc[t.lista] || 0) + 1;\n      return acc;\n    }, {}),\n  },\n  github: {\n    commits_back_recientes: bCommits.slice(0, 8).map(c => simplifyCommit(c, 'backend')),\n    commits_front_recientes: fCommits.slice(0, 8).map(c => simplifyCommit(c, 'frontend')),\n    prs_abiertos: prsAbiertos,\n    prs_stale_mas_7d: prsStale,\n  },\n  kpis_ultimo_analisis: kpis,\n  hitos_proximos: hitosActivos.slice(0, 5),\n  historial_resumen: historialResumen,\n  recomendaciones_previas: recomendacionesPrevias,\n  diff_commits: diffInfo,\n};\n\nconst system_prompt = `Eres asistente experto de gestion del proyecto PetSafe. Copiloto del gestor para decisiones.\n\nREGLAS:\n1. SOLO respondes sobre el proyecto (Trello, GitHub, tareas, commits, PRs, equipo, riesgos, hitos, KPIs). Si no: responde EXACTAMENTE \"No es una pregunta relacionada con el proyecto.\"\n2. Espanol, texto plano, sin markdown, sin asteriscos, sin emojis, maximo 1800 caracteres.\n3. Siempre basado en datos reales del contexto. Si falta dato o una fuente vino vacia/incompleta, dilo explicitamente.\n4. Si preguntan que hacer, riesgos, decisiones: usa DIAGNOSTICO / RIESGOS / ACCIONES RECOMENDADAS.\n5. Si piden review de codigo y hay diff_commits, analiza calidad, bugs potenciales, buenas practicas.\n6. Si la pregunta es simple (ej \"hay vencidas?\"), responde directo.\n7. Considera hitos proximos y dias hasta fin para contextualizar urgencia.\n8. Menciona recomendaciones previas no aplicadas si son relevantes.\n9. No inventes datos faltantes. Si salud_datos.faltantes contiene elementos relevantes, consideralos en la respuesta.\n\nCONTEXTO (fecha ${now.toISOString()}):\n${JSON.stringify(ctx, null, 2)}\n\nPREGUNTA DE ${usuario}:\n${pregunta || 'Pregunta no disponible'}`;\n\nreturn [{\n  json: {\n    system_prompt, user_prompt,\n    gemini_key: geminiKey,\n    pregunta,\n    usuario,\n  }\n}];"
      },
      "id": "9c1309f3-893d-4c33-b78a-11a29de3e2d6",
      "name": "Construir Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        4304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "35d6fdc4-829d-4477-9885-c6a33c797993",
      "name": "Gemini Chat",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2640,
        4304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO recomendaciones (fecha, tipo, pregunta, respuesta, usuario, aplicada) VALUES (NOW(), 'chat', '{{ ($node[\"Construir Contexto\"].json.pregunta || \"\").replace(/'/g, \"''\") }}', '{{ ($node[\"Gemini Chat\"].json.output || \"Sin respuesta válida\").replace(/'/g, \"''\") }}', '{{ ($node[\"Construir Contexto\"].json.usuario || \"\").replace(/'/g, \"''\") }}', false);",
        "options": {}
      },
      "id": "5d0ca252-0fd5-4126-9d76-41b10da971f4",
      "name": "Guardar Q&A",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2880,
        4304
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $node['Gemini Chat'].json.output || '(respuesta vacia o bloqueada por seguridad)' }}",
        "options": {}
      },
      "id": "914ca17b-f9c4-4b31-8381-ec01b0bb35c4",
      "name": "Resp Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3120,
        4304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nombre, tipo, fecha_inicio, fecha_fin, responsable, completado FROM hitos_proyecto WHERE fecha_fin >= CURRENT_DATE - INTERVAL '7 days' ORDER BY fecha_fin ASC LIMIT 10;",
        "options": {}
      },
      "id": "5809ec8a-6385-469c-a5e8-3c361128214c",
      "name": "PG Hitos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1408,
        4624
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.comando.error }}",
        "options": {}
      },
      "id": "6e280c29-1297-4af6-b647-98e2fde112e5",
      "name": "Resp Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1408,
        4848
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Comandos disponibles:\n- `!ayuda`: Muestra este mensaje.\n- `!kpis`: Muestra los KPIs actuales del proyecto.\n- `!reporte [dias]`: Genera un reporte en PDF de los ultimos 7 dias (o los dias que especifiques).\n- `!riesgos`: Analiza y muestra los riesgos actuales del proyecto.\n- `!hitos`: Muestra los proximos hitos del proyecto.\n- `!revisar <backend|frontend>`: Pide una revision del ultimo commit del repositorio especificado.\n\nEventos en tiempo real (webhooks):\n- Trello: `POST /webhook/trello-event`\n- GitHub: `POST /webhook/github-event`",
        "options": {}
      },
      "id": "4702b949-11f3-484e-930b-52d9cf6c78df",
      "name": "Resp Ayuda",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        3376
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-event",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e43247fe-005b-438b-9c9b-5859c0519339",
      "name": "GitHub Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        2976
      ],
      "webhookId": "f483de4b-4b89-4edf-ad52-29f662f2f5d7"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst body = $json.body || {};\n\nconst getHeader = (name) => {\n  const key = Object.keys(headers).find(k => k.toLowerCase() === name.toLowerCase());\n  return key ? headers[key] : '';\n};\n\nconst event = String(getHeader('x-github-event') || '').toLowerCase();\nconst action = body.action || '';\nconst repo = body.repository?.full_name || 'repo/desconocido';\nconst actor = body.sender?.login || body.pusher?.name || 'desconocido';\n\nlet ignored = false;\nlet tipo = 'github_evento';\nlet titulo = 'Evento GitHub';\nlet descripcion = \"Evento \" + (event || \"desconocido\") + \" en \" + repo + \".\";\nlet url = body.repository?.html_url || null;\nlet branch = null;\nlet prNumber = null;\n\nif (event === 'pull_request') {\n  const pr = body.pull_request || {};\n  prNumber = body.number || pr.number || null;\n  const prTitle = pr.title || 'PR sin titulo';\n  url = pr.html_url || url;\n\n  if (action === 'opened' || action === 'reopened') {\n    tipo = 'github_pr_opened';\n    titulo = 'PR abierto';\n    descripcion = actor + \" abrio PR #\" + prNumber + \": \" + prTitle + \".\";\n  } else if (action === 'ready_for_review') {\n    tipo = 'github_pr_ready';\n    titulo = 'PR listo para revision';\n    descripcion = actor + \" marco PR #\" + prNumber + \" listo para revision.\";\n  } else if (action === 'synchronize') {\n    tipo = 'github_pr_updated';\n    titulo = 'PR actualizado';\n    descripcion = actor + \" actualizo PR #\" + prNumber + \": \" + prTitle + \".\";\n  } else if (action === 'closed' && pr.merged) {\n    tipo = 'github_pr_merged';\n    titulo = 'PR mergeado';\n    descripcion = actor + \" mergeo PR #\" + prNumber + \": \" + prTitle + \".\";\n  } else if (action === 'closed') {\n    tipo = 'github_pr_closed';\n    titulo = 'PR cerrado';\n    descripcion = actor + \" cerro PR #\" + prNumber + \": \" + prTitle + \".\";\n  } else {\n    ignored = true;\n    titulo = 'Evento GitHub ignorado';\n    descripcion = \"Evento pull_request/\" + action + \" no se procesa en este workflow.\";\n  }\n} else if (event === 'push') {\n  const ref = body.ref || '';\n  branch = ref.replace('refs/heads/', '') || ref;\n  const commits = Array.isArray(body.commits) ? body.commits : [];\n  const commitCount = commits.length;\n  url = body.compare || url;\n\n  if (branch === 'main' || branch === 'master') {\n    ignored = true;\n    tipo = 'github_push_main_ignored';\n    titulo = 'Push principal ignorado';\n    descripcion = actor + \" hizo push a \" + branch + \" (\" + commitCount + \" commits). Lo gestiona Workflow 3 Delta Detector.\";\n  } else {\n    tipo = 'github_push_branch';\n    titulo = 'Push en rama de trabajo';\n    descripcion = actor + \" hizo push a \" + branch + \" (\" + commitCount + \" commits).\";\n  }\n} else {\n  ignored = true;\n  titulo = 'Evento GitHub ignorado';\n  descripcion = \"Evento \" + (event || \"desconocido\") + \" no se procesa en este workflow.\";\n}\n\nconst detalle = {\n  event,\n  action,\n  repo,\n  actor,\n  branch,\n  pr_number: prNumber,\n  url,\n  received_at: new Date().toISOString()\n};\n\nconst discord_content = \"[PetSafe/GitHub] \" + titulo + \"\\n\" + descripcion + (url ? \"\\n\" + url : \"\");\n\nreturn [{\n  json: {\n    source: 'github',\n    ignored,\n    tipo,\n    titulo,\n    descripcion,\n    detalle,\n    detalle_json: JSON.stringify(detalle || {}),\n    discord_content\n  }\n}];"
      },
      "id": "8e257b24-1e3e-4003-8695-a084fdc7d4cd",
      "name": "Normalizar Evento GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-github-not-ignored",
              "leftValue": "={{ $json.ignored }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "116f692e-8f44-4093-bd9c-aa2d5b2a3377",
      "name": "IF Evento GitHub Relevante",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        2976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "24e2bae9-632e-40a8-8057-16e20c53d4e8",
      "name": "Discord Evento GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        3136
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eventos_detectados (tipo, descripcion, detalle, notificado) VALUES ('{{ ($json.tipo || \"github_evento\").replace(/'/g, \"''\") }}', '{{ ($json.descripcion || \"\").replace(/'/g, \"''\") }}', '{{ ($json.detalle_json || \"{}\").replace(/'/g, \"''\") }}'::jsonb, TRUE);",
        "options": {}
      },
      "id": "bfeead2e-50b8-4137-822b-0bc5730afee5",
      "name": "PG Insert Evento GitHub",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        896,
        2960
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (github procesado)",
        "options": {}
      },
      "id": "e44d62dc-262d-455c-b8d4-a8dc2665ef6d",
      "name": "Resp GitHub Procesado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        896,
        2768
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (github ignorado)",
        "options": {}
      },
      "id": "4d75e819-ba69-400d-858c-b64e33862c10",
      "name": "Resp GitHub Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        3296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-ayuda",
              "leftValue": "={{ $json.tipo === 'ayuda' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6db49868-ee5b-45d4-b7d3-8ac8156cb870",
      "name": "IF Es Ayuda",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        576,
        3584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-error",
              "leftValue": "={{ $json.tipo === 'error' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e74f92ee-5357-4e7d-b9df-545fcb80285b",
      "name": "IF Es Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        528,
        4016
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-reporte",
              "leftValue": "={{ $json.tipo === 'reporte' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9435d9a-2fce-4fca-aa4a-b44a3302e44a",
      "name": "IF Es Reporte",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        944,
        3952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-kpis",
              "leftValue": "={{ $json.tipo === 'kpis' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85e41952-89b6-4cc0-a73f-752cc84abf5d",
      "name": "IF Es KPIs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        944,
        4080
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trello-event",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8ce9c204-a4cf-404f-b748-3eb2c515b6e8",
      "name": "Trello Event Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        2528
      ],
      "webhookId": "75a8cc16-b29e-40c1-acf4-df57fecb1f0a"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst action = body.action || {};\nconst data = action.data || {};\nconst type = action.type || 'unknown';\nconst actor = action.memberCreator?.fullName || action.memberCreator?.username || 'desconocido';\nconst boardName = data.board?.name || body.model?.name || 'tablero';\nconst card = data.card || {};\nconst cardName = card.name || 'tarjeta sin nombre';\nconst cardUrl = card.shortUrl || card.url || body.model?.url || null;\n\nlet ignored = false;\nlet tipo = 'trello_evento';\nlet titulo = 'Evento Trello';\nlet descripcion = \"Evento \" + type + \" en \" + boardName + \".\";\n\nif (type === 'updateCard' && data.listBefore && data.listAfter) {\n  tipo = 'trello_card_move';\n  titulo = 'Tarjeta movida';\n  descripcion = actor + \" movio \" + cardName + \" de \" + data.listBefore.name + \" a \" + data.listAfter.name + \".\";\n} else if (type === 'commentCard') {\n  tipo = 'trello_comment';\n  titulo = 'Comentario en tarjeta';\n  descripcion = actor + \" comento en \" + cardName + \".\";\n} else if (type === 'createCard') {\n  tipo = 'trello_card_created';\n  titulo = 'Tarjeta creada';\n  descripcion = actor + \" creo la tarjeta \" + cardName + \".\";\n} else if (type === 'updateCard' && Object.prototype.hasOwnProperty.call(data.old || {}, 'due')) {\n  tipo = 'trello_due_changed';\n  titulo = 'Fecha limite actualizada';\n  descripcion = actor + \" actualizo fecha limite de \" + cardName + \".\";\n} else {\n  // Eventos como completado/PDF ya se cubren en Workflow 3 para evitar duplicados.\n  ignored = true;\n  titulo = 'Evento Trello ignorado';\n  descripcion = \"Evento \" + type + \" no se procesa aqui para evitar duplicar otros workflows.\";\n}\n\nconst detalle = {\n  action_type: type,\n  actor,\n  board_name: boardName,\n  card_id: card.id || null,\n  card_name: cardName,\n  card_url: cardUrl,\n  list_before: data.listBefore?.name || null,\n  list_after: data.listAfter?.name || null,\n  comment: data.text || null,\n  due: card.due || null,\n  date: action.date || null\n};\n\nconst discord_content = \"[PetSafe/Trello] \" + titulo + \"\\n\" + descripcion + (cardUrl ? \"\\n\" + cardUrl : \"\");\n\nreturn [{\n  json: {\n    source: 'trello',\n    ignored,\n    tipo,\n    titulo,\n    descripcion,\n    detalle,\n    detalle_json: JSON.stringify(detalle || {}),\n    discord_content\n  }\n}];"
      },
      "id": "26fc584e-9908-47cb-a330-1a5475398f01",
      "name": "Normalizar Evento Trello1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        2528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-trello-not-ignored",
              "leftValue": "={{ $json.ignored }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cabe2f3-c734-48ab-adb2-3855d1cbd54d",
      "name": "IF Evento Trello Relevante1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1184,
        2528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "32526d31-f2ec-448d-9a9f-7ad3841f84f3",
      "name": "Discord Evento Trello1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        2240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eventos_detectados (tipo, descripcion, detalle, notificado) VALUES ('{{ ($json.tipo || \"trello_evento\").replace(/'/g, \"''\") }}', '{{ ($json.descripcion || \"\").replace(/'/g, \"''\") }}', '{{ ($json.detalle_json || \"{}\").replace(/'/g, \"''\") }}'::jsonb, TRUE);",
        "options": {}
      },
      "id": "12e410f1-64fd-4c08-a8e5-76a529916e0d",
      "name": "PG Insert Evento Trello1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1568,
        2608
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (trello procesado)",
        "options": {}
      },
      "id": "98695662-5ee4-4df6-8b1c-d862bd29d690",
      "name": "Resp Trello Procesado1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1568,
        2432
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (trello ignorado)",
        "options": {}
      },
      "id": "ccb6672b-d2cd-4cad-bff6-62fed315d9a7",
      "name": "Resp Trello Ignorado1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1568,
        2784
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "gemini-model-1234",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2640,
        4504
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "aFcqI71CduhYfRTh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.usuario }}",
        "sessionTTL": 60
      },
      "id": "redis-memory-1234",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2800,
        4504
      ],
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "calc-tool-1234",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2800,
        4304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'dedup:' + $json.usuario_discord + ':' + ($json.pregunta_usuario || '').slice(0,40).replace(/[^a-zA-Z0-9]/g,'') }}",
        "options": {}
      },
      "id": "ae588bb1-bca7-4011-b738-a639a82b165a",
      "name": "Redis Dedup Check",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        504,
        3760
      ],
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65d7dbc2-dedd-4fd5-90c0-b8d57809626d",
              "leftValue": "={{ $json.value }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "63c9bd4f-2ac5-4eef-a392-e4e53bca82f9",
      "name": "IF Duplicado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        3760
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "1d47e65f-d922-418a-a4e5-0d8c83306e90",
      "name": "Resp Dedup Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        904,
        3610
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'dedup:' + $node['Config'].json.usuario_discord + ':' + ($node['Config'].json.pregunta_usuario || '').slice(0,40).replace(/[^a-zA-Z0-9]/g,'') }}",
        "value": "1",
        "expire": true,
        "ttl": 5,
        "keyType": "string"
      },
      "id": "ffdf181e-761d-4ce6-9c41-d783594b45f1",
      "name": "Redis Dedup Set",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        904,
        3840
      ],
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "chat_ctx:full_context",
        "options": {}
      },
      "id": "d83a2cb0-78c8-4c83-b7f0-bf82abcd63a6",
      "name": "Redis Get Context Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1396,
        3992
      ],
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "chat_ctx:full_context",
        "value": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "expire": true,
        "ttl": 300,
        "keyType": "string"
      },
      "id": "e0673a65-2279-4c9a-9d2a-02f2922043b8",
      "name": "Redis Set Context Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1746,
        4342
      ],
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "cache:kpis_response",
        "options": {}
      },
      "id": "340e0075-6741-42ba-8c54-f0dfe2084d29",
      "name": "Redis Get KPIs Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1448,
        3744
      ],
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8da4d7cc-decc-4fef-b577-050b95496905",
              "leftValue": "={{ $json.value !== null && $json.value !== undefined && $json.value !== '' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c03e22f-55ba-42d8-894e-ee7133cdcab1",
      "name": "IF KPIs Cacheados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1598,
        3744
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.value }}",
        "options": {}
      },
      "id": "6dbc7214-6457-4abe-a85f-148d08162d3a",
      "name": "Resp KPIs Cacheados",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1798,
        3594
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "cache:kpis_response",
        "value": "={{ $json.respuesta_discord }}",
        "expire": true,
        "ttl": 600,
        "keyType": "string"
      },
      "id": "43554b16-25b7-403f-aa1c-f37b68ba5f06",
      "name": "Redis Set KPIs Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1798,
        3894
      ],
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "521cb31a-bff9-4d09-b266-fb0e166d3686",
      "name": "Wait Diff APIs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2120,
        4224
      ],
      "webhookId": "85958806-ba52-4e56-96ed-4d0564ad872c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52a40e90-67ca-445b-b7c7-6058623e7439",
              "leftValue": "={{ ['estado','vencidas','miembros','commits','ci','progreso'].includes($node['Router Comandos'].json.formato) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "659a9a41-d182-4da6-8e9d-e1600f405e92",
      "name": "IF Datos Rapidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2620,
        4304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6ee4417-ab2b-4c82-b1eb-003e19612010",
                    "leftValue": "={{ $node['Router Comandos'].json.formato }}",
                    "rightValue": "estado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9663ef0e-cc19-41d5-b005-f105b0beecbf",
                    "leftValue": "={{ $node['Router Comandos'].json.formato }}",
                    "rightValue": "vencidas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vencidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f297ab07-676a-4f25-b283-788bc17f8a97",
                    "leftValue": "={{ $node['Router Comandos'].json.formato }}",
                    "rightValue": "miembros",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "miembros"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "39416be4-d9dc-4f24-a87e-b0762ebee276",
                    "leftValue": "={{ $node['Router Comandos'].json.formato }}",
                    "rightValue": "commits",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "commits"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9f34eb54-de75-4c97-9fc9-956965aa911d",
                    "leftValue": "={{ $node['Router Comandos'].json.formato }}",
                    "rightValue": "ci",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ci"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0c0a05e-5c60-4e33-8ab2-f49d140a6343",
                    "leftValue": "={{ $node['Router Comandos'].json.formato }}",
                    "rightValue": "progreso",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "progreso"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9890c3b2-b724-4afd-aa69-0f840851bec4",
      "name": "Switch Formato",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2840,
        4424
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst h = $node['PG Historial']?.first()?.json || {};\nconst kpis = (typeof h.kpis_json === 'string' ? JSON.parse(h.kpis_json) : h.kpis_json) || {};\nconst cards = $node['Trello Cards'].all().map(i=>i.json);\nconst total = cards.length;\nconst done = cards.filter(c=>c.dueComplete).length;\nconst overdue = cards.filter(c=>c.due && !c.dueComplete && new Date(c.due)<new Date()).length;\nconst pct = total>0?Math.round(done/total*100):0;\nconst vel = kpis.velocidad_tareas_por_dia ?? '?';\nconst proj = kpis.proyeccion ?? 'sin datos';\nconst emojiProj = proj==='on-track'?'✅':proj==='riesgo'?'⚠️':'🔴';\nconst lines = [\n  '**📊 ESTADO DEL PROYECTO PetSafe**',\n  `Progreso: **${pct}%** (${done}/${total} tareas)  ${emojiProj} ${proj}`,\n  `Vencidas: **${overdue}**  |  Velocidad: **${vel}** tareas/día`,\n  `Commits 14d: **${kpis.commits_14d ?? '?'}**  |  Bus factor: **${kpis.bus_factor_14d ?? '?'}**`,\n  `Días hasta entrega: **${kpis.dias_hasta_fin ?? '?'}**`\n];\nreturn [{json:{respuesta: lines.join('\\n')}}];\n"
      },
      "id": "5820b569-bf53-49ca-ab85-07ac1a920759",
      "name": "Formatear Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        4064
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "886a4ed8-b193-4d76-a526-7fb7c82db083",
      "name": "Resp estado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        4064
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst cards = $node['Trello Cards'].all().map(i=>i.json);\nconst lists = $node['Trello Lists'].all().map(i=>i.json);\nconst members = $node['Trello Members'].all().map(i=>i.json);\nconst listById = Object.fromEntries(lists.map(l=>[l.id,l.name]));\nconst memById = Object.fromEntries(members.map(m=>[m.id,m.fullName||m.username]));\nconst now = new Date();\nconst venc = cards.filter(c=>c.due&&!c.dueComplete&&new Date(c.due)<now);\nif(!venc.length) return [{json:{respuesta:'✅ No hay tareas vencidas.'}}];\nconst lines = ['**🔴 TAREAS VENCIDAS**',''];\nfor(const c of venc.slice(0,10)){\n  const dias = Math.floor((now-new Date(c.due))/86400000);\n  const resp = (c.idMembers||[]).map(id=>memById[id]||id).join(', ') || 'sin asignar';\n  lines.push(`• **${c.name}**`);\n  lines.push(`  Lista: ${listById[c.idList]||'?'} | Resp: ${resp} | Hace ${dias}d`);\n}\nif(venc.length>10) lines.push(`...y ${venc.length-10} más`);\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "1635cb0e-2c2e-4807-83ae-1f842f14758d",
      "name": "Formatear Vencidas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        4244
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "2b6f0ef5-4176-42d5-a4a2-36a3f3492725",
      "name": "Resp vencidas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        4244
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst cards = $node['Trello Cards'].all().map(i=>i.json);\nconst members = $node['Trello Members'].all().map(i=>i.json);\nconst memById = Object.fromEntries(members.map(m=>[m.id,m.fullName||m.username]));\nconst now = new Date();\nconst stats = {};\nfor(const c of cards){\n  for(const id of (c.idMembers||[])){\n    const name = memById[id]||id;\n    if(!stats[name]) stats[name]={asig:0,done:0,venc:0};\n    stats[name].asig++;\n    if(c.dueComplete) stats[name].done++;\n    else if(c.due&&new Date(c.due)<now) stats[name].venc++;\n  }\n}\nconst lines = ['**👥 CARGA DEL EQUIPO**','`Miembro          | Asig | Done | Venc`'];\nfor(const [name,s] of Object.entries(stats)){\n  const short = name.split(' ').slice(0,2).join(' ').padEnd(16);\n  lines.push(`${short} |  ${String(s.asig).padStart(2)}  |  ${String(s.done).padStart(2)}  |  ${String(s.venc).padStart(2)}`);\n}\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "e1caa874-c43d-45d4-aa9c-71b8e0baaaa6",
      "name": "Formatear Miembros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        4424
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "53671124-1377-48f5-a6ef-ef251b33ceb9",
      "name": "Resp miembros",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        4424
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst bC = $node['GH Back Commits'].all().map(i=>i.json).slice(0,5);\nconst fC = $node['GH Front Commits'].all().map(i=>i.json).slice(0,5);\nconst fmt = (c,repo)=>`• \\`${(c.sha||'').slice(0,7)}\\` [${repo}] **${(c.commit?.author?.name||'?').split(' ')[0]}**: ${(c.commit?.message||'').split('\\n')[0].slice(0,70)}`;\nconst lines = ['**📝 COMMITS RECIENTES**','**Backend:**',...bC.map(c=>fmt(c,'back')),'','**Frontend:**',...fC.map(c=>fmt(c,'front'))];\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "380392a7-7c78-43d4-bb76-6cb90fda9665",
      "name": "Formatear Commits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        4604
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "26cd58ce-554d-4a96-b381-704e2ec426c4",
      "name": "Resp commits",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        4604
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst bR = $node['GH Back CI Runs'].first()?.json?.workflow_runs?.[0];\nconst fR = $node['GH Front CI Runs'].first()?.json?.workflow_runs?.[0];\nconst emo = s=>s==='success'?'✅':s==='failure'?'❌':s==='in_progress'?'🔄':'⚪';\nconst fmt = (r,label)=>r?`${emo(r.conclusion||r.status)} **${label}**: ${r.conclusion||r.status} | rama: ${r.head_branch} | por: ${r.actor?.login||'?'}`:`⚪ **${label}**: sin datos`;\nconst lines = ['**🔧 ESTADO CI/CD**',fmt(bR,'Backend'),fmt(fR,'Frontend'),'','🌐 Deploy: https://pet-safe-six.vercel.app'];\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "8bb0c433-00b9-4e28-8eb2-8223448b0456",
      "name": "Formatear CI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        4784
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "0a50d1e3-45fb-4c99-9ef2-1f4db19993da",
      "name": "Resp ci",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        4784
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst cards = $node['Trello Cards'].all().map(i=>i.json);\nconst h = $node['PG Historial']?.first()?.json||{};\nconst kpis=(typeof h.kpis_json==='string'?JSON.parse(h.kpis_json):h.kpis_json)||{};\nconst now=new Date();\nconst total=cards.length, done=cards.filter(c=>c.dueComplete).length;\nconst pend=cards.filter(c=>!c.dueComplete&&!(c.due&&new Date(c.due)<now)).length;\nconst venc=cards.filter(c=>c.due&&!c.dueComplete&&new Date(c.due)<now).length;\nconst pct=total>0?Math.round(done/total*100):0;\nconst bar='█'.repeat(Math.round(pct/10))+'░'.repeat(10-Math.round(pct/10));\nconst lines=[\n  '**🏁 PROGRESO DEL SPRINT**',\n  `\\`[${bar}] ${pct}%\\``,\n  `Completadas: **${done}** | Pendientes: **${pend}** | Vencidas: **${venc}**`,\n  `Velocidad: **${kpis.velocidad_tareas_por_dia??'?'}** t/día | Commits/día: **${kpis.commits_por_dia??'?'}**`,\n  `Proyección: **${kpis.proyeccion??'sin datos'}** | Días hasta fin: **${kpis.dias_hasta_fin??'?'}**`\n];\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "ce5692c6-ca89-4afa-9b51-f800fd73a7ff",
      "name": "Formatear Progreso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        4964
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "b3b64cc5-ad90-4628-9dda-233744375346",
      "name": "Resp progreso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3320,
        4964
      ]
    },
    {
      "parameters": {
        "name": "buscar_tarjeta_trello",
        "description": "Busca tarjetas en Trello por nombre o descripcion. Retorna nombre, lista, estado y fecha limite. Input: palabra clave.",
        "method": "GET",
        "url": "=https://api.trello.com/1/search?query={{ encodeURIComponent($fromAI('keyword')) }}&idBoards={{ $node['Config'].json.TRELLO_BOARD_ID }}&card_fields=name,desc,due,dueComplete,idList&key={{ $node['Config'].json.TRELLO_KEY }}&token={{ $node['Config'].json.TRELLO_TOKEN }}&modelTypes=cards",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "ddf09313-20fb-4596-b527-dffaf26f96f4",
      "name": "Tool Buscar Trello",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2640,
        4560
      ]
    },
    {
      "parameters": {
        "name": "ver_estado_ci",
        "description": "Obtiene el estado actual del pipeline CI/CD de GitHub Actions para backend o frontend. Input: 'backend' o 'frontend'.",
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $node['Config'].json.GITHUB_OWNER_BACKEND }}/{{ $fromAI('repo') === 'frontend' ? $node['Config'].json.GITHUB_REPO_FRONTEND : $node['Config'].json.GITHUB_REPO_BACKEND }}/actions/runs?per_page=3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Config'].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "ff184885-5218-4708-ad0c-8a6380f57313",
      "name": "Tool Ver CI",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2780,
        4560
      ]
    },
    {
      "parameters": {
        "name": "crear_tarjeta_trello",
        "description": "Crea una nueva tarjeta en Trello. Recibe: nombre (título de la tarea), descripcion, lista (ej. Pendientes, En Progreso) y miembro (a quien asignar).",
        "workflowId": {
          "value": "tool-crear-tarjeta",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre') }}",
            "descripcion": "={{ $fromAI('descripcion') }}",
            "lista": "={{ $fromAI('lista') }}",
            "miembro": "={{ $fromAI('miembro') }}"
          }
        },
        "options": {}
      },
      "id": "b2a1e2b9-8f34-4b11-9e55-d5aa06612c71",
      "name": "Tool Workflow Crear Tarjeta",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2920,
        4560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Comandos": {
      "main": [
        [
          {
            "node": "IF Es Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo": {
      "main": [
        [
          {
            "node": "Trigger Reporte PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Ultimo KPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Cards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Members",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back PRs",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front PRs",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Historial",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Recomendaciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Hitos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp Ayuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Reporte PDF": {
      "main": [
        [
          {
            "node": "Resp Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear KPIs": {
      "main": [
        [
          {
            "node": "Redis Set KPIs Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Cards": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Lists": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trello Members": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "GH Back Commits": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "GH Front Commits": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "GH Back PRs": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "GH Front PRs": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "PG Historial": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "PG Recomendaciones": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Merge Chat": {
      "main": [
        [
          {
            "node": "Redis Set Context Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Necesita Diff": {
      "main": [
        [
          {
            "node": "Wait Diff APIs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff Backend": {
      "main": [
        [
          {
            "node": "Construir Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff Frontend": {
      "main": [
        [
          {
            "node": "Construir Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Contexto": {
      "main": [
        [
          {
            "node": "IF Datos Rapidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "main": [
        [
          {
            "node": "Guardar Q&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Q&A": {
      "main": [
        [
          {
            "node": "Resp Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Redis Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Ultimo KPI": {
      "main": [
        [
          {
            "node": "Redis Get KPIs Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Hitos": {
      "main": [
        [
          {
            "node": "Merge Chat",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "GitHub Event Webhook": {
      "main": [
        [
          {
            "node": "Normalizar Evento GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Evento GitHub": {
      "main": [
        [
          {
            "node": "IF Evento GitHub Relevante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Evento GitHub Relevante": {
      "main": [
        [
          {
            "node": "Discord Evento GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Insert Evento GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resp GitHub Procesado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp GitHub Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es Ayuda": {
      "main": [
        [
          {
            "node": "Resp Ayuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Es Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es Error": {
      "main": [
        [
          {
            "node": "Resp Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Es Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es Reporte": {
      "main": [
        [
          {
            "node": "Trigger Reporte PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Es KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es KPIs": {
      "main": [
        [
          {
            "node": "Postgres Ultimo KPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Cards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Members",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back PRs",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front PRs",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Historial",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Recomendaciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Hitos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Event Webhook1": {
      "main": [
        [
          {
            "node": "Normalizar Evento Trello1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Evento Trello1": {
      "main": [
        [
          {
            "node": "IF Evento Trello Relevante1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Evento Trello Relevante1": {
      "main": [
        [
          {
            "node": "Discord Evento Trello1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Insert Evento Trello1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resp Trello Procesado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp Trello Ignorado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Gemini Chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Dedup Check": {
      "main": [
        [
          {
            "node": "IF Duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicado": {
      "main": [
        [
          {
            "node": "Resp Dedup Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Dedup Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Dedup Set": {
      "main": [
        [
          {
            "node": "Router Comandos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set Context Cache": {
      "main": [
        [
          {
            "node": "IF Necesita Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get KPIs Cache": {
      "main": [
        [
          {
            "node": "IF KPIs Cacheados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF KPIs Cacheados": {
      "main": [
        [
          {
            "node": "Resp KPIs Cacheados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set KPIs Cache": {
      "main": [
        [
          {
            "node": "Resp KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Diff APIs": {
      "main": [
        [
          {
            "node": "Diff Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Diff Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Datos Rapidos": {
      "main": [
        [
          {
            "node": "Switch Formato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Estado": {
      "main": [
        [
          {
            "node": "Resp estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Vencidas": {
      "main": [
        [
          {
            "node": "Resp vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Miembros": {
      "main": [
        [
          {
            "node": "Resp miembros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Commits": {
      "main": [
        [
          {
            "node": "Resp commits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear CI": {
      "main": [
        [
          {
            "node": "Resp ci",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Progreso": {
      "main": [
        [
          {
            "node": "Resp progreso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Formato": {
      "main": [
        [
          {
            "node": "Formatear Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Vencidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Miembros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Commits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear CI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Progreso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Buscar Trello": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Ver CI": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Workflow Crear Tarjeta": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50f11d8d-945b-4348-921c-77718eb16d62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "ePBXQgBFS8BKvIPS",
  "tags": []
}