cur-bot/Initial Bot.json
{
  "name": "Initial Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2304,
        592
      ],
      "id": "3eff5869-bada-4e8b-8b11-e9e35633b8af",
      "name": "Telegram Trigger",
      "webhookId": "954427f9-0722-4eb6-b151-9abd97acaf38",
      "credentials": {
        "telegramApi": {
          "id": "utd0LpFieiak4Opj",
          "name": "drtx_socierty_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Eres **Sara**, la asistente virtual de la empresa. Atiendes consultas comerciales y técnicas básicas.\n\nTu tono debe ser:\n\n* profesional\n* claro\n* breve\n* empático\n\nResponde siempre en español.\n\n---\n\n# HERRAMIENTAS DISPONIBLES\n\n1. **busqueda_productos**\n   Base de datos oficial con precios, planes, servicios y características técnicas.\n\n2. **guardar_lead**\n   Guarda los datos de contacto de un cliente interesado.\n\n3. **registrar_duda_tecnica**\n   Registra un problema técnico para que el equipo lo revise.\n\n---\n\n# REGLAS PRINCIPALES\n\n## 1. CONSULTAR PRODUCTOS\n\nSi el usuario pregunta sobre:\n\n* precios\n* costos\n* planes\n* servicios\n* características técnicas\n* qué productos ofrece la empresa\n\nDEBES usar la herramienta **busqueda_productos** antes de responder.\n\nNunca inventes información.\n\n---\n\n## 2. RESPUESTAS\n\nLas respuestas deben ser:\n\n* máximo **2 párrafos**\n* claras y directas\n* basadas en la información obtenida con la herramienta\n\nSi la herramienta devuelve mucha información:\n\n* resume lo más importante\n* destaca precio y qué incluye.\n\n---\n\n## 3. CUANDO NO HAY INFORMACIÓN\n\nSi la herramienta no devuelve resultados:\n\n1. pide disculpas\n2. solicita el correo del usuario\n3. explica que un especialista lo contactará.\n\n---\n\n## 4. REGISTRAR LEADS\n\nSi el usuario:\n\n* muestra interés real en contratar\n* pide información para comprar\n* proporciona datos de contacto\n\nDEBES usar inmediatamente **guardar_lead**.\n\nLuego confirma al usuario que:\n\n* sus datos fueron registrados\n* un asesor lo contactará pronto.\n\n---\n\n## 5. SOPORTE TÉCNICO\n\nSi el usuario indica que algo:\n\n* no funciona\n* tiene un error\n* presenta un problema técnico\n\nPrimero intenta consultar **busqueda_productos**.\n\nSi no encuentras solución:\nusa **registrar_duda_tecnica**.\n\nLuego informa al usuario que:\nun técnico revisará el caso y se contactará pronto.\n\n---\n\n# COMPORTAMIENTO IMPORTANTE\n\n* No inventes precios ni información técnica.\n* Siempre usa las herramientas cuando corresponda.\n* Mantén respuestas cortas y útiles.\n* Prioriza ayudar al usuario y guiarlo hacia una solución.\n\nAl finalizar cada respuesta, ofrece siempre una acción siguiente lógica en una sola frase breve.\n\nEjemplo: \"¿Te gustaría ver nuestros planes de precios o prefieres hablar con un técnico?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        944
      ],
      "id": "3079c93b-9ffa-4ce8-b4a8-bc425720fa57",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.4,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -864,
        1200
      ],
      "id": "a0edede8-1d07-41fe-b027-018b09d7aa2e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aFcqI71CduhYfRTh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{$json.output.replace(/([_*[\\]()~`>#+=|{}.!-])/g, '\\\\$1')}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=MarkdownV2",
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        1072
      ],
      "id": "40ed40ac-638b-4b16-98e3-3d333dbba38c",
      "name": "Send a text message",
      "webhookId": "2976bfbb-0c20-48d9-b960-0b3371e38523",
      "credentials": {
        "telegramApi": {
          "id": "utd0LpFieiak4Opj",
          "name": "drtx_socierty_bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "id"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1776,
        1824
      ],
      "id": "9c9dc619-0d61-4ead-92fe-a071caa72145",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1968,
        1808
      ],
      "id": "9aa8a13d-0e94-40ad-a52a-5616b82fab8f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PpeWzoXZlzXJOsDX",
          "name": "chatwoot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}",
        "sessionTTL": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -720,
        1216
      ],
      "id": "c09233f8-a98b-494c-8ec2-2be1989a4900",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1984,
        592
      ],
      "id": "64daac70-ac6d-457a-b4f5-82d84219db19",
      "name": "Wait",
      "webhookId": "59d5c574-c5cc-4e65-9417-37b99b15fdd3"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1824,
        592
      ],
      "id": "242162ff-5560-4633-9f9e-865fee49914f",
      "name": "Get Last messages",
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat.id.toString() }}",
        "value": "={{ $json.message.text || \"\"}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2128,
        592
      ],
      "id": "10e36dfe-c928-4866-a87a-773dba435240",
      "name": "Store messages",
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "Tomar mensaje y decidir accion",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2032,
        464
      ],
      "typeVersion": 1,
      "id": "8f1f3fe2-ea89-477c-90a6-872737f715c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f65beecc-1a5c-4eb1-b5c5-01b48cc0a143",
                    "leftValue": "={{ $('Edit Fields2').item.json.message }}",
                    "rightValue": "^.{0,2}$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Trash"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dfb1da51-d785-43e7-b0b9-ba080d2474a3",
                    "leftValue": "={{ $('Edit Fields2').item.json.message }}",
                    "rightValue": "^/",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Commands"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a453c820-ff0b-406b-86da-4dd17e5371b6",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "^(Ver Precios|Hablar con Humano|Soporte Técnico)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram Buttons"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1456,
        576
      ],
      "id": "28d5bec5-1d55-43fe-b2a9-cb18d9b39608",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Hola! Soy tu asistente. Puedes preguntarme sobre nuestros servicios o precios.",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ver Precios",
                    "additionalFields": {}
                  },
                  {
                    "text": "Hablar con Humano",
                    "additionalFields": {}
                  },
                  {
                    "text": "Soporte Técnico",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true,
          "one_time_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1104,
        368
      ],
      "id": "c8a353d3-2c33-408a-be33-44203d614456",
      "name": "Send greeting",
      "webhookId": "a9474a33-6f72-4e0c-bcf6-1d3772c393c0",
      "credentials": {
        "telegramApi": {
          "id": "utd0LpFieiak4Opj",
          "name": "drtx_socierty_bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1104,
        176
      ],
      "id": "229bba7d-0cb6-47e5-a6cb-c741384df119",
      "name": "Do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1632,
        352
      ],
      "id": "afc5e828-9c81-40fc-aaba-2632bb736cf6",
      "name": "Clean buffer",
      "credentials": {
        "redis": {
          "id": "jAyEo3o5v0RaQJoI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "products_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -144,
        1520
      ],
      "id": "a8bb5953-3adc-4a5b-b477-7fbd2ee19369",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "jNkFhyCAmWj8r3Qh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        1680
      ],
      "id": "0edb3bf3-7408-458b-9b20-d85df4f24e12",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aFcqI71CduhYfRTh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        1504
      ],
      "id": "ed630a15-bb01-4c62-9b26-7edeab3055f2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "aFcqI71CduhYfRTh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Útil para buscar precios, características y detalles técnicos de los productos y planes. Úsala siempre que el usuario pregunte por costos o información de servicios."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -16,
        1328
      ],
      "id": "f513eb54-8833-4ecb-89ff-76a0a3702268",
      "name": "busqueda_productos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4eff363-570f-4ef3-86a8-20bd00d7cd26",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "6db5f221-77b2-4bf9-b429-01c4d9dbd4bb",
              "name": "message",
              "value": "={{ $('Get Last messages').item.json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1632,
        592
      ],
      "id": "506aba18-de69-485e-a41a-43db2b4413a4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta CUANDO el usuario te proporcione su nombre y forma de contacto (correo o teléfono) para registrarlo como interesado. Extrae el nombre, el dato de contacto y en qué producto mostró interés.",
        "workflowId": {
          "__rl": true,
          "value": "5Uk6tIIr_4MZ4KqPeVlGb",
          "mode": "list",
          "cachedResultUrl": "/workflow/5Uk6tIIr_4MZ4KqPeVlGb",
          "cachedResultName": "Tool - Guardar Lead"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -496,
        1216
      ],
      "id": "6f21400e-fa55-4372-8397-4654336e1952",
      "name": "guardar_lead"
    },
    {
      "parameters": {
        "description": "Registra una incidencia técnica para que el equipo de soporte la revise.\n\nUsa esta herramienta cuando:\n\nel usuario diga que algo no funciona\n\nexista un error técnico\n\nel usuario tenga una duda técnica que no puedes resolver con la base de datos\n\nel problema requiera intervención humana\n\nDespués de usarla, informa al usuario que un técnico revisará su caso pronto.",
        "workflowId": {
          "__rl": true,
          "value": "ytj4-pDyJo4FePk1KMOhy",
          "mode": "list",
          "cachedResultUrl": "/workflow/ytj4-pDyJo4FePk1KMOhy",
          "cachedResultName": "soporte_pendientes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -288,
        1216
      ],
      "id": "8c466b2d-c709-4ff5-9311-2b0d2b6bffb2",
      "name": "registrar_duda_tecnica"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "Ver Precios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f3b1809c-8187-4ae7-8d8f-fa0ece27c10a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "See prices"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f01cb79-74a5-45f8-ba16-3f07eca8748b",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "Hablar con Humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Talk with human"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dad997c9-4a7a-40f7-b3bd-f87ca5328370",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "Soporte Técnico",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tech support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1104,
        576
      ],
      "id": "d4773ef4-3c89-41b9-a832-db6f6c2a5131",
      "name": "check button answer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e5b4b5f-2240-4724-ab63-753425ccc4fc",
              "name": "message",
              "value": "Muestra los precios y servicios disponibles",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        448
      ],
      "id": "21718fd8-97d6-4532-b562-d7fab2016a48",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c84df8d-dbd2-4467-8c84-d527ef658552",
              "name": "message",
              "value": "Tengo un problema técnico, ayúdame o registrar mi caso",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        592
      ],
      "id": "f235fd7d-3869-422b-a45a-808af9a202a1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ac2d74a-8e97-45a4-bcfa-85190a239151",
              "name": "message",
              "value": "Quiero hablar con una persona",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        736
      ],
      "id": "8e582224-12d9-4b17-896e-8e6f9ada3b48",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 766412297,
          "message": {
            "message_id": 12,
            "from": {
              "id": 8482639810,
              "is_bot": false,
              "first_name": "Joe",
              "language_code": "en"
            },
            "chat": {
              "id": 8482639810,
              "first_name": "Joe",
              "type": "private"
            },
            "date": 1770569893,
            "text": "message from drtx"
          }
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Store messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Last messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last messages": {
      "main": [
        [
          {
            "node": "Clean buffer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store messages": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check button answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean buffer": {
      "main": [
        []
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "busqueda_productos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "busqueda_productos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "busqueda_productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_duda_tecnica": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check button answer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "59fd5352-ae5c-48ec-bbf9-084ac9cc7888",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56916c2e5fc82da1230484d693fe38ba284867d81e628f698543d0aa88080ce8"
  },
  "id": "F6-LX1h1pe6d9ko-YpEiX",
  "tags": [
    {
      "updatedAt": "2026-02-04T22:18:16.935Z",
      "createdAt": "2026-02-04T22:18:16.935Z",
      "id": "xtKfAF6slGzG18ni",
      "name": "Orangutan"
    }
  ]
}