bot/cur-workflows/Construir Contexto Robusto.json
{
  "name": "Construir Contexto Robusto",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "9c1ac027-8193-4b2f-8a6d-fd6c6900405d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2048,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "w3c01",
              "name": "TRELLO_API_KEY",
              "value": "={{ $env.TRELLO_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w3c02",
              "name": "TRELLO_TOKEN",
              "value": "={{ $env.TRELLO_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c03",
              "name": "TRELLO_BOARD_ID",
              "value": "={{ $env.TRELLO_BOARD_ID }}",
              "type": "string"
            },
            {
              "id": "w3c04",
              "name": "GITHUB_TOKEN",
              "value": "={{ $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c04b",
              "name": "GITHUB_TOKEN_BACKEND",
              "value": "={{ $env.GITHUB_TOKEN_BACKEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c04f",
              "name": "GITHUB_TOKEN_FRONTEND",
              "value": "={{ $env.GITHUB_TOKEN_FRONTEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c05",
              "name": "GITHUB_OWNER_BACKEND",
              "value": "={{ $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w3c05f",
              "name": "GITHUB_OWNER_FRONTEND",
              "value": "={{ $env.GITHUB_OWNER_FRONTEND || $env.GITHUB_OWNER || $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w3c06",
              "name": "GITHUB_REPO_BACKEND",
              "value": "={{ $env.GITHUB_REPO_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w3c07",
              "name": "GITHUB_REPO_FRONTEND",
              "value": "={{ $env.GITHUB_REPO_FRONTEND }}",
              "type": "string"
            },
            {
              "id": "w3c08",
              "name": "GEMINI_API_KEY",
              "value": "={{ $env.GEMINI_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w3c09",
              "name": "DISCORD_WEBHOOK_URL",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "69a2a5ab-41e8-492c-ad95-1ea860e30846",
      "name": "Configuración",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        224
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Configuración\"].json.TRELLO_BOARD_ID }}/cards",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $node[\"Configuración\"].json.TRELLO_API_KEY }}"
            },
            {
              "name": "token",
              "value": "={{ $node[\"Configuración\"].json.TRELLO_TOKEN }}"
            },
            {
              "name": "fields",
              "value": "name,dueComplete,due,idList,dateLastActivity"
            },
            {
              "name": "attachments",
              "value": "true"
            },
            {
              "name": "attachment_fields",
              "value": "name,url,mimeType,date"
            }
          ]
        },
        "options": {}
      },
      "id": "32162821-c0cb-4f77-9ca4-86e7c266fdce",
      "name": "Trello Cards Delta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        32
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Configuración\"].json.GITHUB_REPO_BACKEND }}/commits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sha",
              "value": "main"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Configuración\"].json.GITHUB_TOKEN_BACKEND || $node[\"Configuración\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "f7b9aaa3-e0df-4e49-8a6b-241a5bae56aa",
      "name": "GitHub Back Main",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Configuración\"].json.GITHUB_REPO_FRONTEND }}/commits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sha",
              "value": "main"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Configuración\"].json.GITHUB_TOKEN_FRONTEND || $node[\"Configuración\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "3b74096d-c94a-4e2f-9974-a86daf269eef",
      "name": "GitHub Front Main",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT snapshot FROM estado_conocido WHERE id = 1;",
        "options": {}
      },
      "id": "023f9be3-c64f-4984-aade-3a2f8ead4cbb",
      "name": "PG Estado Conocido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1584,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "91cecb6b-4b3e-4538-bc89-af3c0536e90f",
      "name": "Merge Delta",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1328,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $node['Configuración'].json;\n\nconst parseSnapshot = (value) => {\n  try {\n    if (!value) return {};\n    if (typeof value === 'string') return JSON.parse(value);\n    if (typeof value === 'object') return value;\n    return {};\n  } catch (e) {\n    return {};\n  }\n};\n\nconst safeNodeItems = (nodeName) => {\n  try {\n    return $(nodeName).all().map(i => i.json);\n  } catch (e) {\n    return [];\n  }\n};\n\nconst flattenItems = (arr) => {\n  const out = [];\n  for (const it of arr) {\n    if (Array.isArray(it)) out.push(...it);\n    else if (it && typeof it === 'object') out.push(it);\n  }\n  return out;\n};\n\nconst isCard = (x) =>\n  x &&\n  typeof x === 'object' &&\n  typeof x.id === 'string' &&\n  x.id.length === 24 &&\n  Object.prototype.hasOwnProperty.call(x, 'dueComplete');\n\nconst isCommit = (x) =>\n  x &&\n  typeof x === 'object' &&\n  typeof x.sha === 'string' &&\n  x.commit &&\n  typeof x.commit === 'object';\n\n// 1) Intento principal: leer por nodo (más robusto y explícito)\nlet cards = flattenItems(safeNodeItems('Trello Cards Delta')).filter(isCard);\nlet backCommits = flattenItems(safeNodeItems('GitHub Back Main')).filter(isCommit);\nlet frontCommits = flattenItems(safeNodeItems('GitHub Front Main')).filter(isCommit);\n\nconst pgRows = flattenItems(safeNodeItems('PG Estado Conocido'));\nlet prevSnapshot = parseSnapshot(pgRows[0]?.snapshot);\n\n// 2) Fallback: si algo vino vacío, intentar reconstruir desde Merge/$input\nif (!cards.length || !backCommits.length || !frontCommits.length || !Object.keys(prevSnapshot).length) {\n  const mergedRaw = $input.all().map(i => i.json);\n  const mergedFlat = flattenItems(mergedRaw);\n\n  const fbCards = [];\n  const fbBack = [];\n  const fbFront = [];\n  let fbSnapshot = {};\n\n  for (const it of mergedFlat) {\n    if (it?.snapshot && !Object.keys(fbSnapshot).length) {\n      fbSnapshot = parseSnapshot(it.snapshot);\n      continue;\n    }\n\n    if (isCard(it)) {\n      fbCards.push(it);\n      continue;\n    }\n\n    if (isCommit(it)) {\n      const url = String(it.url || it.html_url || '');\n      if (url.includes(cfg.GITHUB_REPO_BACKEND)) fbBack.push(it);\n      else if (url.includes(cfg.GITHUB_REPO_FRONTEND)) fbFront.push(it);\n    }\n  }\n\n  if (!cards.length) cards = fbCards;\n  if (!backCommits.length) backCommits = fbBack;\n  if (!frontCommits.length) frontCommits = fbFront;\n  if (!Object.keys(prevSnapshot).length) prevSnapshot = fbSnapshot;\n}\n\nconst prev = {\n  main_commit_back_sha: prevSnapshot.main_commit_back_sha || null,\n  main_commit_front_sha: prevSnapshot.main_commit_front_sha || null,\n  card_states: prevSnapshot.card_states || {}\n};\n\nconst events = [];\nconst newCardStates = {};\n\nfor (const c of cards) {\n  const attCount = (c.attachments || []).length;\n  const pdfAtts = (c.attachments || []).filter(a =>\n    (a.mimeType || '').includes('pdf') || (a.name || '').toLowerCase().endsWith('.pdf')\n  );\n\n  newCardStates[c.id] = {\n    dueComplete: !!c.dueComplete,\n    attCount,\n    pdfCount: pdfAtts.length\n  };\n\n  const prevCard = prev.card_states[c.id];\n  if (prevCard) {\n    if (!prevCard.dueComplete && c.dueComplete) {\n      events.push({\n        tipo: 'tarea_completada',\n        emoji: '✅',\n        titulo: 'Tarea completada',\n        descripcion: `La tarjeta \"${c.name}\" fue marcada como completada.`,\n        detalle: { card_id: c.id, card_name: c.name, due: c.due }\n      });\n    }\n\n    if ((prevCard.pdfCount || 0) < pdfAtts.length) {\n      const newPdfs = pdfAtts.slice(-(pdfAtts.length - (prevCard.pdfCount || 0)));\n      events.push({\n        tipo: 'entregable_subido',\n        emoji: '📎',\n        titulo: 'Nuevo entregable PDF',\n        descripcion: `Se subió un PDF a \"${c.name}\": ${newPdfs.map(p => p.name).join(', ')}`,\n        detalle: {\n          card_id: c.id,\n          card_name: c.name,\n          pdfs: newPdfs.map(p => ({ name: p.name, url: p.url }))\n        }\n      });\n    }\n  }\n}\n\nconst latestBack = backCommits[0];\nif (latestBack && latestBack.sha !== prev.main_commit_back_sha) {\n  if (prev.main_commit_back_sha) {\n    events.push({\n      tipo: 'commit_main_backend',\n      emoji: '🔀',\n      titulo: 'Commit a main (backend)',\n      descripcion: `${latestBack.commit?.author?.name || '?'}: ${(latestBack.commit?.message || '').split('\\n')[0]}`,\n      detalle: {\n        repo: 'backend',\n        sha: latestBack.sha,\n        url: latestBack.html_url,\n        autor: latestBack.commit?.author?.name,\n        mensaje: latestBack.commit?.message\n      }\n    });\n  }\n}\n\nconst latestFront = frontCommits[0];\nif (latestFront && latestFront.sha !== prev.main_commit_front_sha) {\n  if (prev.main_commit_front_sha) {\n    events.push({\n      tipo: 'commit_main_frontend',\n      emoji: '🔀',\n      titulo: 'Commit a main (frontend)',\n      descripcion: `${latestFront.commit?.author?.name || '?'}: ${(latestFront.commit?.message || '').split('\\n')[0]}`,\n      detalle: {\n        repo: 'frontend',\n        sha: latestFront.sha,\n        url: latestFront.html_url,\n        autor: latestFront.commit?.author?.name,\n        mensaje: latestFront.commit?.message\n      }\n    });\n  }\n}\n\nconst newSnapshot = {\n  main_commit_back_sha: latestBack?.sha || prev.main_commit_back_sha,\n  main_commit_front_sha: latestFront?.sha || prev.main_commit_front_sha,\n  card_states: newCardStates\n};\n\nreturn [{\n  json: {\n    events,\n    event_count: events.length,\n    new_snapshot: newSnapshot,\n    new_snapshot_json: JSON.stringify(newSnapshot)\n  }\n}];"
      },
      "id": "c043aab2-125b-4ce6-995f-acb1454094f7",
      "name": "Delta Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE estado_conocido SET snapshot = $1::jsonb, actualizado = NOW() WHERE id = 1;",
        "options": {
          "queryReplacement": "={{ $json.new_snapshot_json }}"
        }
      },
      "id": "e660aba2-e932-4977-92de-7d23133f81a5",
      "name": "PG Update Estado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -912,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ev-gt-0",
              "leftValue": "={{ $json.event_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6efb8ce2-d6fd-4509-bdc5-d7174408a613",
      "name": "IF Hay Eventos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const events = $json.events || [];\nreturn events.map(e => ({ json: e }));\n"
      },
      "id": "4ecb5126-7d4b-4c7d-a4ad-5ddafc5a52d9",
      "name": "Split Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $node[\"Configuración\"].json.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "3c8a725f-afd3-42a8-ac98-62b72ac58fe0",
      "name": "Gemini Event Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $node['Split Events'].json;\nconst gem = $json;\nconst analysis = gem?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || '';\n\nlet extra = '';\nif (ev.detalle?.url) extra = `\\n🔗 ${ev.detalle.url}`;\nif (ev.detalle?.pdfs?.length) extra = '\\n' + ev.detalle.pdfs.map(p => `📄 [${p.name}](${p.url})`).join('\\n');\n\nconst content = `${ev.emoji} **${ev.titulo}**\\n${ev.descripcion}${extra}\\n\\n🤖 ${analysis}`;\n\nreturn [{ json: {\n  ...ev,\n  analysis,\n  content,\n  detalle_json: JSON.stringify(ev.detalle || {})\n}}];\n"
      },
      "id": "d4ba5390-166e-41ae-bb55-cddce5c15709",
      "name": "Build Discord Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Configuración\"].json.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "bdcc7193-c793-4017-8d04-683404cc6c96",
      "name": "Discord Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eventos_detectados (tipo, descripcion, detalle, notificado) VALUES ($1, $2, $3::jsonb, TRUE);",
        "options": {
          "queryReplacement": "={{ $json.tipo }},={{ $json.descripcion }},={{ $json.detalle_json }}"
        }
      },
      "id": "e74c83e1-57e0-4650-8207-cd83d84c821f",
      "name": "PG Insert Evento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -48,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuración",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuración": {
      "main": [
        [
          {
            "node": "Trello Cards Delta",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Back Main",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Front Main",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Estado Conocido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Cards Delta": {
      "main": [
        [
          {
            "node": "Merge Delta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Back Main": {
      "main": [
        [
          {
            "node": "Merge Delta",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Front Main": {
      "main": [
        [
          {
            "node": "Merge Delta",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PG Estado Conocido": {
      "main": [
        [
          {
            "node": "Merge Delta",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Delta": {
      "main": [
        [
          {
            "node": "Delta Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delta Detector": {
      "main": [
        [
          {
            "node": "IF Hay Eventos",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Update Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hay Eventos": {
      "main": [
        [
          {
            "node": "Split Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Events": {
      "main": [
        [
          {
            "node": "Gemini Event Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Event Analysis": {
      "main": [
        [
          {
            "node": "Build Discord Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Msg": {
      "main": [
        [
          {
            "node": "Discord Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Insert Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99f83647-5590-4b4e-b4d0-cf147f59d534",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "Dgobg3vMcRWaNPkA",
  "tags": []
}