bot/4. 🛠️ Monitoring & Reliability (Salud del Sistema)/Monitor PetSafe.json
{
  "name": "Monitor PetSafe",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "58742a57-2b02-43c0-ba08-8b8c22f3c3e5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -11184,
        13104
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "w1c03",
              "name": "TRELLO_BOARD_ID",
              "value": "={{ $env.TRELLO_BOARD_ID }}",
              "type": "string"
            },
            {
              "id": "w1c05",
              "name": "GITHUB_OWNER_BACKEND",
              "value": "={{ $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w1c05f",
              "name": "GITHUB_OWNER_FRONTEND",
              "value": "={{ $env.GITHUB_OWNER_FRONTEND || $env.GITHUB_OWNER || $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w1c06",
              "name": "GITHUB_REPO_BACKEND",
              "value": "={{ $env.GITHUB_REPO_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w1c07",
              "name": "GITHUB_REPO_FRONTEND",
              "value": "={{ $env.GITHUB_REPO_FRONTEND }}",
              "type": "string"
            },
            {
              "id": "w1c09",
              "name": "DISCORD_WEBHOOK_URL",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ce432863-bd20-47da-b86c-e6b7a6439a5b",
      "name": "Configuración",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10992,
        13104
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Configuración\"].json.TRELLO_BOARD_ID }}/cards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,desc,due,dueComplete,idMembers,idList,dateLastActivity,labels"
            },
            {
              "name": "attachments",
              "value": "true"
            },
            {
              "name": "attachment_fields",
              "value": "name,url,mimeType,isUpload,date"
            }
          ]
        },
        "options": {}
      },
      "id": "54c7a3bc-601e-454c-b271-117aeb3abd9c",
      "name": "Trello Cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -10432,
        12752
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Configuraci\\u00f3n\"].json.TRELLO_BOARD_ID }}/lists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,closed"
            }
          ]
        },
        "options": {}
      },
      "id": "86d40937-cf11-4bdb-8eab-e1d38427d95b",
      "name": "Trello Lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9824,
        14704
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Configuraci\\u00f3n\"].json.TRELLO_BOARD_ID }}/members",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "fullName,username"
            }
          ]
        },
        "options": {}
      },
      "id": "4774d4a4-b79c-4e8c-b815-1b7d7e249a1c",
      "name": "Trello Members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9696,
        14896
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Configuración\"].json.TRELLO_BOARD_ID }}/checklists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,idCard"
            },
            {
              "name": "checkItem_fields",
              "value": "name,state,due"
            }
          ]
        },
        "options": {}
      },
      "id": "70ab3b31-a96e-4902-a3e0-a5de87942840",
      "name": "Trello Checklists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9648,
        14032
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Configuración\"].json.GITHUB_REPO_BACKEND }}/commits?per_page=30",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "4c8b37b6-15fd-4fb5-986c-20778adb581c",
      "name": "GitHub Back Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9856,
        15024
      ],
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Configuración\"].json.GITHUB_REPO_FRONTEND }}/commits?per_page=30",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "b7e7fbbb-9420-41c7-8de4-2a74d1f21e75",
      "name": "GitHub Front Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9728,
        14352
      ],
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": "={{ $node[\"Configuraci\\u00f3n\"].json.GITHUB_OWNER_BACKEND }}",
        "repository": "={{ $node[\"Configuraci\\u00f3n\"].json.GITHUB_REPO_BACKEND }}",
        "getRepositoryPullRequestsFilters": {}
      },
      "id": "8c8ea672-cdba-47ce-8a13-d5fac8fee2a5",
      "name": "GitHub Back PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -9728,
        14528
      ],
      "webhookId": "d9cd4cd7-a897-4d18-9898-03e5960febb6",
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": "={{ $node[\"Configuraci\\u00f3n\"].json.GITHUB_OWNER_FRONTEND }}",
        "repository": "={{ $node[\"Configuraci\\u00f3n\"].json.GITHUB_REPO_FRONTEND }}",
        "getRepositoryPullRequestsFilters": {}
      },
      "id": "fb451cb2-b19f-4b9c-b761-ac2dbd817062",
      "name": "GitHub Front PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -9712,
        14160
      ],
      "webhookId": "6d9f2fd7-2d04-4822-a673-b1b4dacfa576",
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Configuración\"].json.GITHUB_REPO_BACKEND }}/actions/runs?per_page=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "c6a798b1-be15-4a81-9190-f1ec14dbd681",
      "name": "GitHub Back CI Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9600,
        13856
      ],
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Configuración\"].json.GITHUB_REPO_FRONTEND }}/actions/runs?per_page=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "164e8222-4616-4b10-b7bf-e5db9cf36dc7",
      "name": "GitHub Front CI Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9552,
        13504
      ],
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, fecha_ejecucion, hay_problemas, total_tareas, tareas_vencidas, progreso_pct, kpis_json FROM analisis_proyecto ORDER BY fecha_ejecucion DESC LIMIT 10;",
        "options": {}
      },
      "id": "21bfec7f-b64d-443f-aac5-4515de62ac2a",
      "name": "Postgres Historial",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -9264,
        13376
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nombre, tipo, fecha_inicio, fecha_fin, responsable, completado FROM hitos_proyecto ORDER BY fecha_fin ASC;",
        "options": {}
      },
      "id": "97f9a06b-33fc-40f0-b25b-6f398a9de6e8",
      "name": "Postgres Hitos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -9600,
        13680
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 12
      },
      "id": "7d09507d-3946-425d-a14a-9f9bdf774bab",
      "name": "Merge Datos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -9920,
        12592
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst items = $input.all().map(i => i.json);\n\nconst MEMBER_MAP = {\n  'Fernando Joel Bonilla Guerrero': { github: 'JoelBonillaG', initials: 'FG' },\n  'Joel Bonilla': { github: 'JoelBonillaG', initials: 'FG' },\n  'David Manjarres': { github: 'DRTX2', initials: 'DM' },\n  'David Oswaldo Manjarres Quintero': { github: 'DRTX2', initials: 'DM' },\n  'David Josue Barragan Pozo': { github: 'DavidJosueP2', initials: 'DP' },\n  'David Josué Barragán Pozo': { github: 'DavidJosueP2', initials: 'DP' },\n  'David Barragán Pozo': { github: 'DavidJosueP2', initials: 'DP' },\n  'David Barragan Pozo': { github: 'DavidJosueP2', initials: 'DP' },\n  'Josue Joel Garcia Abata': { github: 'JosueGarciaAbata', initials: 'JA' },\n  'Josué Joel García Abata': { github: 'JosueGarciaAbata', initials: 'JA' },\n  'Josué García Abata': { github: 'JosueGarciaAbata', initials: 'JA' },\n  'Josue Garcia Abata': { github: 'JosueGarciaAbata', initials: 'JA' }\n};\n\nfunction resolveMember(fullName) {\n  if (!fullName) return { github: null, initials: '??' };\n  if (MEMBER_MAP[fullName]) return MEMBER_MAP[fullName];\n  const norm = fullName.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  for (const [k, v] of Object.entries(MEMBER_MAP)) {\n    if (k.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '') === norm) return v;\n  }\n  const parts = fullName.split(' ').filter(Boolean);\n  const initials = (parts[0]?.[0] || '?') + (parts[parts.length - 1]?.[0] || '');\n  return { github: null, initials: initials.toUpperCase() };\n}\n\nconst backRepo = $node['Configuración'].json.GITHUB_REPO_BACKEND;\nconst frontRepo = $node['Configuración'].json.GITHUB_REPO_FRONTEND;\n\nlet cards = [], lists = [], members = [], historial = [], hitos = [], checklists = [];\nlet bRuns = [], fRuns = [];\n\nitems.forEach(d => {\n  if (!d || typeof d !== 'object') return;\n  if (d.workflow_runs !== undefined && Array.isArray(d.workflow_runs)) {\n    const first = d.workflow_runs[0];\n    const repoName = first?.repository?.name || first?.head_repository?.name || '';\n    if (repoName === backRepo) bRuns = d.workflow_runs;\n    else if (repoName === frontRepo) fRuns = d.workflow_runs;\n    else if (!bRuns.length) bRuns = d.workflow_runs;\n    else fRuns = d.workflow_runs;\n    return;\n  }\n  if (d.idCard && Array.isArray(d.checkItems)) { checklists.push(d); return; }\n  if (d.nombre && d.tipo && d.fecha_fin !== undefined) { hitos.push(d); return; }\n  if (d.fecha_ejecucion !== undefined) { historial.push(d); return; }\n  if (d.id && d.name && d.idList !== undefined && d.due !== undefined) { cards.push(d); return; }\n  if (d.id && d.name && d.closed !== undefined && !d.idList) { lists.push(d); return; }\n  if (d.id && (d.fullName || d.username) && !d.idList && !d.name) { members.push(d); return; }\n});\n\nconst allCommits = items.filter(d => d && d.sha && d.commit);\nconst bCommits = allCommits.filter(c => c.url && c.url.includes('/' + backRepo + '/'));\nconst fCommits = allCommits.filter(c => c.url && c.url.includes('/' + frontRepo + '/'));\n\nconst allPRs = items.filter(d => d && d.number && d.state && d.html_url?.includes('/pull/'));\nconst bPRs = allPRs.filter(p => p.base?.repo?.name === backRepo);\nconst fPRs = allPRs.filter(p => p.base?.repo?.name === frontRepo);\n\nconst listaById = {};\nlists.forEach(l => { listaById[l.id] = l.name; });\nconst miembroById = {};\nmembers.forEach(m => { miembroById[m.id] = m.fullName || m.username; });\n\nconst checklistsByCard = {};\nchecklists.forEach(ch => {\n  if (!checklistsByCard[ch.idCard]) checklistsByCard[ch.idCard] = [];\n  checklistsByCard[ch.idCard].push(ch);\n});\n\nfunction normFase(s) {\n  return (s || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\n}\n\nconst tareasRaw = cards.map(c => {\n  const due = c.due ? new Date(c.due) : null;\n  const vencida = due && !c.dueComplete && due < now;\n  const diasRestantes = due ? Math.floor((due - now) / 86400000) : null;\n  const atts = c.attachments || [];\n  const enlaces = atts.filter(a => a.url && a.isUpload === false).map(a => ({ name: a.name || a.url, url: a.url }));\n  const archivos = atts.filter(a => a.isUpload === true).map(a => ({ name: a.name, url: a.url, mimeType: a.mimeType || '' }));\n  const pdfs = archivos.filter(a => (a.mimeType || '').includes('pdf') || (a.name || '').toLowerCase().endsWith('.pdf'));\n  const chArr = checklistsByCard[c.id] || [];\n  const chTotal = chArr.reduce((s, ch) => s + (ch.checkItems?.length || 0), 0);\n  const chDone = chArr.reduce((s, ch) => s + (ch.checkItems?.filter(i => i.state === 'complete').length || 0), 0);\n  const daysSince = c.dateLastActivity ? Math.floor((now - new Date(c.dateLastActivity)) / 86400000) : null;\n  const responsables = (c.idMembers || []).map(id => miembroById[id] || id);\n  return {\n    id: c.id,\n    nombre: c.name,\n    lista: listaById[c.idList] || 'desconocida',\n    completada: !!c.dueComplete,\n    fecha_limite: c.due,\n    dias_restantes: diasRestantes,\n    vencida: !!vencida,\n    responsables,\n    responsables_ids: c.idMembers || [],\n    adjuntos_count: atts.length,\n    enlaces,\n    archivos,\n    pdfs_count: pdfs.length,\n    checklist_total: chTotal,\n    checklist_done: chDone,\n    checklist_pct: chTotal > 0 ? Math.round(chDone / chTotal * 100) : null,\n    dias_sin_actividad: daysSince,\n    dateLastActivity: c.dateLastActivity,\n    stale: daysSince !== null && daysSince > 5 && !c.dueComplete,\n    sin_asignar: (c.idMembers || []).length === 0,\n    sin_fecha: !c.due\n  };\n});\n\nconst tareas = tareasRaw.filter(t => t.nombre && t.nombre.trim() !== '.');\n\nconst fases = {};\nfor (const t of tareas) {\n  const key = normFase(t.lista);\n  if (!fases[key]) fases[key] = { nombre: t.lista, tareas: [], completadas: 0, vencidas: 0, pendientes: 0 };\n  fases[key].tareas.push(t);\n  if (t.completada) fases[key].completadas++;\n  else if (t.vencida) fases[key].vencidas++;\n  else fases[key].pendientes++;\n}\nfor (const f of Object.values(fases)) {\n  f.total = f.tareas.length;\n  f.pct = f.total > 0 ? Math.round(f.completadas / f.total * 100) : 0;\n  if (f.vencidas > 0) f.semaforo = 'rojo';\n  else if (f.pct >= 80) f.semaforo = 'verde';\n  else if (f.pct >= 40) f.semaforo = 'amarillo';\n  else f.semaforo = 'gris';\n}\n\nconst vencidas = tareas.filter(t => t.vencida);\nconst completadas = tareas.filter(t => t.completada);\nconst pendientes = tareas.filter(t => !t.completada && !t.vencida);\nconst stales = tareas.filter(t => t.stale);\nconst sinAsignar = tareas.filter(t => t.sin_asignar);\nconst sinFecha = tareas.filter(t => t.sin_fecha);\nconst progreso = tareas.length > 0 ? Math.round(completadas.length / tareas.length * 100) : 0;\n\nconst sevenDaysAgo = new Date(now - 7 * 86400000);\nconst fourteenDaysAgo = new Date(now - 14 * 86400000);\nconst thirtyDaysAgo = new Date(now - 30 * 86400000);\n\nconst completadas7d = completadas.filter(t => t.dateLastActivity && new Date(t.dateLastActivity) >= sevenDaysAgo).length;\nconst velocidad = (completadas7d / 7).toFixed(2);\nconst aTiempo = completadas.filter(t => !t.fecha_limite || new Date(t.fecha_limite) >= new Date(t.dateLastActivity || 0)).length;\nconst pctATiempo = completadas.length > 0 ? Math.round(aTiempo / completadas.length * 100) : 100;\n\nconst commitsRecent = [...bCommits, ...fCommits].filter(c => c.commit?.author?.date && new Date(c.commit.author.date) >= fourteenDaysAgo);\nconst commitsPorDia = (commitsRecent.length / 14).toFixed(2);\n\nconst prsAbiertos = [...bPRs, ...fPRs].filter(p => p.state === 'open');\nconst prOpenTimes = prsAbiertos.map(p => (now - new Date(p.created_at)) / 86400000);\nconst avgPROpenDays = prOpenTimes.length > 0 ? (prOpenTimes.reduce((a, b) => a + b, 0) / prOpenTimes.length).toFixed(1) : '0';\nconst prsRecientes = [...bPRs, ...fPRs].filter(p => new Date(p.created_at) >= thirtyDaysAgo);\nconst mergeados = prsRecientes.filter(p => p.merged_at).length;\nconst cerrados = prsRecientes.filter(p => p.state === 'closed').length;\nconst mergeRatio = cerrados > 0 ? Math.round(mergeados / cerrados * 100) : 0;\n\nconst convRegex = /^(feat|fix|docs|style|refactor|test|chore|perf|ci|build)(\\(.+\\))?:/i;\nconst convCommits = commitsRecent.filter(c => convRegex.test((c.commit?.message || '').split('\\n')[0]));\nconst pctConv = commitsRecent.length > 0 ? Math.round(convCommits.length / commitsRecent.length * 100) : 0;\n\nconst authorsRecent = new Set(commitsRecent.map(c => c.author?.login || c.commit?.author?.email || '?').filter(x => x !== '?'));\nconst busFactor = authorsRecent.size;\n\nconst lastBackCommit = bCommits[0]?.commit?.author?.date;\nconst lastFrontCommit = fCommits[0]?.commit?.author?.date;\nconst silenceBack = lastBackCommit ? Math.floor((now - new Date(lastBackCommit)) / 86400000) : null;\nconst silenceFront = lastFrontCommit ? Math.floor((now - new Date(lastFrontCommit)) / 86400000) : null;\n\nconst bLastRun = bRuns[0];\nconst fLastRun = fRuns[0];\nconst ciBack = bLastRun ? { status: bLastRun.conclusion || bLastRun.status, date: bLastRun.updated_at, name: bLastRun.name, url: bLastRun.html_url, branch: bLastRun.head_branch, actor: bLastRun.actor?.login } : null;\nconst ciFront = fLastRun ? { status: fLastRun.conclusion || fLastRun.status, date: fLastRun.updated_at, name: fLastRun.name, url: fLastRun.html_url, branch: fLastRun.head_branch, actor: fLastRun.actor?.login } : null;\n\nconst hoyStr = now.toISOString().slice(0, 10);\nconst proximos = hitos.filter(h => h.fecha_fin >= hoyStr && !h.completado).slice(0, 5).map(h => ({\n  nombre: h.nombre, tipo: h.tipo, fecha_fin: h.fecha_fin,\n  dias_faltan: Math.floor((new Date(h.fecha_fin) - now) / 86400000),\n  responsable: h.responsable\n}));\nconst fin = hitos.find(h => h.tipo === 'entrega_final');\nconst diasHastaFin = fin ? Math.floor((new Date(fin.fecha_fin) - now) / 86400000) : null;\n\nlet proyeccion = 'sin datos';\nif (diasHastaFin !== null && pendientes.length > 0) {\n  const necesaria = pendientes.length / Math.max(diasHastaFin, 1);\n  if (parseFloat(velocidad) >= necesaria) proyeccion = 'on-track';\n  else if (parseFloat(velocidad) >= necesaria * 0.7) proyeccion = 'riesgo';\n  else proyeccion = 'retrasado';\n}\n\nconst workPerPerson = {};\nfor (const t of tareas) {\n  for (const r of t.responsables) {\n    const m = resolveMember(r);\n    if (!workPerPerson[r]) workPerPerson[r] = { trello_name: r, initials: m.initials, github: m.github, tareas_total: 0, tareas_done: 0, tareas_pending: 0, tareas_overdue: 0, commits_14d: 0 };\n    workPerPerson[r].tareas_total++;\n    if (t.completada) workPerPerson[r].tareas_done++;\n    else if (t.vencida) workPerPerson[r].tareas_overdue++;\n    else workPerPerson[r].tareas_pending++;\n  }\n}\nfor (const c of commitsRecent) {\n  const login = c.author?.login;\n  if (!login) continue;\n  for (const p of Object.values(workPerPerson)) {\n    if (p.github === login) p.commits_14d++;\n  }\n}\nconst ranking = Object.values(workPerPerson).sort((a, b) => (b.tareas_done + b.commits_14d) - (a.tareas_done + a.commits_14d));\n\nlet tendencia = 'sin historial suficiente';\nif (historial.length >= 3) {\n  const conProblemas = historial.filter(h => h.hay_problemas).length;\n  tendencia = conProblemas >= 3 ? conProblemas + '/' + historial.length + ' con problemas' : 'estable';\n}\n\nlet diffPrev = null;\nif (historial.length > 0) {\n  const prev = historial[0];\n  const prevKpis = (typeof prev.kpis_json === 'string' ? JSON.parse(prev.kpis_json) : prev.kpis_json) || {};\n  diffPrev = {\n    progreso: progreso - (prev.progreso_pct || 0),\n    vencidas: vencidas.length - (prev.tareas_vencidas || 0),\n    commits_14d: commitsRecent.length - (prevKpis.commits_14d || 0)\n  };\n}\n\nfunction formatCommits(list, limit) {\n  return list.slice(0, limit).map(c => ({\n    sha: (c.sha || '').slice(0, 7),\n    autor: c.commit?.author?.name || c.author?.login || '?',\n    login: c.author?.login || null,\n    mensaje: (c.commit?.message || '').split('\\n')[0].slice(0, 120),\n    fecha: c.commit?.author?.date,\n    url: c.html_url\n  }));\n}\nconst topBack = formatCommits(bCommits, 5);\nconst topFront = formatCommits(fCommits, 5);\n\nconst kpis = {\n  velocidad_tareas_por_dia: parseFloat(velocidad),\n  completadas_7d: completadas7d,\n  pct_a_tiempo: pctATiempo,\n  progreso_sprint_pct: progreso,\n  commits_por_dia: parseFloat(commitsPorDia),\n  commits_14d: commitsRecent.length,\n  pct_commits_convencionales: pctConv,\n  bus_factor_14d: busFactor,\n  silencio_back_dias: silenceBack,\n  silencio_front_dias: silenceFront,\n  pr_open_time_dias: parseFloat(avgPROpenDays),\n  pr_merge_ratio_30d: mergeRatio,\n  dias_hasta_fin: diasHastaFin,\n  proyeccion\n};\n\nconst problemas = [];\nif (vencidas.length > 0) problemas.push({ tipo: 'tareas_vencidas', severidad: 'alta', count: vencidas.length });\nif (proyeccion === 'retrasado') problemas.push({ tipo: 'proyeccion_retraso', severidad: 'alta' });\nif (proyeccion === 'riesgo') problemas.push({ tipo: 'proyeccion_riesgo', severidad: 'media' });\nif (parseFloat(avgPROpenDays) > 7 && prsAbiertos.length > 0) problemas.push({ tipo: 'pr_stale', severidad: 'media', count: prsAbiertos.filter(p => (now - new Date(p.updated_at)) / 86400000 > 7).length });\nif (parseFloat(commitsPorDia) < 0.5 && diasHastaFin !== null && diasHastaFin < 45) problemas.push({ tipo: 'baja_actividad', severidad: 'media' });\nif (ciBack && ciBack.status === 'failure') problemas.push({ tipo: 'ci_back_roto', severidad: 'alta' });\nif (ciFront && ciFront.status === 'failure') problemas.push({ tipo: 'ci_front_roto', severidad: 'alta' });\nif (stales.length > 3) problemas.push({ tipo: 'cards_stale', severidad: 'media', count: stales.length });\nif (busFactor < 2 && commitsRecent.length > 0 && diasHastaFin !== null && diasHastaFin < 45) problemas.push({ tipo: 'bus_factor_bajo', severidad: 'media' });\nif (sinAsignar.length > 0) problemas.push({ tipo: 'cards_sin_asignar', severidad: 'baja', count: sinAsignar.length });\n\nconst sev = problemas.map(p => p.severidad);\nconst severidadMax = sev.includes('alta') ? 'alta' : sev.includes('media') ? 'media' : 'baja';\n\nreturn [{\n  json: {\n    fecha: now.toISOString(),\n    hay_problemas: problemas.length > 0,\n    total_tarjetas: tareas.length,\n    total_completadas: completadas.length,\n    total_pendientes: pendientes.length,\n    tareas_vencidas_list: vencidas,\n    tareas_vencidas_count: vencidas.length,\n    progreso_pct: progreso,\n    fases,\n    ranking,\n    cards_stale: stales,\n    cards_sin_asignar: sinAsignar,\n    cards_sin_fecha: sinFecha,\n    kpis,\n    hitos_proximos: proximos,\n    tendencia_historial: tendencia,\n    diff_previa: diffPrev,\n    problemas_detectados: problemas,\n    severidad_max: severidadMax,\n    cantidad_problemas: problemas.length,\n    github: {\n      commits_back: bCommits.length,\n      commits_front: fCommits.length,\n      prs_abiertos_back: bPRs.filter(p => p.state === 'open').length,\n      prs_abiertos_front: fPRs.filter(p => p.state === 'open').length,\n      prs_detalle_abiertos: prsAbiertos.map(p => ({ numero: p.number, titulo: p.title, autor: p.user?.login, dias_abierto: Math.floor((now - new Date(p.created_at)) / 86400000), repo: p.base?.repo?.name, url: p.html_url })),\n      top_commits_back: topBack,\n      top_commits_front: topFront,\n      ci_back: ciBack,\n      ci_front: ciFront,\n      deploy_front_url: 'https://pet-safe-six.vercel.app',\n      back_repo_url: 'https://github.com/' + $node['Configuración'].json.GITHUB_OWNER_BACKEND + '/' + backRepo,\n      front_repo_url: 'https://github.com/' + $node['Configuración'].json.GITHUB_OWNER_FRONTEND + '/' + frontRepo\n    },\n    snapshot_tareas: tareas,\n    discord_url: $node['Configuración'].json.DISCORD_WEBHOOK_URL\n  }\n}];"
      },
      "id": "6c5ce239-0728-4665-abb5-b251e4bd100d",
      "name": "Análisis + KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9120,
        12896
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO analisis_proyecto (fecha_ejecucion, hay_problemas, total_tareas, tareas_completadas, tareas_vencidas, progreso_pct, commits_backend, commits_frontend, prs_abiertos_backend, prs_abiertos_frontend, problemas_detectados, cantidad_problemas, severidad_maxima, kpis_json) VALUES (NOW(), $4, $5, $6, $7, $8, $9, $10, $11, $12, $1::jsonb, $13, $2, $3::jsonb) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [ JSON.stringify($json.problemas_detectados), $json.severidad_max, JSON.stringify($json.kpis), $json.hay_problemas, $json.total_tarjetas, $json.total_completadas, $json.tareas_vencidas_count, $json.progreso_pct, $json.github.commits_back, $json.github.commits_front, $json.github.prs_abiertos_back, $json.github.prs_abiertos_front, $json.cantidad_problemas ] }}"
        }
      },
      "id": "b48e4858-7064-4901-8efd-d301ff767f14",
      "name": "Guardar Análisis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -8880,
        12896
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analisisId = $json.id;\nconst snapshot = $node['Análisis + KPIs'].json.snapshot_tareas;\n\nconst rows = snapshot.map(t => {\n  const memId = (t.responsables_ids || [])[0] || null;\n  const memName = (t.responsables || [])[0] || null;\n  return {\n    analisis_id: analisisId,\n    card_id: t.id,\n    card_nombre: (t.nombre || '').slice(0, 500),\n    lista_nombre: t.lista,\n    miembro_id: memId,\n    miembro_nombre: memName,\n    fecha_vencimiento: t.fecha_limite,\n    completada: t.completada,\n    tiene_adjuntos: t.adjuntos_count > 0,\n    adjuntos_count: t.adjuntos_count\n  };\n});\n\nreturn rows.map(r => ({ json: r }));"
      },
      "id": "9b4bf611-4371-4ed9-8930-53691e7243c2",
      "name": "Guardar Snapshot Tareas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8640,
        12896
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "estado_tareas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "630f9851-fd98-477d-855f-0b423957864b",
      "name": "Insert Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -8400,
        12896
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $node['Análisis + KPIs'].json.hay_problemas }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc0364b6-6be5-40d3-b6bb-4b299053eb16",
      "name": "IF Hay Problemas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -8880,
        12688
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "mon:full_data",
        "options": {}
      },
      "id": "816d6fca-1df4-4f0c-93fe-8937816c0f94",
      "name": "Redis Check Mon Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -10800,
        13104
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "476cfb33-9c4c-44ee-a594-b898eb47d54f",
              "leftValue": "={{ $json.value }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1718367b-f9ed-4ad9-a4fb-da8690b317ba",
      "name": "IF Mon Cached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10576,
        14016
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.value;\nlet items;\ntry { items = JSON.parse(raw); } catch(e) { items = []; }\nif (!Array.isArray(items)) items = [items];\nreturn items.map(j => ({ json: j }));"
      },
      "id": "b1ba6ea9-d35d-428f-a47c-9a8e4fd65e42",
      "name": "Parse Mon Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9392,
        12880
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "mon:full_data",
        "value": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "keyType": "string",
        "expire": true,
        "ttl": 600
      },
      "id": "5b8b3809-54b2-4e4c-a4a3-9ffdab4b18fa",
      "name": "Redis Store Mon Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -9392,
        12688
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cFmFpJsFVpSJYJln",
          "mode": "list",
          "cachedResultUrl": "/workflow/cFmFpJsFVpSJYJln",
          "cachedResultName": "Monitor PetSafe - Alertas IA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ $json }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8e1a11f2-b31d-416c-968d-1755e9033d1f",
      "name": "Generar Alerta IA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -8560,
        12656
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_runs_audit (workflow_id, workflow_name, status, completed_at, correlation_id, metrics) VALUES ($1, $2, 'success', NOW(), $3, $4::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $workflow.id || 'unknown', $workflow.name, $json.correlation_id || null, JSON.stringify({ source: 'monitor', total_tarjetas: $node['Análisis + KPIs'].json.total_tarjetas || 0, vencidas: $node['Análisis + KPIs'].json.tareas_vencidas_count || 0, severidad: $node['Análisis + KPIs'].json.severidad_max || 'baja' }) ] }}"
        }
      },
      "id": "ae763120-acf7-4c19-b401-e8ca2fb4e9e6",
      "name": "Audit Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -8880,
        13392
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS ai_decisions ( decision_id UUID PRIMARY KEY DEFAULT gen_random_uuid(), correlation_id TEXT, agent_role TEXT, decision_type TEXT, input_summary TEXT, context_used JSONB, evidence JSONB, decision JSONB, recommendation TEXT, confidence DOUBLE PRECISION, risk_level TEXT, requires_human_approval BOOLEAN, status TEXT, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() ); INSERT INTO ai_decisions (correlation_id, agent_role, decision_type, input_summary, context_used, evidence, decision, recommendation, confidence, risk_level, requires_human_approval, status) VALUES ($1, $2, $3, $4, $5::jsonb, $6::jsonb, $7::jsonb, $8, $9, $10, $11, $12);",
        "options": {
          "queryReplacement": "={{ [ $json.correlation_id || null, 'PM Monitor', 'monitor_kpis', ('Severidad: ' + ($node['Análisis + KPIs'].json.severidad_max || 'baja') + ' | Problemas: ' + ($node['Análisis + KPIs'].json.cantidad_problemas || 0)).slice(0, 500), JSON.stringify($node['Análisis + KPIs'].json || {}), JSON.stringify({ kpis: $node['Análisis + KPIs'].json.kpis || {} }), JSON.stringify({ snapshot: $node['Análisis + KPIs'].json.snapshot_tareas ? 'ok' : 'none' }), null, null, ($node['Análisis + KPIs'].json.severidad_max || null), false, 'logged' ] }}"
        }
      },
      "id": "f3f429e2-7917-41f8-ab64-4065892c74ad",
      "name": "Decision Ledger Monitor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -8864,
        13136
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuración",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuración": {
      "main": [
        [
          {
            "node": "Redis Check Mon Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Cards": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Datos": {
      "main": [
        [
          {
            "node": "Redis Store Mon Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análisis + KPIs": {
      "main": [
        [
          {
            "node": "Guardar Análisis",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Hay Problemas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Decision Ledger Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Análisis": {
      "main": [
        [
          {
            "node": "Guardar Snapshot Tareas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Snapshot Tareas": {
      "main": [
        [
          {
            "node": "Insert Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Check Mon Cache": {
      "main": [
        [
          {
            "node": "IF Mon Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Mon Cached": {
      "main": [
        [
          {
            "node": "Parse Mon Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Cards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Members",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Checklists",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Back Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Front Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Back PRs",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Front PRs",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Back CI Runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Front CI Runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres Historial",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres Hitos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mon Cache": {
      "main": [
        [
          {
            "node": "Análisis + KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Store Mon Cache": {
      "main": [
        [
          {
            "node": "Análisis + KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Lists": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trello Members": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Trello Checklists": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "GitHub Back Commits": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "GitHub Front Commits": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "GitHub Back PRs": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "GitHub Front PRs": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "GitHub Back CI Runs": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "GitHub Front CI Runs": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Postgres Historial": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 10
          }
        ]
      ]
    },
    "Postgres Hitos": {
      "main": [
        [
          {
            "node": "Merge Datos",
            "type": "main",
            "index": 11
          }
        ]
      ]
    },
    "IF Hay Problemas": {
      "main": [
        [
          {
            "node": "Generar Alerta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "O4qJYNx2qDrWB3wt"
  },
  "versionId": "71cdd0ff-bfd8-46aa-b7c6-9db684f967f5",
  "meta": {
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "jq5Jo1qsC46xbz2h",
  "tags": []
}
