bot/2. ⚙️ Core System (Infraestructura y Ruteo)/WF_PM_Router_Intenciones.json
{
  "id": "wf-pm-router-intenciones",
  "name": "WF_PM_Router_Intenciones",
  "active": true,
  "nodes": [
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "classify",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst input = $json || {};\nconst env = process.env || {};\nconst msg = String(input.message || input.pregunta || input.content || input.mensaje_original || '').trim();\nconst low = msg.toLowerCase();\nconst user = input.user || input.usuario || input.actor || input.username || 'desconocido';\nconst userId = input.user_id || input.author_id || '';\nconst channel = String(input.channel_id || input.channelId || input.canal || '');\nconst channelName = input.channel_name || input.channelName || '';\n\nconst channelVars = {\n  tareas: 'DISCORD_CHANNEL_TAREAS',\n  bloqueos: 'DISCORD_CHANNEL_BLOQUEOS',\n  reportes: 'DISCORD_CHANNEL_REPORTES',\n  reuniones: 'DISCORD_CHANNEL_REUNIONES',\n  entregables: 'DISCORD_CHANNEL_ENTREGABLES',\n  riesgos: 'DISCORD_CHANNEL_RIESGOS',\n  avances: 'DISCORD_CHANNEL_AVANCES',\n  bot_log: 'DISCORD_CHANNEL_BOT_LOG',\n  admin: 'DISCORD_CHANNEL_ADMIN',\n};\nconst missing_config = Object.values(channelVars).filter((key) => !env[key]);\nconst channels = Object.fromEntries(Object.entries(channelVars).map(([k, v]) => [k, env[v] || '']));\nconst channelRole = Object.entries(channels).find(([, id]) => id && String(id) === channel)?.[0] || null;\n\nconst slashAlias = msg.match(/^\\/(ayuda|estado|reporte|kpis|pendientes|atrasos|tarea|avance|bloqueo|bloqueos|impedimento|impedimentos|riesgo|riesgos|decision|decisiones|entregable|entregables|retrospectiva|retrospectivas|reunion|reuniones|recordatorio|admin)(?:\\s+(.*))?$/i);\nconst legacyBang = msg.match(/^!(\\w+)(?:\\s+(.*))?$/i);\nconst isCommand = /^\\/pm(\\s|$)/i.test(msg) || !!slashAlias || !!legacyBang;\nlet cmdText = '';\nlet legacyCommand = false;\nif (/^\\/pm(\\s|$)/i.test(msg)) {\n  cmdText = msg.replace(/^\\/pm\\s*/i, '').trim();\n} else if (slashAlias) {\n  cmdText = `${slashAlias[1].toLowerCase()} ${slashAlias[2] || ''}`.trim();\n} else if (legacyBang) {\n  legacyCommand = true;\n  cmdText = `${legacyBang[1].toLowerCase()} ${legacyBang[2] || ''}`.trim();\n}\nconst cmdParts = cmdText.split(/\\s+/).filter(Boolean);\nconst cmd = (cmdParts[0] || '').toLowerCase();\nconst sub = (cmdParts[1] || '').toLowerCase();\nconst rest = cmdParts.slice(2).join(' ');\n\nfunction clean(s) { return String(s || '').trim(); }\nfunction match(rx) { const m = msg.match(rx); return m ? clean(m[1]) : null; }\nfunction normalizePriority(value) {\n  const v = clean(value).toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  if (['baja','media','alta','critica'].includes(v)) return v;\n  return null;\n}\nfunction normalizeState(value) {\n  const v = clean(value).toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/\\s+/g, '_');\n  const map = { progreso: 'en_progreso', revision: 'en_revision', revisada: 'en_revision', hecho: 'completada', terminada: 'completada', terminado: 'completada' };\n  return ['pendiente','en_progreso','bloqueada','en_revision','completada','cancelada'].includes(v) ? v : (map[v] || null);\n}\nfunction parseDate(value) {\n  const v = clean(value).toLowerCase();\n  if (!v) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(v)) return v;\n  const d = new Date();\n  if (v.includes('hoy')) return d.toISOString().slice(0, 10);\n  if (v.includes('manana') || v.includes('mañana')) {\n    d.setDate(d.getDate() + 1);\n    return d.toISOString().slice(0, 10);\n  }\n  const days = { domingo: 0, lunes: 1, martes: 2, miercoles: 3, miércoles: 3, jueves: 4, viernes: 5, sabado: 6, sábado: 6 };\n  if (days[v] !== undefined) {\n    const diff = (days[v] + 7 - d.getDay()) % 7 || 7;\n    d.setDate(d.getDate() + diff);\n    return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction clampDays(value) {\n  const n = Number(value || 0);\n  if (!Number.isFinite(n) || n <= 0) return null;\n  return Math.max(1, Math.min(90, Math.floor(n)));\n}\nfunction actionOrDefault(value, allowed, fallback) {\n  return allowed.includes(value) ? value : fallback;\n}\n\nlet intencion = 'desconocido';\nlet sub_intencion = null;\nlet datos = {};\nlet canal_destino = 'DISCORD_CHANNEL_REPORTES';\n\nfunction applyChannelDefault() {\n  if (!channelRole || intencion !== 'desconocido') return;\n  if (channelRole === 'tareas') {\n    intencion = 'tarea';\n    sub_intencion = /atrasad|vencid|atrasos/i.test(low) ? 'atrasos' : (/pendiente/i.test(low) ? 'pendientes' : (/listar|lista|ver|mostrar/i.test(low) ? 'listar' : 'crear'));\n    canal_destino = 'DISCORD_CHANNEL_TAREAS';\n  } else if (channelRole === 'avances') {\n    intencion = 'avance';\n    sub_intencion = /resumen|listar|lista|ver|diario/i.test(low) ? 'resumen' : 'registrar';\n    canal_destino = 'DISCORD_CHANNEL_AVANCES';\n  } else if (channelRole === 'bloqueos') {\n    intencion = 'bloqueo';\n    sub_intencion = /listar|lista|ver|mostrar|consultar/i.test(low) ? 'listar' : 'registrar';\n    canal_destino = 'DISCORD_CHANNEL_BLOQUEOS';\n  } else if (channelRole === 'riesgos') {\n    intencion = 'riesgo';\n    sub_intencion = /listar|lista|ver|mostrar|consultar/i.test(low) ? 'listar' : 'registrar';\n    canal_destino = 'DISCORD_CHANNEL_RIESGOS';\n  } else if (channelRole === 'reportes') {\n    intencion = /kpis?|indicadores/i.test(low) ? 'reporte' : 'estado_proyecto';\n    sub_intencion = /kpis?|indicadores/i.test(low) ? 'kpis' : (/semanal|semana/i.test(low) ? 'semanal' : 'general');\n    canal_destino = 'DISCORD_CHANNEL_REPORTES';\n  } else if (channelRole === 'reuniones') {\n    intencion = 'reunion';\n    sub_intencion = /listar|lista|ver|mostrar/i.test(low) ? 'listar' : 'agendar';\n    canal_destino = 'DISCORD_CHANNEL_REUNIONES';\n  } else if (channelRole === 'entregables') {\n    intencion = 'entregable';\n    sub_intencion = /registr|crear|agregar/i.test(low) ? 'registrar' : 'pendientes';\n    canal_destino = 'DISCORD_CHANNEL_ENTREGABLES';\n  } else if (channelRole === 'admin') {\n    intencion = 'administracion';\n    sub_intencion = 'estado';\n    canal_destino = 'DISCORD_CHANNEL_ADMIN';\n  }\n  if (intencion !== 'desconocido') datos.texto = msg;\n}\n\nif (isCommand) {\n  switch (cmd) {\n    case '':\n    case 'ayuda':\n    case 'help':\n      intencion = 'ayuda';\n      sub_intencion = sub || channelRole || 'general';\n      break;\n    case 'estado':\n      intencion = 'estado_proyecto';\n      sub_intencion = sub || 'general';\n      break;\n    case 'tarea':\n      intencion = 'tarea';\n      sub_intencion = sub || 'listar';\n      datos.texto = rest || cmdParts.slice(1).join(' ');\n      canal_destino = 'DISCORD_CHANNEL_TAREAS';\n      break;\n    case 'avance':\n      intencion = 'avance';\n      sub_intencion = sub || 'registrar';\n      datos.texto = rest;\n      canal_destino = 'DISCORD_CHANNEL_AVANCES';\n      break;\n    case 'bloqueo':\n    case 'bloqueos':\n    case 'impedimento':\n    case 'impedimentos':\n      intencion = 'bloqueo';\n      sub_intencion = actionOrDefault(sub, ['registrar','crear','agregar','listar','lista','ver','resolver','cerrar'], 'registrar');\n      datos.texto = sub_intencion === sub ? rest : cmdParts.slice(1).join(' ');\n      canal_destino = 'DISCORD_CHANNEL_BLOQUEOS';\n      break;\n    case 'riesgo':\n    case 'riesgos':\n      intencion = 'riesgo';\n      sub_intencion = actionOrDefault(sub, ['registrar','crear','agregar','listar','lista','ver','mitigar','cerrar'], 'registrar');\n      datos.texto = sub_intencion === sub ? rest : cmdParts.slice(1).join(' ');\n      canal_destino = 'DISCORD_CHANNEL_RIESGOS';\n      break;\n    case 'reporte':\n      intencion = 'reporte';\n      sub_intencion = /^\\d+$/.test(sub) ? 'rango' : (sub || 'diario');\n      canal_destino = 'DISCORD_CHANNEL_REPORTES';\n      break;\n    case 'kpis':\n      intencion = 'reporte';\n      sub_intencion = 'kpis';\n      canal_destino = 'DISCORD_CHANNEL_REPORTES';\n      break;\n    case 'reunion':\n    case 'reunión':\n    case 'reuniones':\n      intencion = 'reunion';\n      sub_intencion = actionOrDefault(sub, ['preparar','agendar','programar','listar','lista','ver','actualizar','update','editar','reprogramar','cancelar','cancelada','eliminar','borrar','acta','registrar_acta','acuerdos','compromisos'], 'agendar');\n      datos.texto = sub_intencion === sub ? rest : cmdParts.slice(1).join(' ');\n      canal_destino = 'DISCORD_CHANNEL_REUNIONES';\n      break;\n    case 'decision':\n    case 'decisión':\n    case 'decisiones':\n      intencion = 'decision';\n      sub_intencion = actionOrDefault(sub, ['registrar','crear','agregar','listar','lista','ver'], 'registrar');\n      datos.texto = sub_intencion === sub ? rest : cmdParts.slice(1).join(' ');\n      canal_destino = 'DISCORD_CHANNEL_REUNIONES';\n      break;\n    case 'entregable':\n    case 'entregables':\n      intencion = 'entregable';\n      sub_intencion = actionOrDefault(sub, ['registrar','crear','agregar','listar','lista','ver','pendientes'], 'listar');\n      datos.texto = sub_intencion === sub ? rest : cmdParts.slice(1).join(' ');\n      canal_destino = 'DISCORD_CHANNEL_ENTREGABLES';\n      break;\n    case 'pendientes':\n      intencion = 'tarea';\n      sub_intencion = 'pendientes';\n      canal_destino = 'DISCORD_CHANNEL_TAREAS';\n      break;\n    case 'atrasos':\n      intencion = 'tarea';\n      sub_intencion = 'atrasos';\n      canal_destino = 'DISCORD_CHANNEL_TAREAS';\n      break;\n    case 'sprint':\n      intencion = 'estado_proyecto';\n      sub_intencion = 'sprint';\n      break;\n    case 'retrospectiva':\n    case 'retro':\n    case 'retrospectivas':\n      intencion = 'retrospectiva';\n      sub_intencion = actionOrDefault(sub, ['registrar','crear','agregar','listar','lista','ver','bien','mejorar','accion'], 'registrar');\n      datos.texto = sub_intencion === sub ? rest : cmdParts.slice(1).join(' ');\n      break;\n    case 'recordatorio':\n    case 'recordatorios':\n      intencion = 'recordatorio';\n      sub_intencion = sub || 'revisar';\n      break;\n    case 'admin':\n      intencion = 'administracion';\n      sub_intencion = sub || 'estado';\n      datos.texto = rest;\n      canal_destino = 'DISCORD_CHANNEL_ADMIN';\n      break;\n    default:\n      intencion = 'desconocido';\n  }\n} else if (/crea(r)? (una )?tarea|nueva tarea|registra(r)? tarea|agregar tarea/i.test(low)) {\n  intencion = 'tarea'; sub_intencion = 'crear'; canal_destino = 'DISCORD_CHANNEL_TAREAS';\n} else if (/asigna(r)?\\s|asignale|asígnale/i.test(low)) {\n  intencion = 'tarea'; sub_intencion = 'asignar'; canal_destino = 'DISCORD_CHANNEL_TAREAS';\n} else if (/tareas? (pendiente|atrasad|vencid)|pendientes|atrasos/i.test(low)) {\n  intencion = 'tarea'; sub_intencion = /atrasad|vencid|atrasos/i.test(low) ? 'atrasos' : 'pendientes'; canal_destino = 'DISCORD_CHANNEL_TAREAS';\n} else if (/registr(ar|a) avance|termin[eé]|complet[eé]|avance diario|progreso/i.test(low)) {\n  intencion = 'avance'; sub_intencion = 'registrar'; canal_destino = 'DISCORD_CHANNEL_AVANCES';\n} else if (/bloque(o|ado)|impedimento|no puedo avanzar|detenid|trabado|atascado/i.test(low)) {\n  intencion = 'bloqueo'; sub_intencion = /listar|lista|ver|mostrar|consultar/i.test(low) ? 'listar' : 'registrar'; canal_destino = 'DISCORD_CHANNEL_BLOQUEOS';\n} else if (/riesgo|peligro|amenaza|podr[ií]a fallar/i.test(low)) {\n  intencion = 'riesgo'; sub_intencion = /listar|lista|ver|mostrar|consultar/i.test(low) ? 'listar' : 'registrar'; canal_destino = 'DISCORD_CHANNEL_RIESGOS';\n} else if (/kpis?|indicadores|reporte (diario|semanal)|genera(r)? reporte|resumen (del|de la) semana|estado (del|general)/i.test(low)) {\n  intencion = 'reporte'; sub_intencion = /kpis?|indicadores/i.test(low) ? 'kpis' : (/semanal|semana/i.test(low) ? 'semanal' : 'diario'); canal_destino = 'DISCORD_CHANNEL_REPORTES';\n} else if (/reuni[oó]n|prepara(r)? la reuni|agenda|acta|acuerdo|compromiso/i.test(low)) {\n  intencion = 'reunion'; sub_intencion = /cancelar|cancela|eliminar|borrar/i.test(low) ? 'cancelar' : (/actualizar|editar|reprogramar|mover/i.test(low) ? 'actualizar' : (/listar|lista|ver|mostrar/i.test(low) ? 'listar' : (/acta|acuerdo|compromiso/i.test(low) ? 'registrar_acta' : 'agendar'))); canal_destino = 'DISCORD_CHANNEL_REUNIONES';\n} else if (/decisi[oó]n|decidimos|usaremos|registra(r)? esta decisi/i.test(low)) {\n  intencion = 'decision'; sub_intencion = /listar|lista|ver|historial|mostrar/i.test(low) ? 'listar' : 'registrar'; canal_destino = 'DISCORD_CHANNEL_REUNIONES';\n} else if (/entregable|document(o|aci)|versi[oó]n|informe|prototipo|entregables falt/i.test(low)) {\n  intencion = 'entregable'; sub_intencion = /registr|crear|agregar/i.test(low) ? 'registrar' : 'pendientes'; canal_destino = 'DISCORD_CHANNEL_ENTREGABLES';\n} else if (/retrospectiva|retro|qu[eé] sali[oó] bien|qu[eé] mejorar|lecciones aprendidas/i.test(low)) {\n  intencion = 'retrospectiva'; sub_intencion = /listar|lista|ver|resumen|mostrar/i.test(low) ? 'listar' : 'registrar';\n} else if (/estado (actual|del proyecto|de petsafe)|resume(n|me)|c[oó]mo va(mos)?|overview/i.test(low)) {\n  intencion = 'estado_proyecto'; sub_intencion = 'general';\n} else if (/ayuda|help|c[oó]mo (te uso|funciona)/i.test(low)) {\n  intencion = 'ayuda';\n}\n\napplyChannelDefault();\n\ndatos.responsable = match(/(?:asigna(?:r|le)?\\s+a\\s+|responsable:?\\s*|para\\s+)(@[^\\s]+|[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)?)/);\ndatos.fecha_limite = parseDate(match(/(?:para|antes del?|fecha:?|limite:?|l[ií]mite:?)\\s+(\\d{4}-\\d{2}-\\d{2}|ma[nñ]ana|hoy|lunes|martes|mi[eé]rcoles|jueves|viernes|s[aá]bado|domingo)/i));\ndatos.prioridad = normalizePriority(match(/prioridad:?\\s*(baja|media|alta|cr[ií]tica)/i));\ndatos.estado = normalizeState(match(/estado:?\\s*([a-záéíóúñ_ ]+)/i));\ndatos.id = Number(match(/#?(\\d+)/)) || null;\ndatos.porcentaje = Number(match(/(\\d{1,3})\\s*%/)) || null;\ndatos.probabilidad = match(/probabilidad:?\\s*(baja|media|alta)/i);\ndatos.impacto = match(/impacto:?\\s*(bajo|medio|alto|cr[ií]tico)/i);\ndatos.dias = clampDays(\n  cmdParts.find((p, idx) => idx > 0 && /^\\d{1,3}$/.test(p)) ||\n  msg.match(/(?:u[uú]ltimos?|rango|dias|d[ií]as)\\D{0,12}(\\d{1,3})/i)?.[1]\n);\ndatos.fase = match(/(?:fase|hito|lista):?\\s*([^,;\\n]+)/i);\ndatos.fecha_inicio = parseDate(match(/(?:inicio|desde):?\\s+(\\d{4}-\\d{2}-\\d{2}|ma[nñ]ana|hoy|lunes|martes|mi[eé]rcoles|jueves|viernes|s[aá]bado|domingo)/i));\ndatos.fecha_reunion = parseDate(match(/(?:cuando|cu[aá]ndo|fecha|para):?\\s+(\\d{4}-\\d{2}-\\d{2}|ma[nñ]ana|hoy|lunes|martes|mi[eé]rcoles|jueves|viernes|s[aá]bado|domingo)/i));\ndatos.hora_reunion = match(/(?:hora|a las|desde las)\\s*([01]?\\d|2[0-3])(?::([0-5]\\d))?/i);\ndatos.lugar = match(/(?:donde|d[oó]nde|lugar|ubicacion|ubicaci[oó]n):?\\s*([^,;\\n]+?)(?=\\s+(?:participantes|asistentes|con|duracion|duraci[oó]n|minutos|cuando|cu[aá]ndo|fecha|hora):?\\s|$)/i);\ndatos.participantes = match(/(?:con|participan|participantes|asistentes):?\\s*([^;\\n]+)/i);\ndatos.legacy_command = legacyCommand;\ndatos.channel_role = channelRole;\ndatos.texto_original = msg;\ndatos.texto = datos.texto || msg;\n\nif (['bloqueos','impedimentos','riesgos','decisiones','retrospectivas','reuniones','entregables'].includes(cmd) && !sub) {\n  sub_intencion = 'listar';\n}\n\nif (legacyCommand) {\n  intencion = 'desconocido';\n  sub_intencion = 'legacy_prefix';\n}\n\nif (intencion === 'administracion' && channels.admin && channel && channel !== channels.admin) {\n  return [{ json: {\n    intencion: 'administracion_denegada',\n    sub_intencion: 'denegada',\n    respuesta: 'No tengo permisos para ejecutar esta accion desde este canal. Usa #admin-bot o solicita autorizacion.',\n    canal_destino: 'DISCORD_CHANNEL_ADMIN',\n    canal_id: channels.admin,\n    usuario: user,\n    user_id: userId,\n    canal_origen: channel,\n    canal_nombre: channelName,\n    channel_role: channelRole,\n    mensaje_original: msg,\n    datos,\n    missing_config,\n    channels,\n    timestamp: new Date().toISOString()\n  }}];\n}\n\nreturn [{ json: {\n  intencion,\n  sub_intencion,\n  datos,\n  canal_destino,\n  canal_id: env[canal_destino] || channel || channels.reportes,\n  usuario: user,\n  user_id: userId,\n  canal_origen: channel,\n  canal_nombre: channelName,\n  channel_role: channelRole,\n  mensaje_original: msg,\n  es_comando: isCommand,\n  missing_config,\n  channels,\n  timestamp: new Date().toISOString()\n}}];"
      }
    },
    {
      "id": "route",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        500,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-tarea",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "tarea",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tarea"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-avance",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "avance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "avance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-bloqueo",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "bloqueo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bloqueo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-riesgo",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "riesgo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "riesgo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-reporte",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "reporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-reunion",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "reunion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reunion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-decision",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "decision",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "decision"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-entregable",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "entregable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "entregable"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-retrospectiva",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "retrospectiva",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retrospectiva"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-estado",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "estado_proyecto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-recordatorio",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "recordatorio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recordatorio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-ayuda",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "ayuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ayuda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-admin",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "administracion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pm-intent-admin_denegada",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "administracion_denegada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "admin_denegada"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "call-tareas",
      "name": "Call WF_PM_Tareas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        -420
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-tareas",
          "mode": "id",
          "cachedResultName": "WF_PM_Tareas"
        },
        "options": {}
      }
    },
    {
      "id": "call-avances",
      "name": "Call WF_PM_Avances",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        -300
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-avances",
          "mode": "id",
          "cachedResultName": "WF_PM_Avances"
        },
        "options": {}
      }
    },
    {
      "id": "call-bloqueos",
      "name": "Call WF_PM_Bloqueos",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        -180
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-bloqueos-riesgos",
          "mode": "id",
          "cachedResultName": "WF_PM_Bloqueos_Riesgos"
        },
        "options": {}
      }
    },
    {
      "id": "call-riesgos",
      "name": "Call WF_PM_Riesgos",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        -60
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-bloqueos-riesgos",
          "mode": "id",
          "cachedResultName": "WF_PM_Bloqueos_Riesgos"
        },
        "options": {}
      }
    },
    {
      "id": "call-reportes",
      "name": "Call WF_PM_Reportes",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        60
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-reportes",
          "mode": "id",
          "cachedResultName": "WF_PM_Reportes"
        },
        "options": {}
      }
    },
    {
      "id": "call-reuniones",
      "name": "Call WF_PM_Reuniones",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        180
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-reuniones",
          "mode": "id",
          "cachedResultName": "WF_PM_Reuniones"
        },
        "options": {}
      }
    },
    {
      "id": "call-decisiones",
      "name": "Call WF_PM_Decisiones",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        300
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-decisiones",
          "mode": "id",
          "cachedResultName": "WF_PM_Decisiones"
        },
        "options": {}
      }
    },
    {
      "id": "call-entregables",
      "name": "Call WF_PM_Entregables",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        420
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-entregables",
          "mode": "id",
          "cachedResultName": "WF_PM_Entregables"
        },
        "options": {}
      }
    },
    {
      "id": "call-retro",
      "name": "Call WF_PM_Retrospectiva",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        540
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-retrospectiva",
          "mode": "id",
          "cachedResultName": "WF_PM_Retrospectiva"
        },
        "options": {}
      }
    },
    {
      "id": "call-estado",
      "name": "Call WF_PM_Estado",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        660
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-reportes",
          "mode": "id",
          "cachedResultName": "WF_PM_Reportes"
        },
        "options": {}
      }
    },
    {
      "id": "call-recordatorios",
      "name": "Call WF_PM_Recordatorios",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        780
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-recordatorios",
          "mode": "id",
          "cachedResultName": "WF_PM_Recordatorios"
        },
        "options": {}
      }
    },
    {
      "id": "help",
      "name": "Format PM Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        900
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst topic = String($json.sub_intencion || $json.channel_role || 'general').toLowerCase();\nconst role = ['tareas','avances','bloqueos','riesgos','reportes','reuniones','entregables','admin','general'].includes(topic)\n  ? topic\n  : ($json.channel_role || 'general');\nconst sections = {\n  tareas: [\n    '**Ayuda PM - tareas**',\n    'Este canal es para crear, asignar, listar y actualizar tareas. Si escribes una tarea sin comando, la interpreto como tarea nueva.',\n    '`/pm tarea crear [titulo] fase: Pruebas responsable: Barragan limite: 2026-05-30 prioridad: alta`',\n    '`/pm tarea listar` muestra tareas por fase/hito',\n    '`/pm pendientes` muestra pendientes accionables por urgencia',\n    '`/pm atrasos` muestra vencidas',\n    '`/pm tarea actualizar #12 estado: en_progreso prioridad: alta`',\n    '`/pm tarea asignar #12 responsable: Barragan`',\n    'Estados: pendiente, en_progreso, bloqueada, en_revision, completada, cancelada. Prioridades: baja, media, alta, critica.'\n  ],\n  avances: [\n    '**Ayuda PM - avances**',\n    'Este canal es para registrar progreso real del equipo. Si escribes sin comando, lo interpreto como avance.',\n    '`/pm avance registrar #12 40% descripcion del avance`',\n    '`/pm avance resumen` muestra avances de hoy',\n    'Incluye ID de tarea y porcentaje cuando aplique para que el seguimiento sea util.'\n  ],\n  bloqueos: [\n    '**Ayuda PM - bloqueos e impedimentos**',\n    'Este canal es para impedimentos que detienen trabajo. Si escribes sin comando, lo registro como bloqueo.',\n    '`/pm bloqueo registrar descripcion prioridad: alta tarea: #12 responsable: Manjarres`',\n    '`/pm bloqueo listar`',\n    '`/pm bloqueo cerrar #3`',\n    'El bot clasifica area de aplicacion y propone accion de desbloqueo.'\n  ],\n  riesgos: [\n    '**Ayuda PM - riesgos**',\n    'Este canal es para amenazas potenciales. Si escribes sin comando, lo registro como riesgo.',\n    '`/pm riesgo registrar descripcion probabilidad: alta impacto: critico mitigacion: plan`',\n    '`/pm riesgo listar`',\n    '`/pm riesgo mitigar #2`',\n    'La prioridad se calcula con probabilidad e impacto.'\n  ],\n  reportes: [\n    '**Ayuda PM - reportes y KPIs**',\n    'Este canal concentra estado ejecutivo, reportes y lectura PM del proyecto.',\n    '`/pm estado` o `/estado`',\n    '`/pm reporte diario`, `/pm reporte semanal`, `/pm reporte 14`, `/reporte 7`',\n    '`/pm kpis 7` o `/kpis 7`',\n    'Usa rangos de 1 a 90 dias.'\n  ],\n  reuniones: [\n    '**Ayuda PM - reuniones, decisiones y acuerdos**',\n    'Este canal es para preparar/agendar reuniones y dejar trazabilidad de decisiones.',\n    '`/pm reunion agendar tema cuando: 2026-05-27 hora: 10:00 donde: videollamada participantes: todos`',\n    '`/pm reunion actualizar #2 cuando: 2026-05-28 hora: 11:00 participantes: todos`',\n    '`/pm reunion cancelar #2`',\n    '`/pm reunion acta #2 acuerdos: ... compromisos: ... decisiones: ...`',\n    '`/pm reunion listar`',\n    '`/pm decision registrar usaremos Contabo como VPS`',\n    '`/pm decision listar`',\n    '`/pm retrospectiva accion mejorar evidencias responsable: David`'\n  ],\n  entregables: [\n    '**Ayuda PM - entregables**',\n    'Este canal es para entregables, evidencias, documentos, versiones y fechas limite.',\n    '`/pm entregable registrar Project Charter responsable: Joel limite: 2026-06-01`',\n    '`/pm entregable listar`',\n    'Incluye responsable, fecha limite y enlace/evidencia cuando exista.'\n  ],\n  admin: [\n    '**Ayuda PM - admin**',\n    'Este canal es solo para salud del bot, variables, auditoria y outbox.',\n    '`/pm admin estado`',\n    'Si se ejecuta fuera de #admin-bot, el bot lo bloquea.'\n  ],\n  general: [\n    '**PetSafe PM Bot - organizacion por canales**',\n    'Prefijo unico: `/`. Puedes escribir comandos desde cualquier canal PM, pero la respuesta se publica en el canal propietario del tema.',\n    '#tareas: tareas, pendientes y atrasos.',\n    '#avances: progreso diario y porcentajes.',\n    '#bloqueos: impedimentos que frenan trabajo.',\n    '#riesgos: amenazas potenciales y mitigaciones.',\n    '#reportes: estado, reportes y KPIs.',\n    '#reuniones: reuniones, decisiones y acuerdos.',\n    '#entregables: evidencias/documentos/versiones.',\n    '#admin-bot: salud/configuracion/outbox.',\n    '',\n    'Pide `/ayuda` dentro de un canal para ver ayuda contextual o usa `/pm ayuda general` para esta vista.'\n  ]\n};\nconst text = (sections[role] || sections.general).join('\\n');\nreturn [{ json: { respuesta: text, canal_destino: $json.canal_destino || 'DISCORD_CHANNEL_REPORTES', canal_id: $json.canal_origen || process.env.DISCORD_CHANNEL_REPORTES } }];"
      }
    },
    {
      "id": "call-admin",
      "name": "Call WF_PM_Admin",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        1020
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wf-pm-admin",
          "mode": "id",
          "cachedResultName": "WF_PM_Admin"
        },
        "options": {}
      }
    },
    {
      "id": "admin-denied",
      "name": "Admin Denied Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1140
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nreturn [{ json: { respuesta: $json.respuesta, canal_destino: $json.canal_destino, canal_id: $json.canal_id, intencion: $json.intencion } }];"
      }
    },
    {
      "id": "fallback",
      "name": "Unknown Intent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1260
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst datos = $json.datos || {};\nif (datos.legacy_command) {\n  return [{ json: {\n    respuesta: 'Los comandos del bot quedaron estandarizados con `/`. Prueba `/pm ayuda`, `/kpis 7` o `/reporte 7`.',\n    canal_destino: 'DISCORD_CHANNEL_REPORTES',\n    canal_id: process.env.DISCORD_CHANNEL_REPORTES || $json.canal_origen,\n    intencion: 'legacy_prefix'\n  }}];\n}\nconst role = $json.channel_role || datos.channel_role || '';\nconst hints = {\n  tareas: 'Este es el canal de tareas. Puedes usar `/pm tarea crear ...`, `/pm tarea listar`, `/pm pendientes` o escribir una tarea con responsable/fecha.',\n  avances: 'Este es el canal de avances. Puedes usar `/pm avance registrar #12 40% descripcion` o escribir el avance directamente.',\n  bloqueos: 'Este es el canal de bloqueos. Puedes usar `/pm bloqueo registrar ...` o `/pm bloqueo listar`.',\n  riesgos: 'Este es el canal de riesgos. Puedes usar `/pm riesgo registrar ...` o `/pm riesgo listar`.',\n  reportes: 'Este es el canal de reportes. Puedes usar `/reporte 7`, `/kpis 7` o `/estado`.',\n  reuniones: 'Este es el canal de reuniones. Puedes usar `/pm reunion agendar ... cuando: YYYY-MM-DD hora: HH:mm` o `/pm decision listar`.',\n  entregables: 'Este es el canal de entregables. Puedes usar `/pm entregable registrar ...` o `/pm entregable listar`.',\n  admin: 'Este es el canal admin. Puedes usar `/pm admin estado`.'\n};\nif (hints[role]) {\n  return [{ json: {\n    respuesta: hints[role],\n    canal_destino: $json.canal_destino || 'DISCORD_CHANNEL_BOT_LOG',\n    canal_id: $json.canal_origen || process.env.DISCORD_CHANNEL_BOT_LOG,\n    intencion: 'ayuda_contextual'\n  }}];\n}\nreturn [{ json: {\n  respuesta: 'No pude identificar completamente la accion. Puedes pedirme crear una tarea, registrar avance, listar bloqueos/riesgos/decisiones, generar `/reporte 7`, consultar `/kpis 7` o revisar pendientes.',\n  canal_destino: 'DISCORD_CHANNEL_BOT_LOG',\n  canal_id: process.env.DISCORD_CHANNEL_BOT_LOG || $json.canal_origen,\n  intencion: $json.intencion || 'desconocido'\n}}];"
      }
    },
    {
      "id": "merge-results",
      "name": "Merge PM Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        360
      ],
      "parameters": {
        "numberInputs": 15
      }
    },
    {
      "id": "audit-router",
      "name": "Audit PM Command",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1360,
        360
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pm_command_log (comando, intencion, usuario, canal, datos_extraidos, respuesta_bot, exito)\nVALUES ($1, $2, $3, $4, $5::jsonb, $6, true)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $(\"Classify Intent\").item.json.mensaje_original, $(\"Classify Intent\").item.json.intencion, $(\"Classify Intent\").item.json.usuario, $(\"Classify Intent\").item.json.canal_origen, JSON.stringify($(\"Classify Intent\").item.json.datos || {}), $(\"Merge PM Results\").item.json.respuesta || \"\" ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "return-response",
      "name": "Return PM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        360
      ],
      "parameters": {
        "jsCode": "const process = { env: typeof $env !== 'undefined' ? $env : {} };\nconst result = $('Merge PM Results').item.json;\nconst missing = $('Classify Intent').item.json.missing_config || [];\nlet respuesta = result.respuesta || result.response || 'Accion PM ejecutada.';\nif (missing.length) {\n  respuesta += '\\n\\nAviso de configuracion: faltan variables en n8n: ' + missing.join(', ') + '.';\n}\nreturn [{ json: { ...result, respuesta } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Call WF_PM_Tareas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Avances",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Bloqueos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Riesgos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Reuniones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Decisiones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Entregables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Retrospectiva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Recordatorios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format PM Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_PM_Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Denied Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Intent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF_PM_Tareas": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF_PM_Avances": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call WF_PM_Bloqueos": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Call WF_PM_Riesgos": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Call WF_PM_Reportes": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Call WF_PM_Reuniones": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Call WF_PM_Decisiones": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Call WF_PM_Entregables": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Call WF_PM_Retrospectiva": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Call WF_PM_Estado": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Call WF_PM_Recordatorios": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 10
          }
        ]
      ]
    },
    "Format PM Help": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 11
          }
        ]
      ]
    },
    "Call WF_PM_Admin": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 12
          }
        ]
      ]
    },
    "Admin Denied Response": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 13
          }
        ]
      ]
    },
    "Unknown Intent Response": {
      "main": [
        [
          {
            "node": "Merge PM Results",
            "type": "main",
            "index": 14
          }
        ]
      ]
    },
    "Merge PM Results": {
      "main": [
        [
          {
            "node": "Audit PM Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit PM Command": {
      "main": [
        [
          {
            "node": "Return PM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "wf-pm-error-handler"
  },
  "pinData": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  }
}
