bot/AI - Context Guardian.json
{
  "name": "AI - Context Guardian",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-cg",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT snapshot FROM estado_conocido WHERE nombre_estado = 'inicializacion_sistema' LIMIT 1;"
      },
      "id": "fetch-rules",
      "name": "Fetch Project Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [200, 0]
    },
    {
      "parameters": {
        "jsCode": "const event = $('Execute Workflow Trigger').item.json;\nconst rules = $json.snapshot || {};\n\nreturn [{\n  json: {\n    correlation_id: event.correlation_id || `cg-${Date.now()}`,\n    event_type: event.event_type || 'debate',\n    actor: event.actor || 'system',\n    payload: event.payload || '{}',\n    project_rules: JSON.stringify(rules)\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Prepare Guardian Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Eres el Context Guardian de PetSafe. Eres el responsable de mantener la coherencia arquitectónica, las convenciones de código y los requerimientos del producto.\\n\\n**Reglas Actuales (Memoria):**\\n' + $json.project_rules + '\\n\\n**Evento o Debate Actual:**\\nActor: ' + $json.actor + '\\nDetalles: ' + $json.payload + '\\n\\n**Tu misión:** Evalúa si lo que se está proponiendo o discutiendo viola alguna convención o requerimiento. ¿Es una buena decisión arquitectónica? ¿Falta contexto?\\n\\nResponde con un JSON estricto:\\n{\\n  \"evaluation\": \"Tu análisis arquitectónico o de negocio\",\\n  \"risk_level\": \"low|medium|high\",\\n  \"guidance\": \"Recomendación constructiva para el equipo\",\\n  \"requires_human_approval\": false\\n}' }}",
        "hasOutputParser": true
      },
      "id": "cg-llm",
      "name": "Gemini Context Guardian",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "gemini-model-pro",
      "name": "Google Gemini Model Pro",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [600, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "googlePalmApi",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsonString": "={{ $json.text }}"
      },
      "id": "parse-review",
      "name": "Parse Guardian JSON",
      "type": "n8n-nodes-base.jsonParse",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "workflowId": "System - AI Decision Logger",
        "mode": "json",
        "workflowInputs": "={\n  \"correlation_id\": \"{{ $('Prepare Guardian Context').item.json.correlation_id }}\",\n  \"agent_role\": \"Context Guardian\",\n  \"decision_type\": \"architectural_guidance\",\n  \"input_summary\": \"Reviewing: {{ $('Prepare Guardian Context').item.json.event_type }} by {{ $('Prepare Guardian Context').item.json.actor }}\",\n  \"context_used\": { \"rules_applied\": {{ $('Prepare Guardian Context').item.json.project_rules }} },\n  \"decision\": { \"evaluation\": \"{{ $json.evaluation }}\" },\n  \"recommendation\": \"{{ $json.guidance }}\",\n  \"confidence\": 0.90,\n  \"risk_level\": \"{{ $json.risk_level }}\",\n  \"requires_human_approval\": {{ $json.requires_human_approval || false }}\n}"
      },
      "id": "log-decision",
      "name": "Log AI Decision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Project Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project Rules": {
      "main": [
        [
          {
            "node": "Prepare Guardian Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Guardian Context": {
      "main": [
        [
          {
            "node": "Gemini Context Guardian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Context Guardian": {
      "main": [
        [
          {
            "node": "Parse Guardian JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Guardian JSON": {
      "main": [
        [
          {
            "node": "Log AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Context Guardian",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "errorWorkflow": "monitor-petsafe-error-handler"
  }
}
