bot/AI - Code Review Scout.json
{
  "name": "AI - Code Review Scout",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-crs",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const event = $json;\nconst rawPayload = event.payload;\nconst parsedPayload = typeof rawPayload === 'string' ? (() => { try { return JSON.parse(rawPayload); } catch(e) { return {}; } })() : (rawPayload || {});\n\n// Extraer información relevante del PR o commit\nconst pr = parsedPayload.pull_request || {};\nconst title = pr.title || parsedPayload.title || 'Unknown title';\nconst body = pr.body || parsedPayload.body || 'No description provided';\nconst actor = event.actor || parsedPayload.actor || 'system';\nconst repo = parsedPayload.repository ? parsedPayload.repository.name : (event.repo || 'unknown_repo');\n\nreturn [{\n  json: {\n    correlation_id: event.correlation_id || `crs-${Date.now()}`,\n    actor,\n    repo,\n    title,\n    body,\n    is_pr: !!parsedPayload.pull_request\n  }\n}];"
      },
      "id": "prepare-pr-context",
      "name": "Extract PR Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Eres el Code Review Scout de PetSafe. Un desarrollador (' + $json.actor + ') acaba de abrir/modificar un Pull Request en el repositorio: ' + $json.repo + '\\n\\nTítulo: ' + $json.title + '\\nDescripción: ' + $json.body + '\\n\\nTu misión: Analiza rápidamente la calidad de la descripción, posibles riesgos implícitos en el título y si cumple las convenciones (ej. conventional commits). Si la descripción está vacía, es un riesgo alto de falta de contexto.\\n\\nResponde con un JSON estricto:\\n{\\n  \"evaluation\": \"Tu análisis completo y constructivo\",\\n  \"risk_level\": \"low|medium|high\",\\n  \"suggested_comment\": \"Un comentario amigable pero firme para dejar en GitHub/Discord\",\\n  \"requires_human_approval\": false\\n}' }}",
        "hasOutputParser": true
      },
      "id": "crs-llm",
      "name": "Gemini PR Reviewer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [400, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "gemini-model-pro",
      "name": "Google Gemini Model Pro",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [400, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "googlePalmApi",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsonString": "={{ $json.text }}"
      },
      "id": "parse-review",
      "name": "Parse Review JSON",
      "type": "n8n-nodes-base.jsonParse",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "workflowId": "System - AI Decision Logger",
        "mode": "json",
        "workflowInputs": "={\n  \"correlation_id\": \"{{ $('Extract PR Details').item.json.correlation_id }}\",\n  \"agent_role\": \"Code Review Scout\",\n  \"decision_type\": \"pr_evaluation\",\n  \"input_summary\": \"PR: {{ $('Extract PR Details').item.json.title }} by {{ $('Extract PR Details').item.json.actor }}\",\n  \"context_used\": { \"repo\": \"{{ $('Extract PR Details').item.json.repo }}\", \"title\": \"{{ $('Extract PR Details').item.json.title }}\" },\n  \"decision\": { \"evaluation\": \"{{ $json.evaluation }}\" },\n  \"recommendation\": \"{{ $json.suggested_comment }}\",\n  \"confidence\": 0.90,\n  \"risk_level\": \"{{ $json.risk_level }}\",\n  \"requires_human_approval\": {{ $json.requires_human_approval || false }}\n}"
      },
      "id": "log-decision",
      "name": "Log AI Decision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract PR Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PR Details": {
      "main": [
        [
          {
            "node": "Gemini PR Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini PR Reviewer": {
      "main": [
        [
          {
            "node": "Parse Review JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Review JSON": {
      "main": [
        [
          {
            "node": "Log AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini PR Reviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "errorWorkflow": "monitor-petsafe-error-handler"
  }
}
