bot/Chat Discord PetSafe.json
{
  "name": "Chat Discord PetSafe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e08dec1b-61a0-441c-9066-39c411404f18",
      "name": "Discord Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        15920,
        -2624
      ],
      "webhookId": "41c5ae04-e86b-4f83-8a5a-fa75e6bd59dc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "w2c01",
              "name": "TRELLO_API_KEY",
              "value": "={{ $env.TRELLO_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w2c02",
              "name": "TRELLO_TOKEN",
              "value": "={{ $env.TRELLO_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c03",
              "name": "TRELLO_BOARD_ID",
              "value": "={{ $env.TRELLO_BOARD_ID }}",
              "type": "string"
            },
            {
              "id": "w2c04",
              "name": "GITHUB_TOKEN",
              "value": "={{ $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c04b",
              "name": "GITHUB_TOKEN_BACKEND",
              "value": "={{ $env.GITHUB_TOKEN_BACKEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c04f",
              "name": "GITHUB_TOKEN_FRONTEND",
              "value": "={{ $env.GITHUB_TOKEN_FRONTEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w2c05",
              "name": "GITHUB_OWNER_BACKEND",
              "value": "={{ $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w2c05f",
              "name": "GITHUB_OWNER_FRONTEND",
              "value": "={{ $env.GITHUB_OWNER_FRONTEND || $env.GITHUB_OWNER || $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w2c06",
              "name": "GITHUB_REPO_BACKEND",
              "value": "={{ $env.GITHUB_REPO_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w2c07",
              "name": "GITHUB_REPO_FRONTEND",
              "value": "={{ $env.GITHUB_REPO_FRONTEND }}",
              "type": "string"
            },
            {
              "id": "w2c08",
              "name": "GEMINI_API_KEY",
              "value": "={{ $env.GEMINI_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w2c09",
              "name": "pregunta_usuario",
              "value": "={{ $json.body.content || 'Dame un resumen' }}",
              "type": "string"
            },
            {
              "id": "w2c10",
              "name": "usuario_discord",
              "value": "={{ $json.body.user || 'desconocido' }}",
              "type": "string"
            },
            {
              "id": "w2c11",
              "name": "DISCORD_WEBHOOK_URL",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b64dc95-0af1-49cb-892f-25c52df1a84f",
      "name": "Config1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16080,
        -2624
      ]
    },
    {
      "parameters": {
        "jsCode": "const pregunta = ($node['Config1'].json.pregunta_usuario || '').trim();\nconst low = pregunta.toLowerCase();\n\n// Objeto para almacenar los detalles del comando\nconst comando = {\n  nombre: null,\n  params: {},\n  tipo: 'chat', // Default\n  necesita_diff: false,\n  error: null\n};\n\n// Si no es un comando, es un chat normal\nif (!pregunta.startsWith('!')) {\n  if (pregunta.includes('ha saltado al servidor') || pregunta.includes('joined the server')) {\n    comando.error = 'Ignorado';\n  } else {\n    comando.necesita_diff = /(codig|commit|diff|revisa|calidad|pull request|\\bpr\\b|merge)/.test(low);\n  }\n} else {\n  const partes = pregunta.split(' ');\n  const cmd = partes[0].toLowerCase();\n\n  switch (cmd) {\n    case '!ayuda':\n    case '!help':\n      comando.nombre = 'ayuda';\n      comando.tipo = 'ayuda';\n      break;\n    case '!kpis':\n      comando.nombre = 'kpis';\n      comando.tipo = 'kpis';\n      break;\n    case '!reporte':\n      comando.nombre = 'reporte';\n      comando.tipo = 'reporte';\n      // Opcional: capturar n\u00famero de d\u00edas\n      const dias = parseInt(partes[1], 10);\n      if (!isNaN(dias) && dias > 0) {\n        comando.params.dias = dias;\n      } else {\n        comando.params.dias = 7; // Default\n      }\n      break;\n    case '!riesgos':\n      comando.nombre = 'riesgos';\n      comando.tipo = 'chat'; // Usar\u00e1 el flujo de chat pero con un contexto espec\u00edfico\n      break;\n    case '!hitos':\n      comando.nombre = 'hitos';\n      comando.tipo = 'chat'; // Igual que riesgos\n      break;\n    case '!revisar':\n      comando.nombre = 'revisar';\n      comando.tipo = 'chat';\n      comando.necesita_diff = true;\n      const repo = (partes[1] || '').toLowerCase();\n      if (repo === 'backend' || repo === 'frontend') {\n        comando.params.repo = repo;\n      } else {\n        comando.error = 'Debes especificar un repositorio: `!revisar backend` o `!revisar frontend`.';\n      }\n      break;\n    case '!estado':\n      comando.nombre = 'estado'; comando.tipo = 'chat'; comando.formato = 'estado'; break;\n    case '!vencidas':\n      comando.nombre = 'vencidas'; comando.tipo = 'chat'; comando.formato = 'vencidas'; break;\n    case '!miembros':\n      comando.nombre = 'miembros'; comando.tipo = 'chat'; comando.formato = 'miembros'; break;\n    case '!commits':\n      comando.nombre = 'commits'; comando.tipo = 'chat'; comando.formato = 'commits'; break;\n    case '!ci':\n      comando.nombre = 'ci'; comando.tipo = 'chat'; comando.formato = 'ci'; break;\n    case '!progreso':\n      comando.nombre = 'progreso'; comando.tipo = 'chat'; comando.formato = 'progreso'; break;\n        default:\n      comando.error = `Comando \\`${cmd}\\` no reconocido. Usa \\`!ayuda\\` para ver la lista de comandos.`;\n      break;\n  }\n}\n\n// El objeto de salida ahora es m\u00e1s rico en informaci\u00f3n\nreturn [{\n  json: {\n    pregunta,\n    comando,\n    tipo: comando.error ? 'error' : comando.tipo,\n    necesita_diff: comando.necesita_diff,\n    formato: comando.formato || 'chat',\n    usuario: $node['Config1'].json.usuario_discord\n  }\n}];"
      },
      "id": "e0fc58eb-ef2b-4f35-9e4d-a5ea18ccb10c",
      "name": "Router Comandos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16736,
        -2608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "reporte"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "kpis"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "chat"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "ayuda"
                }
              ]
            },
            {
              "conditions": [
                {
                  "value1": "={{ $json.tipo }}",
                  "operation": "equal",
                  "value2": "error"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "71dfdcbd-a1a7-4180-b7f3-d38bb0de1ac6",
      "name": "Switch Tipo1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        17472,
        -2384
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Gy8PUj6ikmbNkgfR",
          "mode": "list",
          "cachedResultUrl": "/workflow/Gy8PUj6ikmbNkgfR",
          "cachedResultName": "Reporte PDF Semanal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "rango_dias": "={{ ($json.comando && $json.comando.params && $json.comando.params.dias) ? Number($json.comando.params.dias) : 7 }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "91702f57-06a5-41d8-924f-78a066d93197",
      "name": "Trigger Reporte PDF1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        17760,
        -2880
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Reporte PDF generado y enviado al canal + email.",
        "options": {}
      },
      "id": "7b1afecc-50da-4250-ba7a-c6310999005f",
      "name": "Resp Reporte1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        17936,
        -2880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fecha_ejecucion, progreso_pct, tareas_vencidas, kpis_json FROM analisis_proyecto ORDER BY fecha_ejecucion DESC LIMIT 1;",
        "options": {}
      },
      "id": "58944afb-6065-40bb-bb6d-3a4f860faf2b",
      "name": "Postgres Ultimo KPI1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        18000,
        -2608
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json || {};\n\n// Si por alguna razon llega texto cacheado, devuelve directo\nif (typeof row.value === 'string' && !row.fecha_ejecucion && !row.kpis_json) {\n  return [{ json: { text: row.value } }];\n}\n\nlet k = row.kpis_json || {};\n\nif (typeof k === 'string') {\n  try {\n    k = JSON.parse(k);\n  } catch (e) {\n    k = {};\n  }\n}\n\nconst val = (v, fallback = 'N/A') => (v === undefined || v === null || v === '') ? fallback : v;\nconst fecha = row.fecha_ejecucion ? new Date(row.fecha_ejecucion) : null;\nconst fechaStr = fecha && !isNaN(fecha) ? fecha.toLocaleString('es-EC') : 'sin fecha';\n\nconst lines = [\n  'KPIs PetSafe (' + fechaStr + ')',\n  '',\n  'Progreso sprint: ' + val(row.progreso_pct, 0) + '%',\n  'Tareas vencidas: ' + val(row.tareas_vencidas, 0),\n  'Velocidad: ' + val(k.velocidad_tareas_por_dia, 0) + ' tareas/dia (completadas 7d: ' + val(k.completadas_7d, 0) + ')',\n  '% a tiempo: ' + val(k.pct_a_tiempo, 0) + '%',\n  'Commits 14d: ' + val(k.commits_14d, 0) + ' (' + val(k.commits_por_dia, 0) + '/dia)',\n  'PR avg open: ' + val(k.pr_open_time_dias, 0) + ' dias',\n  'PR merge ratio 30d: ' + val(k.pr_merge_ratio_30d, 0) + '%',\n  'Dias hasta fin: ' + val(k.dias_hasta_fin, 'N/A'),\n  'Proyeccion: ' + val(k.proyeccion, 'N/A')\n];\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "d17569eb-60aa-4168-a59f-125c2b76789d",
      "name": "Formatear KPIs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18704,
        -2592
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $node['Formatear KPIs1'].json.text || '(sin datos de KPIs a\u00fan \u2014 ejecuta el Monitor primero)' }}",
        "options": {}
      },
      "id": "b45aca4b-e233-4e83-bb83-05021788ae13",
      "name": "Resp KPIs1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        19040,
        -2592
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Config1\"].json.TRELLO_BOARD_ID }}/cards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,desc,due,dueComplete,idMembers,idList,dateLastActivity,labels"
            }
          ]
        },
        "options": {}
      },
      "id": "e050b1c0-5356-4e70-9433-626ed74671a8",
      "name": "Trello Cards1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17744,
        -2336
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Config1\"].json.TRELLO_BOARD_ID }}/lists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "options": {}
      },
      "id": "cf73cf23-f9b2-44f5-855f-8c8d92e7c9e0",
      "name": "Trello Lists1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17744,
        -2192
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Config1\"].json.TRELLO_BOARD_ID }}/members",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "fullName,username"
            }
          ]
        },
        "options": {}
      },
      "id": "4da9a9e2-c031-4b36-9758-de3f11b3b771",
      "name": "Trello Members1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17744,
        -1920
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config1\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Config1\"].json.GITHUB_REPO_BACKEND }}/commits?per_page=15",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "56cedc09-12e6-44e7-a824-a53cc4e4719e",
      "name": "GH Back Commits1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17744,
        -1792
      ],
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config1\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Config1\"].json.GITHUB_REPO_FRONTEND }}/commits?per_page=15",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "3c7a7341-1c61-4abe-90e7-ccc7aca7fefc",
      "name": "GH Front Commits1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17744,
        -1664
      ],
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "pullRequest",
        "owner": "={{ $node[\"Config1\"].json.GITHUB_OWNER_BACKEND }}",
        "repository": "={{ $node[\"Config1\"].json.GITHUB_REPO_BACKEND }}"
      },
      "id": "9913aedb-3c43-4231-8804-71646188bc14",
      "name": "GH Back PRs1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        17744,
        -1520
      ],
      "webhookId": "b116ad31-ac6d-42d9-8eee-dfaebf22c39c",
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "resource": "pullRequest",
        "owner": "={{ $node[\"Config1\"].json.GITHUB_OWNER_FRONTEND }}",
        "repository": "={{ $node[\"Config1\"].json.GITHUB_REPO_FRONTEND }}"
      },
      "id": "626b140f-8b43-49d0-913b-7982e32dd559",
      "name": "GH Front PRs1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        17744,
        -1376
      ],
      "webhookId": "e13570fa-0add-4322-bfa8-4ddbc06d2e4d",
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fecha_ejecucion, hay_problemas, tareas_vencidas, progreso_pct, kpis_json, recomendaciones_ia FROM analisis_proyecto ORDER BY fecha_ejecucion DESC LIMIT 5;",
        "options": {}
      },
      "id": "fc1c7ec9-b546-43e5-b174-e041c56eb33b",
      "name": "PG Historial1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        17744,
        -1232
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pregunta, respuesta, fecha, aplicada, usuario FROM recomendaciones WHERE pregunta IS NOT NULL ORDER BY fecha DESC LIMIT 5;",
        "options": {}
      },
      "id": "03d93f07-6805-4e3f-900f-5b24ef3e646f",
      "name": "PG Recomendaciones1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        17744,
        -960
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 12
      },
      "id": "d3aaeeea-97b4-4822-a226-abccadb0845a",
      "name": "Merge Chat1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        18336,
        -1984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ $('Router Comandos1').first().json.necesita_diff }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5a1dfd0-0cbb-48ee-b354-89be3cfcc088",
      "name": "IF Necesita Diff1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        18768,
        -1856
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config1\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Config1\"].json.GITHUB_REPO_BACKEND }}/commits/{{ $node[\"GH Back Commits1\"].first().json.sha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "8b904b09-2724-428d-94ad-ece11b989438",
      "name": "Diff Backend1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19232,
        -2272
      ],
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config1\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Config1\"].json.GITHUB_REPO_FRONTEND }}/commits/{{ $node[\"GH Front Commits1\"].first().json.sha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "844654c9-5398-4290-9d81-f1eea9abe1d4",
      "name": "Diff Frontend1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19232,
        -2112
      ],
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst MS_PER_DAY = 86400000;\nfunction daysBetween(from, to) {\n  if (!from || !to) return null;\n  const diff = new Date(to) - new Date(from);\n  return Math.round(diff / 86400000);\n}\n\nfunction isValidDate(d) { return d instanceof Date && !Number.isNaN(d.getTime()); }\nfunction parseDate(value) { if (!value) return null; const d = new Date(value); return isValidDate(d) ? d : null; }\nfunction safeString(value, fallback = '') { return typeof value === 'string' ? value : fallback; }\nfunction safeArray(value) { return Array.isArray(value) ? value : []; }\nfunction truncate(value, max) { const str = safeString(value, ''); return str.length > max ? str.slice(0, max) : str; }\nfunction getFirstJson(nodeName, fallback = null) { try { const item = $(nodeName).first(); return item && item.json ? item.json : fallback; } catch (e) { return fallback; } }\nfunction getAllJson(nodeName) { try { const items = $(nodeName).all(); return Array.isArray(items) ? items.map(i => i?.json || {}) : []; } catch (e) { return []; } }\nfunction coalesce(...values) { for (const v of values) { if (v !== undefined && v !== null && v !== '') return v; } return null; }\nfunction simplifyCommit(c, type) { return { msg: truncate(c.commit?.message, 60), auth: truncate(c.commit?.author?.name, 20), date: c.commit?.author?.date, type: type }; }\n\nconst router = getFirstJson('Router Comandos', {});\nconst config = getFirstJson('Config', {});\nconst pregunta = safeString(router.pregunta, '').trim();\nconst usuario = safeString(router.usuario, 'desconocido');\nconst needDiff = !!router.necesita_diff;\nconst geminiKey = safeString(config.GEMINI_API_KEY, '');\n\nlet ctx;\nconst cached = getFirstJson('Redis Get CTX', {});\n\nif (cached && cached.ctx_data) {\n  // CACHE HIT!\n  ctx = typeof cached.ctx_data === 'string' ? JSON.parse(cached.ctx_data) : cached.ctx_data;\n} else {\n  // CACHE MISS: Build Context\n  const cards = getAllJson('Trello Cards');\n  const lists = getAllJson('Trello Lists');\n  const members = getAllJson('Trello Members');\n  const bCommits = getAllJson('GH Back Commits');\n  const fCommits = getAllJson('GH Front Commits');\n  const bPRs = getAllJson('GH Back PRs');\n  const fPRs = getAllJson('GH Front PRs');\n  const historial = getAllJson('PG Historial');\n  const recos = getAllJson('PG Recomendaciones');\n  const hitos = getAllJson('PG Hitos');\n\n  const tareas = cards.map(c => {\n    const l = lists.find(list => list.id === c.idList);\n    const m = c.idMembers?.length ? members.find(mem => mem.id === c.idMembers[0]) : null;\n    return { id: c.id, nombre: c.name, lista: l ? l.name : 'Desconocida', completada: (l && l.name.toLowerCase().includes('completado')), miembro: m ? m.fullName : 'Sin asignar', vencimiento: parseDate(c.due) };\n  });\n\n  const tareasPendientes = tareas.filter(t => !t.completada);\n  const vencidas = tareasPendientes.filter(t => t.vencimiento && t.vencimiento < now).length;\n  const porVencer = tareasPendientes.filter(t => t.vencimiento && t.vencimiento >= now && (t.vencimiento - now) / MS_PER_DAY <= 3).length;\n\n  const kpis = historial.length > 0 ? historial[0] : {};\n  const recomendacionesPrevias = recos.slice(0, 3).map(r => ({ desc: r.descripcion, aplicada: r.aplicada }));\n  const hitosActivos = hitos.filter(h => !h.completado).map(h => ({ n: h.nombre, fin: h.fecha_fin, d: daysBetween(now, parseDate(h.fecha_fin)) }));\n\n  ctx = {\n    fecha_actual: now.toISOString(),\n    usuario,\n    tareas: { total: tareas.length, vencidas, por_vencer_3dias: porVencer, completadas_count: tareas.filter(t => t.completada).length, recientes_completadas: tareas.filter(t => t.completada).slice(0, 15).map(t => t.nombre), resumen_todas: tareas.map(t => ({n: t.nombre, l: t.lista, c: t.completada ? 1 : 0})), distribucion: tareas.reduce((acc, t) => { acc[t.lista] = (acc[t.lista] || 0) + 1; return acc; }, {}) },\n    github: { commits_back_recientes: bCommits.slice(0, 8).map(c => simplifyCommit(c, 'backend')), commits_front_recientes: fCommits.slice(0, 8).map(c => simplifyCommit(c, 'frontend')) },\n    kpis_ultimo_analisis: kpis, hitos_proximos: hitosActivos.slice(0, 5), recomendaciones_previas: recomendacionesPrevias\n  };\n}\n\nlet diffBack = null; let diffFront = null;\nif (needDiff) {\n  const repo = router.comando?.params?.repo;\n  if (!repo || repo === 'backend') diffBack = getFirstJson('Diff Backend', null);\n  if (!repo || repo === 'frontend') diffFront = getFirstJson('Diff Frontend', null);\n}\nlet diffInfo = null;\nif (diffBack || diffFront) { diffInfo = { backend: diffBack ? truncate(JSON.stringify(diffBack), 3000) : null, frontend: diffFront ? truncate(JSON.stringify(diffFront), 3000) : null }; }\nctx.diff_commits = diffInfo;\n\nconst system_prompt = `Eres el Gestor de Proyecto IA para \"PetSafe\". Tu objetivo es dar respuestas precisas. REGLAS ESTRICTAS:\n1. MAX 1800 caracteres. SIN MARKDOWN complejo.\n2. Si preguntan por estado general: resume KPIs, tareas y fechas clave.\n3. Si la pregunta es simple (ej \"hay vencidas?\"), responde directo.\n4. Considera hitos proximos y dias hasta fin.\nCONTEXTO (${now.toISOString()}):\n${JSON.stringify(ctx, null, 2)}\nPREGUNTA DE ${usuario}:\n${pregunta || 'Pregunta no disponible'}`;\n\nreturn [{ json: { system_prompt, user_prompt: pregunta, gemini_key: geminiKey, pregunta, usuario, ctx_data: ctx, from_cache: !!(cached && cached.ctx_data) } }];\n"
      },
      "id": "bc2e6127-6243-41b1-92d7-348eb156466f",
      "name": "Construir Contexto1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19440,
        -1888
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "718b53ed-cd55-409b-a140-e34bb161b861",
      "name": "Gemini Chat1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        19824,
        -1552
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO recomendaciones (fecha, tipo, pregunta, respuesta, usuario, aplicada) VALUES (NOW(), 'chat', $1, $2, $3, false);",
        "options": {}
      },
      "id": "41100311-2d20-46e4-a03d-23578d7cebf8",
      "name": "Guardar Q&A1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        20144,
        -1568
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $node['Gemini Chat1'].json.output || '(respuesta vacia o bloqueada por seguridad)' }}",
        "options": {}
      },
      "id": "55d619b8-bfb6-429d-b049-0bda8ae5c391",
      "name": "Resp Chat1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20304,
        -1568
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nombre, tipo, fecha_inicio, fecha_fin, responsable, completado FROM hitos_proyecto WHERE fecha_fin >= CURRENT_DATE - INTERVAL '7 days' ORDER BY fecha_fin ASC LIMIT 10;",
        "options": {}
      },
      "id": "c5899e3c-a3ca-4696-9e79-4f6bb9b034b2",
      "name": "PG Hitos1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        17744,
        -640
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.comando.error }}",
        "options": {}
      },
      "id": "46f36af7-a2b6-4c50-951a-bb6663868d3a",
      "name": "Resp Error1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        17744,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Comandos disponibles:\n- `!ayuda`: Muestra este mensaje.\n- `!kpis`: Muestra los KPIs actuales del proyecto.\n- `!reporte [dias]`: Genera un reporte en PDF de los ultimos 7 dias (o los dias que especifiques).\n- `!riesgos`: Analiza y muestra los riesgos actuales del proyecto.\n- `!hitos`: Muestra los proximos hitos del proyecto.\n- `!revisar <backend|frontend>`: Pide una revision del ultimo commit del repositorio especificado.\n\nEventos en tiempo real (webhooks):\n- Trello: `POST /webhook/trello-event`\n- GitHub: `POST /webhook/github-event`",
        "options": {}
      },
      "id": "d79e2e21-b04b-46a5-9772-080402d09a5b",
      "name": "Resp Ayuda1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        17744,
        -3184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-ayuda",
              "leftValue": "={{ $json.tipo === 'ayuda' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12575f11-7b8c-4368-9e9e-1c73231e8830",
      "name": "IF Es Ayuda1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16912,
        -2608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-error",
              "leftValue": "={{ $json.tipo === 'error' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8df1c2c1-3d06-43de-a44d-87069ef0512b",
      "name": "IF Es Error1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16976,
        -2208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-reporte",
              "leftValue": "={{ $json.tipo === 'reporte' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad93f575-d51d-4bc1-9851-05b5a14d34f8",
      "name": "IF Es Reporte1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        17216,
        -2256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-es-kpis",
              "leftValue": "={{ $json.tipo === 'kpis' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0592b85-06fd-4441-a292-53b0888a8daf",
      "name": "IF Es KPIs1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        17216,
        -1968
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "4c79fdc4-2af9-4a00-acd5-9c7f750e7e7f",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        19472,
        -1328
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "EcY5DyLsH2bNwVtM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.usuario }}",
        "sessionTTL": 60
      },
      "id": "6a7cabed-23de-420a-a97d-4a2641ff486e",
      "name": "Redis Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        19616,
        -1328
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "4f00a611-bfb7-4d8a-a503-fc655a35176b",
      "name": "Calculator1",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        19792,
        -1264
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'dedup:' + $json.usuario_discord + ':' + ($json.pregunta_usuario || '').slice(0,40).replace(/[^a-zA-Z0-9]/g,'') }}",
        "options": {}
      },
      "id": "55f6d108-fe95-4970-8f6b-3932a531078c",
      "name": "Redis Dedup Check1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        16240,
        -2624
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "65d7dbc2-dedd-4fd5-90c0-b8d57809626d",
              "leftValue": "={{ $json.value }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a24b873a-5ac3-46d8-b258-8be5925719eb",
      "name": "IF Duplicado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16400,
        -2624
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "dd7cff4a-c4a2-41cf-824b-9a3e27c19eda",
      "name": "Resp Dedup Skip1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16576,
        -2768
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'dedup:' + $node['Config1'].json.usuario_discord + ':' + ($node['Config1'].json.pregunta_usuario || '').slice(0,40).replace(/[^a-zA-Z0-9]/g,'') }}",
        "value": "1",
        "keyType": "string",
        "expire": true,
        "ttl": 5
      },
      "id": "0f862959-f984-44f8-9ce4-1931d7d7c865",
      "name": "Redis Dedup Set1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        16576,
        -2608
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "cache:kpis_response",
        "options": {}
      },
      "id": "eff6beb9-7857-4f34-88e0-9f47c61855d6",
      "name": "Redis Get KPIs Cache1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        18224,
        -2608
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "kpis-cache-check",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "647a44de-bb9f-42fe-8f93-ac096003be23",
      "name": "IF KPIs Cacheados1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18416,
        -2608
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.value || '(cach\u00e9 vac\u00edo \u2014 espera el pr\u00f3ximo ciclo del Monitor)' }}",
        "options": {}
      },
      "id": "b62e24bc-cb66-4646-81b2-796bd9c8e9c8",
      "name": "Resp KPIs Cacheados1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        18704,
        -2752
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "cache:kpis_response",
        "value": "={{ $json.text }}",
        "keyType": "string",
        "expire": true,
        "ttl": 600
      },
      "id": "be94e09a-e4d5-4e49-8bdd-f05c7833ce61",
      "name": "Redis Set KPIs Cache1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        18880,
        -2592
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "b878727b-40e9-4356-a53c-663ff144f451",
      "name": "Wait Diff APIs1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        18992,
        -2144
      ],
      "webhookId": "85958806-ba52-4e56-96ed-4d0564ad872c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52a40e90-67ca-445b-b7c7-6058623e7439",
              "leftValue": "={{ ['estado','vencidas','miembros','commits','ci','progreso'].includes($node['Router Comandos1'].json.formato) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b69e380b-c30b-4c81-9728-882f5a2e0aa9",
      "name": "IF Datos Rapidos1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19824,
        -1888
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6ee4417-ab2b-4c82-b1eb-003e19612010",
                    "leftValue": "={{ $node['Router Comandos1'].json.formato }}",
                    "rightValue": "estado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9663ef0e-cc19-41d5-b005-f105b0beecbf",
                    "leftValue": "={{ $node['Router Comandos1'].json.formato }}",
                    "rightValue": "vencidas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vencidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f297ab07-676a-4f25-b283-788bc17f8a97",
                    "leftValue": "={{ $node['Router Comandos1'].json.formato }}",
                    "rightValue": "miembros",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "miembros"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "39416be4-d9dc-4f24-a87e-b0762ebee276",
                    "leftValue": "={{ $node['Router Comandos1'].json.formato }}",
                    "rightValue": "commits",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "commits"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9f34eb54-de75-4c97-9fc9-956965aa911d",
                    "leftValue": "={{ $node['Router Comandos1'].json.formato }}",
                    "rightValue": "ci",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ci"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0c0a05e-5c60-4e33-8ab2-f49d140a6343",
                    "leftValue": "={{ $node['Router Comandos1'].json.formato }}",
                    "rightValue": "progreso",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "progreso"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "7d82c8f4-7d14-4d15-93b1-570b04d3da85",
      "name": "Switch Formato1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        20576,
        -2016
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst h = $node['PG Historial1']?.first()?.json || {};\nconst kpis = (typeof h.kpis_json === 'string' ? JSON.parse(h.kpis_json) : h.kpis_json) || {};\nconst cards = $node['Trello Cards1'].all().map(i=>i.json);\nconst total = cards.length;\nconst done = cards.filter(c=>c.dueComplete).length;\nconst overdue = cards.filter(c=>c.due && !c.dueComplete && new Date(c.due)<new Date()).length;\nconst pct = total>0?Math.round(done/total*100):0;\nconst vel = kpis.velocidad_tareas_por_dia ?? '?';\nconst proj = kpis.proyeccion ?? 'sin datos';\nconst emojiProj = proj==='on-track'?'\u2705':proj==='riesgo'?'\u26a0\ufe0f':'\ud83d\udd34';\nconst lines = [\n  '**\ud83d\udcca ESTADO DEL PROYECTO PetSafe**',\n  `Progreso: **${pct}%** (${done}/${total} tareas)  ${emojiProj} ${proj}`,\n  `Vencidas: **${overdue}**  |  Velocidad: **${vel}** tareas/d\u00eda`,\n  `Commits 14d: **${kpis.commits_14d ?? '?'}**  |  Bus factor: **${kpis.bus_factor_14d ?? '?'}**`,\n  `D\u00edas hasta entrega: **${kpis.dias_hasta_fin ?? '?'}**`\n];\nreturn [{json:{respuesta: lines.join('\\n')}}];\n"
      },
      "id": "c98dbac9-5023-464d-bdd7-7504d67b91c2",
      "name": "Formatear Estado1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20944,
        -2320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "5b4ac454-ae81-48bc-b706-fae8ccfd271b",
      "name": "Resp estado1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21184,
        -2320
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst cards = $node['Trello Cards1'].all().map(i=>i.json);\nconst lists = $node['Trello Lists1'].all().map(i=>i.json);\nconst members = $node['Trello Members1'].all().map(i=>i.json);\nconst listById = Object.fromEntries(lists.map(l=>[l.id,l.name]));\nconst memById = Object.fromEntries(members.map(m=>[m.id,m.fullName||m.username]));\nconst now = new Date();\nconst venc = cards.filter(c=>c.due&&!c.dueComplete&&new Date(c.due)<now);\nif(!venc.length) return [{json:{respuesta:'\u2705 No hay tareas vencidas.'}}];\nconst lines = ['**\ud83d\udd34 TAREAS VENCIDAS**',''];\nfor(const c of venc.slice(0,10)){\n  const dias = Math.floor((now-new Date(c.due))/86400000);\n  const resp = (c.idMembers||[]).map(id=>memById[id]||id).join(', ') || 'sin asignar';\n  lines.push(`\u2022 **${c.name}**`);\n  lines.push(`  Lista: ${listById[c.idList]||'?'} | Resp: ${resp} | Hace ${dias}d`);\n}\nif(venc.length>10) lines.push(`...y ${venc.length-10} m\u00e1s`);\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "8662670f-afb3-464d-b723-37b3f95600c4",
      "name": "Formatear Vencidas1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20944,
        -2144
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "6b78fa46-3b46-4eeb-803b-278e54cec7c6",
      "name": "Resp vencidas1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21184,
        -2144
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst cards = $node['Trello Cards1'].all().map(i=>i.json);\nconst members = $node['Trello Members1'].all().map(i=>i.json);\nconst memById = Object.fromEntries(members.map(m=>[m.id,m.fullName||m.username]));\nconst now = new Date();\nconst stats = {};\nfor(const c of cards){\n  for(const id of (c.idMembers||[])){\n    const name = memById[id]||id;\n    if(!stats[name]) stats[name]={asig:0,done:0,venc:0};\n    stats[name].asig++;\n    if(c.dueComplete) stats[name].done++;\n    else if(c.due&&new Date(c.due)<now) stats[name].venc++;\n  }\n}\nconst lines = ['**\ud83d\udc65 CARGA DEL EQUIPO**','`Miembro          | Asig | Done | Venc`'];\nfor(const [name,s] of Object.entries(stats)){\n  const short = name.split(' ').slice(0,2).join(' ').padEnd(16);\n  lines.push(`${short} |  ${String(s.asig).padStart(2)}  |  ${String(s.done).padStart(2)}  |  ${String(s.venc).padStart(2)}`);\n}\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "d18236f5-635a-402b-87e0-bb43bf380f2d",
      "name": "Formatear Miembros1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20944,
        -1952
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "a08b5ac4-ae09-4fa2-b47e-b2e8a5a5c7ef",
      "name": "Resp miembros1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21184,
        -1952
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst bC = $node['GH Back Commits1'].all().map(i=>i.json).slice(0,5);\nconst fC = $node['GH Front Commits1'].all().map(i=>i.json).slice(0,5);\nconst fmt = (c,repo)=>`\u2022 \\`${(c.sha||'').slice(0,7)}\\` [${repo}] **${(c.commit?.author?.name||'?').split(' ')[0]}**: ${(c.commit?.message||'').split('\\n')[0].slice(0,70)}`;\nconst lines = ['**\ud83d\udcdd COMMITS RECIENTES**','**Backend:**',...bC.map(c=>fmt(c,'back')),'','**Frontend:**',...fC.map(c=>fmt(c,'front'))];\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "a516c526-f977-4103-b1c8-0bfdbd5eba80",
      "name": "Formatear Commits1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20944,
        -1776
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "1649b126-164d-44f3-b8de-e6451bde33dd",
      "name": "Resp commits1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21184,
        -1776
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst bR = $node['GH Back CI Runs'].first()?.json?.workflow_runs?.[0];\nconst fR = $node['GH Front CI Runs'].first()?.json?.workflow_runs?.[0];\nconst emo = s=>s==='success'?'\u2705':s==='failure'?'\u274c':s==='in_progress'?'\ud83d\udd04':'\u26aa';\nconst fmt = (r,label)=>r?`${emo(r.conclusion||r.status)} **${label}**: ${r.conclusion||r.status} | rama: ${r.head_branch} | por: ${r.actor?.login||'?'}`:`\u26aa **${label}**: sin datos`;\nconst lines = ['**\ud83d\udd27 ESTADO CI/CD**',fmt(bR,'Backend'),fmt(fR,'Frontend'),'','\ud83c\udf10 Deploy: https://pet-safe-six.vercel.app'];\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "ce12f7b4-c64f-440c-9cfb-df2861314dab",
      "name": "Formatear CI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20944,
        -1600
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "2cb1258c-c305-41bb-8aee-2ee5825d0de1",
      "name": "Resp ci1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21184,
        -1600
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst cards = $node['Trello Cards1'].all().map(i=>i.json);\nconst h = $node['PG Historial1']?.first()?.json||{};\nconst kpis=(typeof h.kpis_json==='string'?JSON.parse(h.kpis_json):h.kpis_json)||{};\nconst now=new Date();\nconst total=cards.length, done=cards.filter(c=>c.dueComplete).length;\nconst pend=cards.filter(c=>!c.dueComplete&&!(c.due&&new Date(c.due)<now)).length;\nconst venc=cards.filter(c=>c.due&&!c.dueComplete&&new Date(c.due)<now).length;\nconst pct=total>0?Math.round(done/total*100):0;\nconst bar='\u2588'.repeat(Math.round(pct/10))+'\u2591'.repeat(10-Math.round(pct/10));\nconst lines=[\n  '**\ud83c\udfc1 PROGRESO DEL SPRINT**',\n  `\\`[${bar}] ${pct}%\\``,\n  `Completadas: **${done}** | Pendientes: **${pend}** | Vencidas: **${venc}**`,\n  `Velocidad: **${kpis.velocidad_tareas_por_dia??'?'}** t/d\u00eda | Commits/d\u00eda: **${kpis.commits_por_dia??'?'}**`,\n  `Proyecci\u00f3n: **${kpis.proyeccion??'sin datos'}** | D\u00edas hasta fin: **${kpis.dias_hasta_fin??'?'}**`\n];\nreturn [{json:{respuesta:lines.join('\\n')}}];\n"
      },
      "id": "a7ebc5ce-6396-4c1e-b511-a54a329b77ed",
      "name": "Formatear Progreso1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20944,
        -1424
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "id": "05ebef1d-0ee5-4643-937a-42e732369105",
      "name": "Resp progreso1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21184,
        -1424
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/search?query={{ encodeURIComponent($fromAI('keyword')) }}&idBoards={{ $node['Config1'].json.TRELLO_BOARD_ID }}&card_fields=name,desc,due,dueComplete,idList&key={{ $node['Config1'].json.TRELLO_KEY }}&token={{ $node['Config1'].json.TRELLO_TOKEN }}&modelTypes=cards",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        }
      },
      "id": "01b8b8b2-faca-46d7-8542-0e31d353181e",
      "name": "Tool Buscar Trello1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        19936,
        -1264
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node['Config1'].json.GITHUB_OWNER_BACKEND }}/{{ $fromAI('repo') === 'frontend' ? $node['Config1'].json.GITHUB_REPO_FRONTEND : $node['Config1'].json.GITHUB_REPO_BACKEND }}/actions/runs?per_page=3",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        }
      },
      "id": "219fd1c4-8856-4358-a0f8-91564846742a",
      "name": "Tool Ver CI1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        20096,
        -1264
      ]
    },
    {
      "parameters": {
        "name": "crear_tarjeta_trello",
        "description": "Crea una nueva tarjeta en Trello. Recibe: nombre (t\u00edtulo de la tarea), descripcion, lista (ej. Pendientes, En Progreso) y miembro (a quien asignar).",
        "workflowId": {
          "value": "tool-crear-tarjeta",
          "mode": "id"
        }
      },
      "id": "eda8ebc3-affe-4875-a55a-98b7925e4a66",
      "name": "Tool Workflow Crear Tarjeta1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        20240,
        -1264
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config1\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Config1\"].json.GITHUB_REPO_BACKEND }}/actions/runs?per_page=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "7b92f077-636f-489f-b566-b3a691c71970",
      "name": "GH Back CI Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17760,
        -1072
      ],
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Config1\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Config1\"].json.GITHUB_REPO_FRONTEND }}/actions/runs?per_page=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "91a74eff-59d3-4121-a224-8924020a58e2",
      "name": "GH Front CI Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17744,
        -784
      ],
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_decisions (correlation_id, agent_role, decision_type, input_summary, context_used, evidence, decision, recommendation, confidence, risk_level, requires_human_approval, status) VALUES ($1, $2, $3, $4, $5::jsonb, $6::jsonb, $7::jsonb, $8, $9, $10, $11, $12);",
        "options": {
          "queryReplacement": "={{ [ $json.correlation_id || null, 'PM Chat', ($node['Router Comandos1'].json.comando?.nombre || 'chat'), ($node['Router Comandos1'].json.pregunta || '').slice(0, 500), JSON.stringify($node['Construir Contexto1'].json.ctx_data || {}), JSON.stringify({ usuario: $node['Router Comandos1'].json.usuario || null }), JSON.stringify({ respuesta: $node['Gemini Chat1'].json.output || '' }), null, null, null, false, 'logged' ] }}"
        }
      },
      "id": "2303fd75-7592-4ae6-a3ac-26ee36194382",
      "name": "Decision Ledger Chat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20016,
        -1552
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS workflow_runs_audit ( run_id BIGSERIAL PRIMARY KEY, workflow_id TEXT NOT NULL, workflow_name TEXT, status TEXT, started_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(), completed_at TIMESTAMP WITH TIME ZONE, correlation_id TEXT, error_details JSONB, metrics JSONB ); INSERT INTO workflow_runs_audit (workflow_id, workflow_name, status, completed_at, correlation_id, metrics) VALUES ($1, $2, 'success', NOW(), $3, $4::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $workflow.id || 'unknown', $workflow.name, $json.correlation_id || null, JSON.stringify({ tipo: $node['Router Comandos1'].json.tipo || null, comando: $node['Router Comandos1'].json.comando?.nombre || null, usuario: $node['Router Comandos1'].json.usuario || null }) ] }}"
        }
      },
      "id": "8b9f0ac5-c7c9-4132-9487-a8d46d77a2c9",
      "name": "Audit Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        20496,
        -1664
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Discord Webhook1": {
      "main": [
        [
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "Redis Dedup Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Comandos1": {
      "main": [
        [
          {
            "node": "IF Es Ayuda1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo1": {
      "main": [
        [
          {
            "node": "Trigger Reporte PDF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Get KPIs Cache1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Cards1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Lists1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Members1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back Commits1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front Commits1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back PRs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front PRs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Historial1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Recomendaciones1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Hitos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp Ayuda1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Reporte PDF1": {
      "main": [
        [
          {
            "node": "Resp Reporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Ultimo KPI1": {
      "main": [
        [
          {
            "node": "Formatear KPIs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear KPIs1": {
      "main": [
        [
          {
            "node": "Redis Set KPIs Cache1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Cards1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Lists1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trello Members1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "GH Back Commits1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "GH Front Commits1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "GH Back PRs1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "GH Front PRs1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "PG Historial1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "PG Recomendaciones1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Merge Chat1": {
      "main": [
        [
          {
            "node": "IF Necesita Diff1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Necesita Diff1": {
      "main": [
        [
          {
            "node": "Wait Diff APIs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff Backend1": {
      "main": [
        [
          {
            "node": "Construir Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff Frontend1": {
      "main": [
        [
          {
            "node": "Construir Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat1": {
      "main": [
        [
          {
            "node": "Decision Ledger Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Q&A1": {
      "main": [
        [
          {
            "node": "Resp Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Hitos1": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "IF Es Ayuda1": {
      "main": [
        [
          {
            "node": "Resp Ayuda1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Es Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es Error1": {
      "main": [
        [
          {
            "node": "Resp Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Es Reporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es Reporte1": {
      "main": [
        [
          {
            "node": "Trigger Reporte PDF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Es KPIs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es KPIs1": {
      "main": [
        [
          {
            "node": "Redis Get KPIs Cache1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trello Cards1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Lists1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trello Members1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back Commits1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front Commits1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back PRs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front PRs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Historial1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Recomendaciones1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Hitos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Back CI Runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH Front CI Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chat1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Gemini Chat1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Dedup Check1": {
      "main": [
        [
          {
            "node": "IF Duplicado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicado1": {
      "main": [
        [
          {
            "node": "Resp Dedup Skip1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Dedup Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Dedup Set1": {
      "main": [
        [
          {
            "node": "Router Comandos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get KPIs Cache1": {
      "main": [
        [
          {
            "node": "IF KPIs Cacheados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF KPIs Cacheados1": {
      "main": [
        [
          {
            "node": "Resp KPIs Cacheados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Ultimo KPI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set KPIs Cache1": {
      "main": [
        [
          {
            "node": "Resp KPIs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Diff APIs1": {
      "main": [
        [
          {
            "node": "Diff Backend1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Diff Frontend1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Datos Rapidos1": {
      "main": [
        [
          {
            "node": "Switch Formato1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Formato1": {
      "main": [
        [
          {
            "node": "Formatear Estado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Vencidas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Miembros1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Commits1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear CI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Progreso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Estado1": {
      "main": [
        [
          {
            "node": "Resp estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Vencidas1": {
      "main": [
        [
          {
            "node": "Resp vencidas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Miembros1": {
      "main": [
        [
          {
            "node": "Resp miembros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Commits1": {
      "main": [
        [
          {
            "node": "Resp commits1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear CI1": {
      "main": [
        [
          {
            "node": "Resp ci1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Progreso1": {
      "main": [
        [
          {
            "node": "Resp progreso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Buscar Trello1": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Ver CI1": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Workflow Crear Tarjeta1": {
      "ai_tool": [
        [
          {
            "node": "Gemini Chat1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Construir Contexto1": {
      "main": [
        [
          {
            "node": "IF Datos Rapidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH Back CI Runs": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 10
          }
        ]
      ]
    },
    "GH Front CI Runs": {
      "main": [
        [
          {
            "node": "Merge Chat1",
            "type": "main",
            "index": 11
          }
        ]
      ]
    },
    "Decision Ledger Chat": {
      "main": [
        [
          {
            "node": "Guardar Q&A1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp Chat1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp Dedup Skip1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp Reporte1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp KPIs1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp KPIs Cacheados1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp Ayuda1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp Error1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp estado1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp vencidas1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp miembros1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp commits1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp ci1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp progreso1": {
      "main": [
        [
          {
            "node": "Audit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b91fb85a-f8ba-4e54-9cb1-700d021c1bd9",
  "meta": {
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "4s2fYe8E8qaiMWRr",
  "tags": []
}