bot/Construir Contexto Robusto.json
{
  "name": "Construir Contexto Robusto",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "d4ecc23e-32d7-406b-bfdb-e7405e6695f2",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -672,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "w3c03",
              "name": "TRELLO_BOARD_ID",
              "value": "69baa8ff02e1cfb32a461a04",
              "type": "string"
            },
            {
              "id": "w3c05",
              "name": "GITHUB_OWNER_BACKEND",
              "value": "STRATIUM-UTA",
              "type": "string"
            },
            {
              "id": "w3c05f",
              "name": "GITHUB_OWNER_FRONTEND",
              "value": "JosueGarciaAbata",
              "type": "string"
            },
            {
              "id": "w3c06",
              "name": "GITHUB_REPO_BACKEND",
              "value": "PetSafe-Back",
              "type": "string"
            },
            {
              "id": "w3c07",
              "name": "GITHUB_REPO_FRONTEND",
              "value": "PetSafe-Front",
              "type": "string"
            },
            {
              "id": "w3c09",
              "name": "DISCORD_WEBHOOK_URL",
              "value": "https://discordapp.com/api/webhooks/1494442658821832904/apUVcK-nDQ0ti_jmkIYwma_LWggN6Qj4EYm-jNZT3MK8W0B69LqMolAHd_Dtu60xlr4V",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2d3f237-8835-4c77-a694-541c83c18616",
      "name": "Configuración1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        720
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Configuración1\"].json.TRELLO_BOARD_ID }}/cards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,dueComplete,due,idList,dateLastActivity"
            },
            {
              "name": "attachments",
              "value": "true"
            },
            {
              "name": "attachment_fields",
              "value": "name,url,mimeType,date"
            }
          ]
        },
        "options": {}
      },
      "id": "c9b66fde-c6ab-46b5-b495-cdf45b7bacdd",
      "name": "Trello Cards Delta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        528
      ],
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración1\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Configuración1\"].json.GITHUB_REPO_BACKEND }}/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sha",
              "value": "main"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "6f2d59c9-9680-4faf-a9c6-118babd0706f",
      "name": "GitHub Back Main1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        656
      ],
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración1\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Configuración1\"].json.GITHUB_REPO_FRONTEND }}/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sha",
              "value": "main"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "5de36fd0-450c-4769-b1b7-dce35b600e0a",
      "name": "GitHub Front Main1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        800
      ],
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT snapshot FROM estado_conocido WHERE id = 1;",
        "options": {}
      },
      "id": "41df985e-63a5-4610-ae2c-438f91d5e3f5",
      "name": "PG Estado Conocido1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -208,
        944
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "a28dce09-27a1-453a-93cb-212896703e99",
      "name": "Merge Delta1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        48,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $node['Configuración1'].json;\n\nconst parseSnapshot = (value) => {\n  try {\n    if (!value) return {};\n    if (typeof value === 'string') return JSON.parse(value);\n    if (typeof value === 'object') return value;\n    return {};\n  } catch (e) {\n    return {};\n  }\n};\n\nconst safeNodeItems = (nodeName) => {\n  try {\n    return $(nodeName).all().map((i) => i.json);\n  } catch (e) {\n    return [];\n  }\n};\n\nconst flattenItems = (arr) => {\n  const out = [];\n  for (const it of arr) {\n    if (Array.isArray(it)) out.push(...it);\n    else if (it && typeof it === 'object') out.push(it);\n  }\n  return out;\n};\n\nconst isCard = (x) =>\n  x &&\n  typeof x === 'object' &&\n  typeof x.id === 'string' &&\n  x.id.length === 24 &&\n  Object.prototype.hasOwnProperty.call(x, 'dueComplete');\n\nconst isCommit = (x) =>\n  x &&\n  typeof x === 'object' &&\n  typeof x.sha === 'string' &&\n  x.commit &&\n  typeof x.commit === 'object';\n\nlet cards = flattenItems(safeNodeItems('Trello Cards Delta1')).filter(isCard);\nlet backCommits = flattenItems(safeNodeItems('GitHub Back Main1')).filter(isCommit);\nlet frontCommits = flattenItems(safeNodeItems('GitHub Front Main1')).filter(isCommit);\n\nconst pgRows = flattenItems(safeNodeItems('PG Estado Conocido1'));\nlet prevSnapshot = parseSnapshot(pgRows[0]?.snapshot);\n\nif (!cards.length || !backCommits.length || !frontCommits.length || !Object.keys(prevSnapshot).length) {\n  const mergedRaw = $input.all().map((i) => i.json);\n  const mergedFlat = flattenItems(mergedRaw);\n\n  const fbCards = [];\n  const fbBack = [];\n  const fbFront = [];\n  let fbSnapshot = {};\n\n  for (const it of mergedFlat) {\n    if (it?.snapshot && !Object.keys(fbSnapshot).length) {\n      fbSnapshot = parseSnapshot(it.snapshot);\n      continue;\n    }\n\n    if (isCard(it)) {\n      fbCards.push(it);\n      continue;\n    }\n\n    if (isCommit(it)) {\n      const url = String(it.url || it.html_url || '');\n      if (url.includes(cfg.GITHUB_REPO_BACKEND)) fbBack.push(it);\n      else if (url.includes(cfg.GITHUB_REPO_FRONTEND)) fbFront.push(it);\n    }\n  }\n\n  if (!cards.length) cards = fbCards;\n  if (!backCommits.length) backCommits = fbBack;\n  if (!frontCommits.length) frontCommits = fbFront;\n  if (!Object.keys(prevSnapshot).length) prevSnapshot = fbSnapshot;\n}\n\nconst prev = {\n  main_commit_back_sha: prevSnapshot.main_commit_back_sha || null,\n  main_commit_front_sha: prevSnapshot.main_commit_front_sha || null,\n  card_states: prevSnapshot.card_states || {},\n};\n\nconst events = [];\nconst newCardStates = {};\n\nfor (const c of cards) {\n  const attCount = (c.attachments || []).length;\n  const pdfAtts = (c.attachments || []).filter((a) =>\n    (a.mimeType || '').includes('pdf') || (a.name || '').toLowerCase().endsWith('.pdf'),\n  );\n\n  newCardStates[c.id] = {\n    dueComplete: !!c.dueComplete,\n    attCount,\n    pdfCount: pdfAtts.length,\n  };\n\n  const prevCard = prev.card_states[c.id];\n  if (prevCard) {\n    if (!prevCard.dueComplete && c.dueComplete) {\n      events.push({\n        tipo: 'tarea_completada',\n        emoji: '✅',\n        titulo: 'Tarea completada',\n        descripcion: `La tarjeta \"${c.name}\" fue marcada como completada.`,\n        detalle: { card_id: c.id, card_name: c.name, due: c.due },\n      });\n    }\n\n    if ((prevCard.pdfCount || 0) < pdfAtts.length) {\n      const newPdfs = pdfAtts.slice(-(pdfAtts.length - (prevCard.pdfCount || 0)));\n      events.push({\n        tipo: 'entregable_subido',\n        emoji: '📎',\n        titulo: 'Nuevo entregable PDF',\n        descripcion: `Se subió un PDF a \"${c.name}\": ${newPdfs.map((p) => p.name).join(', ')}`,\n        detalle: {\n          card_id: c.id,\n          card_name: c.name,\n          pdfs: newPdfs.map((p) => ({ name: p.name, url: p.url })),\n        },\n      });\n    }\n  }\n}\n\nconst latestBack = backCommits[0];\nif (latestBack && latestBack.sha !== prev.main_commit_back_sha && prev.main_commit_back_sha) {\n  events.push({\n    tipo: 'commit_main_backend',\n    emoji: '🔀',\n    titulo: 'Commit a main (backend)',\n    descripcion: `${latestBack.commit?.author?.name || '?'}: ${(latestBack.commit?.message || '').split('\\n')[0]}`,\n    detalle: {\n      repo: 'backend',\n      sha: latestBack.sha,\n      url: latestBack.html_url,\n      autor: latestBack.commit?.author?.name,\n      mensaje: latestBack.commit?.message,\n    },\n  });\n}\n\nconst latestFront = frontCommits[0];\nif (latestFront && latestFront.sha !== prev.main_commit_front_sha && prev.main_commit_front_sha) {\n  events.push({\n    tipo: 'commit_main_frontend',\n    emoji: '🔀',\n    titulo: 'Commit a main (frontend)',\n    descripcion: `${latestFront.commit?.author?.name || '?'}: ${(latestFront.commit?.message || '').split('\\n')[0]}`,\n    detalle: {\n      repo: 'frontend',\n      sha: latestFront.sha,\n      url: latestFront.html_url,\n      autor: latestFront.commit?.author?.name,\n      mensaje: latestFront.commit?.message,\n    },\n  });\n}\n\nconst newSnapshot = {\n  main_commit_back_sha: latestBack?.sha || prev.main_commit_back_sha,\n  main_commit_front_sha: latestFront?.sha || prev.main_commit_front_sha,\n  card_states: newCardStates,\n};\n\nreturn [{\n  json: {\n    events,\n    event_count: events.length,\n    new_snapshot: newSnapshot,\n    new_snapshot_json: JSON.stringify(newSnapshot),\n  },\n}];"
      },
      "id": "1ae0116d-ff42-4f27-a7c1-a2088f639876",
      "name": "Delta Detector1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE estado_conocido SET snapshot = $1::jsonb, actualizado = NOW() WHERE id = 1;",
        "options": {
          "queryReplacement": "={{ $json.new_snapshot_json }}"
        }
      },
      "id": "2b607abd-a9f6-4d97-90fe-dd17e611b2bc",
      "name": "PG Update Estado1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        960
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ev-gt-0",
              "leftValue": "={{ $json.event_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1d9d435f-e9b7-46d0-8b75-7d3c7954fda4",
      "name": "IF Hay Eventos1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const events = $json.events || [];\nreturn events.map(e => ({ json: e }));\n"
      },
      "id": "3ec2fa5b-a1dc-4346-8d53-6f7720c3bc1b",
      "name": "Split Events1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $json;\n\nconst prompt = [\n  'Eres un PM assistant para PetSafe.',\n  'Analiza el evento y devuelve solo 2 frases cortas en español, texto plano, sin markdown, sin asteriscos y sin emojis.',\n  'Primera frase: impacto del evento.',\n  'Segunda frase: siguiente acción recomendada si aplica.',\n  '',\n  'Evento: ' + ev.titulo,\n  'Tipo: ' + ev.tipo,\n  'Descripción: ' + ev.descripcion,\n  'Detalle JSON: ' + JSON.stringify(ev.detalle || {}),\n].join('\\n');\n\nreturn [{ json: { ...ev, prompt } }];\n"
      },
      "id": "a3315930-111e-4cf0-8b64-2703d2419325",
      "name": "Preparar Prompt Evento1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "1273a21a-23c2-4327-9420-6dd3872835a9",
      "name": "Gemini Event Analysis1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1104,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $node['Preparar Prompt Evento1'].json;\nconst gem = $json;\nconst analysis = gem?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || '';\n\nlet extra = '';\nif (ev.detalle?.url) extra = `\\n🔗 ${ev.detalle.url}`;\nif (ev.detalle?.pdfs?.length) extra = '\\n' + ev.detalle.pdfs.map((p) => `📄 [${p.name}](${p.url})`).join('\\n');\n\nconst content = `${ev.emoji} **${ev.titulo}**\\n${ev.descripcion}${extra}\\n\\n🤖 ${analysis}`;\n\nreturn [{ json: {\n  ...ev,\n  analysis,\n  content,\n  detalle_json: JSON.stringify(ev.detalle || {})\n}}];\n"
      },
      "id": "38c5efda-e8d3-4433-ba78-b5dcad3ef0e3",
      "name": "Build Discord Msg1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        608
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "a1051d38-5e47-4aef-9b5c-0a90c2697c8a",
      "name": "Google Gemini Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        784
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "EcY5DyLsH2bNwVtM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Configuración1\"].json.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "6ef2cd36-5f9f-4f5d-9901-0c9ea8ec7cbb",
      "name": "Discord Event1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        528
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eventos_detectados (tipo, descripcion, detalle, notificado) VALUES ($1, $2, $3::jsonb, TRUE);",
        "options": {
          "queryReplacement": "={{ $json.tipo }},={{ $json.descripcion }},={{ $json.detalle_json }}"
        }
      },
      "id": "bda10cad-0d71-4eab-b4af-e8781020261b",
      "name": "PG Insert Evento1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1552,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Configuración1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuración1": {
      "main": [
        [
          {
            "node": "Trello Cards Delta1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Back Main1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Front Main1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Estado Conocido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Cards Delta1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Back Main1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Front Main1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PG Estado Conocido1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Delta1": {
      "main": [
        [
          {
            "node": "Delta Detector1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delta Detector1": {
      "main": [
        [
          {
            "node": "IF Hay Eventos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Update Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hay Eventos1": {
      "main": [
        [
          {
            "node": "Split Events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Events1": {
      "main": [
        [
          {
            "node": "Preparar Prompt Evento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Evento1": {
      "main": [
        [
          {
            "node": "Gemini Event Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Event Analysis1": {
      "main": [
        [
          {
            "node": "Build Discord Msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Event Analysis1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Msg1": {
      "main": [
        [
          {
            "node": "Discord Event1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Insert Evento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bb43cd31-8d61-43ab-a1ac-0c8ca9c540f3",
  "meta": {
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "Uz4N0Dnnd6xnHT6i",
  "tags": []
}