bot/Construir Contexto Robusto.json
{
  "name": "Construir Contexto Robusto",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "0695f1a4-1869-4106-92ac-a090faba0d9e",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2320,
        1424
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "w3c01",
              "name": "TRELLO_API_KEY",
              "value": "={{ $env.TRELLO_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w3c02",
              "name": "TRELLO_TOKEN",
              "value": "={{ $env.TRELLO_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c03",
              "name": "TRELLO_BOARD_ID",
              "value": "={{ $env.TRELLO_BOARD_ID }}",
              "type": "string"
            },
            {
              "id": "w3c04",
              "name": "GITHUB_TOKEN",
              "value": "={{ $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c04b",
              "name": "GITHUB_TOKEN_BACKEND",
              "value": "={{ $env.GITHUB_TOKEN_BACKEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c04f",
              "name": "GITHUB_TOKEN_FRONTEND",
              "value": "={{ $env.GITHUB_TOKEN_FRONTEND || $env.GITHUB_TOKEN }}",
              "type": "string"
            },
            {
              "id": "w3c05",
              "name": "GITHUB_OWNER_BACKEND",
              "value": "={{ $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w3c05f",
              "name": "GITHUB_OWNER_FRONTEND",
              "value": "={{ $env.GITHUB_OWNER_FRONTEND || $env.GITHUB_OWNER || $env.GITHUB_OWNER_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w3c06",
              "name": "GITHUB_REPO_BACKEND",
              "value": "={{ $env.GITHUB_REPO_BACKEND }}",
              "type": "string"
            },
            {
              "id": "w3c07",
              "name": "GITHUB_REPO_FRONTEND",
              "value": "={{ $env.GITHUB_REPO_FRONTEND }}",
              "type": "string"
            },
            {
              "id": "w3c08",
              "name": "GEMINI_API_KEY",
              "value": "={{ $env.GEMINI_API_KEY }}",
              "type": "string"
            },
            {
              "id": "w3c09",
              "name": "DISCORD_WEBHOOK_URL",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ce0ac715-dd1f-4983-9a5b-7dbe36b6f108",
      "name": "Configuración1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        1424
      ]
    },
    {
      "parameters": {
        "url": "=https://api.trello.com/1/boards/{{ $node[\"Configuración1\"].json.TRELLO_BOARD_ID }}/cards",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $node[\"Configuración1\"].json.TRELLO_API_KEY }}"
            },
            {
              "name": "token",
              "value": "={{ $node[\"Configuración1\"].json.TRELLO_TOKEN }}"
            },
            {
              "name": "fields",
              "value": "name,dueComplete,due,idList,dateLastActivity"
            },
            {
              "name": "attachments",
              "value": "true"
            },
            {
              "name": "attachment_fields",
              "value": "name,url,mimeType,date"
            }
          ]
        },
        "options": {}
      },
      "id": "a78b40d9-02ae-4c25-9261-34e7f35a58ba",
      "name": "Trello Cards Delta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        1232
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración1\"].json.GITHUB_OWNER_BACKEND }}/{{ $node[\"Configuración1\"].json.GITHUB_REPO_BACKEND }}/commits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sha",
              "value": "main"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Configuración1\"].json.GITHUB_TOKEN_BACKEND || $node[\"Configuración1\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "9855b875-0953-48ad-9d88-b2976b900f74",
      "name": "GitHub Back Main1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        1360
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"Configuración1\"].json.GITHUB_OWNER_FRONTEND }}/{{ $node[\"Configuración1\"].json.GITHUB_REPO_FRONTEND }}/commits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sha",
              "value": "main"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Configuración1\"].json.GITHUB_TOKEN_FRONTEND || $node[\"Configuración1\"].json.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "51e563d1-eab9-4447-bfb2-047713a862b9",
      "name": "GitHub Front Main1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT snapshot FROM estado_conocido WHERE id = 1;",
        "options": {}
      },
      "id": "2a362f6f-cd63-43f6-9ebe-3f97d74efcc4",
      "name": "PG Estado Conocido1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1856,
        1648
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "0ba2dae1-88f3-4f30-841e-efbeb506a3db",
      "name": "Merge Delta1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1600,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $node['Configuración1'].json;\n\nconst parseSnapshot = (value) => {\n  try {\n    if (!value) return {};\n    if (typeof value === 'string') return JSON.parse(value);\n    if (typeof value === 'object') return value;\n    return {};\n  } catch (e) {\n    return {};\n  }\n};\n\nconst safeNodeItems = (nodeName) => {\n  try {\n    return $(nodeName).all().map(i => i.json);\n  } catch (e) {\n    return [];\n  }\n};\n\nconst flattenItems = (arr) => {\n  const out = [];\n  for (const it of arr) {\n    if (Array.isArray(it)) out.push(...it);\n    else if (it && typeof it === 'object') out.push(it);\n  }\n  return out;\n};\n\nconst isCard = (x) =>\n  x &&\n  typeof x === 'object' &&\n  typeof x.id === 'string' &&\n  x.id.length === 24 &&\n  Object.prototype.hasOwnProperty.call(x, 'dueComplete');\n\nconst isCommit = (x) =>\n  x &&\n  typeof x === 'object' &&\n  typeof x.sha === 'string' &&\n  x.commit &&\n  typeof x.commit === 'object';\n\n// 1) Intento principal: leer por nodo (más robusto y explícito)\nlet cards = flattenItems(safeNodeItems('Trello Cards Delta')).filter(isCard);\nlet backCommits = flattenItems(safeNodeItems('GitHub Back Main')).filter(isCommit);\nlet frontCommits = flattenItems(safeNodeItems('GitHub Front Main')).filter(isCommit);\n\nconst pgRows = flattenItems(safeNodeItems('PG Estado Conocido'));\nlet prevSnapshot = parseSnapshot(pgRows[0]?.snapshot);\n\n// 2) Fallback: si algo vino vacío, intentar reconstruir desde Merge/$input\nif (!cards.length || !backCommits.length || !frontCommits.length || !Object.keys(prevSnapshot).length) {\n  const mergedRaw = $input.all().map(i => i.json);\n  const mergedFlat = flattenItems(mergedRaw);\n\n  const fbCards = [];\n  const fbBack = [];\n  const fbFront = [];\n  let fbSnapshot = {};\n\n  for (const it of mergedFlat) {\n    if (it?.snapshot && !Object.keys(fbSnapshot).length) {\n      fbSnapshot = parseSnapshot(it.snapshot);\n      continue;\n    }\n\n    if (isCard(it)) {\n      fbCards.push(it);\n      continue;\n    }\n\n    if (isCommit(it)) {\n      const url = String(it.url || it.html_url || '');\n      if (url.includes(cfg.GITHUB_REPO_BACKEND)) fbBack.push(it);\n      else if (url.includes(cfg.GITHUB_REPO_FRONTEND)) fbFront.push(it);\n    }\n  }\n\n  if (!cards.length) cards = fbCards;\n  if (!backCommits.length) backCommits = fbBack;\n  if (!frontCommits.length) frontCommits = fbFront;\n  if (!Object.keys(prevSnapshot).length) prevSnapshot = fbSnapshot;\n}\n\nconst prev = {\n  main_commit_back_sha: prevSnapshot.main_commit_back_sha || null,\n  main_commit_front_sha: prevSnapshot.main_commit_front_sha || null,\n  card_states: prevSnapshot.card_states || {}\n};\n\nconst events = [];\nconst newCardStates = {};\n\nfor (const c of cards) {\n  const attCount = (c.attachments || []).length;\n  const pdfAtts = (c.attachments || []).filter(a =>\n    (a.mimeType || '').includes('pdf') || (a.name || '').toLowerCase().endsWith('.pdf')\n  );\n\n  newCardStates[c.id] = {\n    dueComplete: !!c.dueComplete,\n    attCount,\n    pdfCount: pdfAtts.length\n  };\n\n  const prevCard = prev.card_states[c.id];\n  if (prevCard) {\n    if (!prevCard.dueComplete && c.dueComplete) {\n      events.push({\n        tipo: 'tarea_completada',\n        emoji: '✅',\n        titulo: 'Tarea completada',\n        descripcion: `La tarjeta \"${c.name}\" fue marcada como completada.`,\n        detalle: { card_id: c.id, card_name: c.name, due: c.due }\n      });\n    }\n\n    if ((prevCard.pdfCount || 0) < pdfAtts.length) {\n      const newPdfs = pdfAtts.slice(-(pdfAtts.length - (prevCard.pdfCount || 0)));\n      events.push({\n        tipo: 'entregable_subido',\n        emoji: '📎',\n        titulo: 'Nuevo entregable PDF',\n        descripcion: `Se subió un PDF a \"${c.name}\": ${newPdfs.map(p => p.name).join(', ')}`,\n        detalle: {\n          card_id: c.id,\n          card_name: c.name,\n          pdfs: newPdfs.map(p => ({ name: p.name, url: p.url }))\n        }\n      });\n    }\n  }\n}\n\nconst latestBack = backCommits[0];\nif (latestBack && latestBack.sha !== prev.main_commit_back_sha) {\n  if (prev.main_commit_back_sha) {\n    events.push({\n      tipo: 'commit_main_backend',\n      emoji: '🔀',\n      titulo: 'Commit a main (backend)',\n      descripcion: `${latestBack.commit?.author?.name || '?'}: ${(latestBack.commit?.message || '').split('\\n')[0]}`,\n      detalle: {\n        repo: 'backend',\n        sha: latestBack.sha,\n        url: latestBack.html_url,\n        autor: latestBack.commit?.author?.name,\n        mensaje: latestBack.commit?.message\n      }\n    });\n  }\n}\n\nconst latestFront = frontCommits[0];\nif (latestFront && latestFront.sha !== prev.main_commit_front_sha) {\n  if (prev.main_commit_front_sha) {\n    events.push({\n      tipo: 'commit_main_frontend',\n      emoji: '🔀',\n      titulo: 'Commit a main (frontend)',\n      descripcion: `${latestFront.commit?.author?.name || '?'}: ${(latestFront.commit?.message || '').split('\\n')[0]}`,\n      detalle: {\n        repo: 'frontend',\n        sha: latestFront.sha,\n        url: latestFront.html_url,\n        autor: latestFront.commit?.author?.name,\n        mensaje: latestFront.commit?.message\n      }\n    });\n  }\n}\n\nconst newSnapshot = {\n  main_commit_back_sha: latestBack?.sha || prev.main_commit_back_sha,\n  main_commit_front_sha: latestFront?.sha || prev.main_commit_front_sha,\n  card_states: newCardStates\n};\n\nreturn [{\n  json: {\n    events,\n    event_count: events.length,\n    new_snapshot: newSnapshot,\n    new_snapshot_json: JSON.stringify(newSnapshot)\n  }\n}];"
      },
      "id": "e3a1640c-f7c1-4926-927f-0820a67e8e25",
      "name": "Delta Detector1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        1456
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE estado_conocido SET snapshot = $1::jsonb, actualizado = NOW() WHERE id = 1;",
        "options": {
          "queryReplacement": "={{ $json.new_snapshot_json }}"
        }
      },
      "id": "4d30289a-d8e5-47c4-bd14-2d748625ac20",
      "name": "PG Update Estado1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1184,
        1664
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ev-gt-0",
              "leftValue": "={{ $json.event_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "672d25b2-aee5-46e0-9d80-c15d230e18a3",
      "name": "IF Hay Eventos1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "const events = $json.events || [];\nreturn events.map(e => ({ json: e }));\n"
      },
      "id": "575686e3-50ec-4d49-91d6-61d32c40726a",
      "name": "Split Events1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $node[\"Configuración1\"].json.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "83b399da-361f-4f83-b8bd-341c33e07f6a",
      "name": "Gemini Event Analysis1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $node['Split Events1'].json;\nconst gem = $json;\nconst analysis = gem?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || '';\n\nlet extra = '';\nif (ev.detalle?.url) extra = `\\n🔗 ${ev.detalle.url}`;\nif (ev.detalle?.pdfs?.length) extra = '\\n' + ev.detalle.pdfs.map(p => `📄 [${p.name}](${p.url})`).join('\\n');\n\nconst content = `${ev.emoji} **${ev.titulo}**\\n${ev.descripcion}${extra}\\n\\n🤖 ${analysis}`;\n\nreturn [{ json: {\n  ...ev,\n  analysis,\n  content,\n  detalle_json: JSON.stringify(ev.detalle || {})\n}}];\n"
      },
      "id": "6f6960c3-4b7c-46ec-b511-993f4ac99ed9",
      "name": "Build Discord Msg1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Configuración1\"].json.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "205473fd-a1a0-476b-81cf-56f608163360",
      "name": "Discord Event1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        1232
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eventos_detectados (tipo, descripcion, detalle, notificado) VALUES ($1, $2, $3::jsonb, TRUE);",
        "options": {
          "queryReplacement": "={{ $json.tipo }},={{ $json.descripcion }},={{ $json.detalle_json }}"
        }
      },
      "id": "a4eaa3d1-c4ed-4c72-b506-405b5b22f74b",
      "name": "PG Insert Evento1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -320,
        1392
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Configuración1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuración1": {
      "main": [
        [
          {
            "node": "Trello Cards Delta1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Back Main1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Front Main1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Estado Conocido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Cards Delta1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Back Main1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Front Main1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PG Estado Conocido1": {
      "main": [
        [
          {
            "node": "Merge Delta1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Delta1": {
      "main": [
        [
          {
            "node": "Delta Detector1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delta Detector1": {
      "main": [
        [
          {
            "node": "IF Hay Eventos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Update Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hay Eventos1": {
      "main": [
        [
          {
            "node": "Split Events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Events1": {
      "main": [
        [
          {
            "node": "Gemini Event Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Event Analysis1": {
      "main": [
        [
          {
            "node": "Build Discord Msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Msg1": {
      "main": [
        [
          {
            "node": "Discord Event1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Insert Evento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f20cab36-782e-4c1c-bb49-65037a97391a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "Dgobg3vMcRWaNPkA",
  "tags": []
}