bot/Dashboard - PM Approval Hub.json
{
  "name": "Dashboard - PM Approval Hub",
  "nodes": [
    {
      "parameters": {
        "path": "pm-approvals",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-dashboard",
      "name": "Webhook - Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "pm-approval-hub"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT decision_id, agent_role, decision_type, input_summary, recommendation, risk_level, confidence, created_at FROM ai_decisions WHERE status = 'pending_approval' ORDER BY created_at DESC LIMIT 50;"
      },
      "id": "fetch-pending",
      "name": "Fetch Pending Approvals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [200, 0]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nconst riskColor = { low: '#22c55e', medium: '#f59e0b', high: '#f97316', critical: '#ef4444' };\nconst riskLabel = { low: 'Bajo', medium: 'Medio', high: 'Alto', critical: 'Crítico' };\n\nconst cards = rows.map(r => {\n  const color = riskColor[r.risk_level] || '#6b7280';\n  const label = riskLabel[r.risk_level] || r.risk_level;\n  const date = new Date(r.created_at).toLocaleString('es-MX', { timeZone: 'America/Mexico_City' });\n  return `\n  <div class=\"card\" data-id=\"${r.decision_id}\">\n    <div class=\"card-header\">\n      <span class=\"agent-badge\">${r.agent_role}</span>\n      <span class=\"risk-badge\" style=\"background:${color}\">${label}</span>\n    </div>\n    <div class=\"card-type\">${r.decision_type.replace(/_/g, ' ')}</div>\n    <div class=\"card-summary\">${r.input_summary || '—'}</div>\n    <div class=\"card-rec\"><strong>Recomendación:</strong> ${r.recommendation || '—'}</div>\n    <div class=\"card-meta\">${date} · Confianza: ${Math.round((r.confidence || 0) * 100)}%</div>\n    <div class=\"card-actions\">\n      <button class=\"btn approve\" onclick=\"decide('${r.decision_id}', 'approved')\">✅ Aprobar</button>\n      <button class=\"btn reject\" onclick=\"decide('${r.decision_id}', 'rejected')\">❌ Rechazar</button>\n    </div>\n  </div>`;\n}).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>PetSafe PM — Aprobaciones</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: 'Inter', sans-serif; background: #0f172a; color: #e2e8f0; min-height: 100vh; }\n    header { background: linear-gradient(135deg, #1e3a5f 0%, #0f2d4a 100%); padding: 24px 32px; border-bottom: 1px solid rgba(255,255,255,0.08); display: flex; align-items: center; gap: 16px; }\n    header h1 { font-size: 1.4rem; font-weight: 700; }\n    header p { font-size: 0.85rem; color: #94a3b8; }\n    .badge-count { background: #ef4444; color: #fff; border-radius: 999px; padding: 2px 10px; font-size: 0.8rem; font-weight: 700; }\n    main { max-width: 960px; margin: 40px auto; padding: 0 24px; }\n    .grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); gap: 20px; }\n    .card { background: #1e293b; border: 1px solid rgba(255,255,255,0.07); border-radius: 14px; padding: 20px; display: flex; flex-direction: column; gap: 10px; transition: transform 0.2s, box-shadow 0.2s; }\n    .card:hover { transform: translateY(-2px); box-shadow: 0 8px 30px rgba(0,0,0,0.4); }\n    .card-header { display: flex; align-items: center; gap: 10px; }\n    .agent-badge { background: #334155; color: #93c5fd; border-radius: 6px; padding: 3px 10px; font-size: 0.78rem; font-weight: 600; }\n    .risk-badge { border-radius: 6px; padding: 3px 10px; font-size: 0.78rem; font-weight: 700; color: #fff; }\n    .card-type { font-size: 0.72rem; color: #64748b; text-transform: uppercase; letter-spacing: 0.05em; }\n    .card-summary { font-size: 0.9rem; font-weight: 500; color: #cbd5e1; }\n    .card-rec { font-size: 0.85rem; color: #94a3b8; line-height: 1.5; }\n    .card-meta { font-size: 0.75rem; color: #475569; }\n    .card-actions { display: flex; gap: 10px; margin-top: 4px; }\n    .btn { flex: 1; padding: 9px 0; border-radius: 8px; border: none; font-size: 0.85rem; font-weight: 600; cursor: pointer; transition: opacity 0.15s; }\n    .btn:hover { opacity: 0.85; }\n    .btn.approve { background: #16a34a; color: #fff; }\n    .btn.reject { background: #7f1d1d; color: #fca5a5; }\n    .empty { text-align: center; padding: 80px 20px; color: #475569; }\n    .empty h2 { font-size: 1.2rem; margin-bottom: 8px; }\n    .toast { position: fixed; bottom: 24px; right: 24px; background: #1e293b; border: 1px solid rgba(255,255,255,0.1); border-radius: 10px; padding: 14px 20px; font-size: 0.9rem; display: none; z-index: 999; }\n  </style>\n</head>\n<body>\n  <header>\n    <div>\n      <h1>🛡️ PetSafe PM — Hub de Aprobaciones</h1>\n      <p>Decisiones de IA pendientes de revisión humana</p>\n    </div>\n    <span class=\"badge-count\">${rows.length} pendiente${rows.length !== 1 ? 's' : ''}</span>\n  </header>\n  <main>\n    ${rows.length > 0 ? '<div class=\"grid\">' + cards + '</div>' : '<div class=\"empty\"><h2>🎉 Todo aprobado</h2><p>No hay decisiones pendientes en este momento.</p></div>'}\n  </main>\n  <div class=\"toast\" id=\"toast\"></div>\n  <script>\n    async function decide(id, action) {\n      const card = document.querySelector('[data-id=\"' + id + '\"]');\n      if (card) card.style.opacity = '0.4';\n      try {\n        const res = await fetch('/webhook/pm-approve', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ decision_id: id, action, approved_by: 'tech-lead' })\n        });\n        showToast(action === 'approved' ? '✅ Aprobado correctamente' : '❌ Rechazado correctamente');\n        setTimeout(() => card?.remove(), 600);\n      } catch(e) {\n        showToast('⚠️ Error al procesar. Intenta de nuevo.');\n        if (card) card.style.opacity = '1';\n      }\n    }\n    function showToast(msg) {\n      const t = document.getElementById('toast');\n      t.textContent = msg;\n      t.style.display = 'block';\n      setTimeout(() => t.style.display = 'none', 3000);\n    }\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "id": "build-dashboard-html",
      "name": "Build Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      },
      "id": "respond-html",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [620, 0]
    },
    {
      "parameters": {
        "path": "pm-approve",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-approve",
      "name": "Webhook - Approve Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 280],
      "webhookId": "pm-approve-action"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "valid-token",
              "leftValue": "={{ $request.headers['x-pm-token'] }}",
              "rightValue": "={{ $env.PM_APPROVAL_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "valid-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "valid-decision-id",
              "leftValue": "={{ $json.decision_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        },
        "options": {}
      },
      "id": "validate-token",
      "name": "Validate Token & Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Unauthorized or invalid input\"}",
        "options": { "responseCode": 401 }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_decisions SET status = $1, approved_by = $2 WHERE decision_id = $3::uuid RETURNING decision_id, agent_role, decision_type, recommendation;",
        "options": {
          "queryReplacement": "={{ [ $json.action, $json.approved_by || 'tech-lead', $json.decision_id ] }}"
        }
      },
      "id": "update-decision",
      "name": "Update Decision Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 280]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst action = $('Webhook - Approve Action').item.json.action;\nconst emoji = action === 'approved' ? '✅' : '❌';\nconst verb = action === 'approved' ? 'aprobada' : 'rechazada';\nconst content = `${emoji} **Decisión ${verb}** por el Tech Lead\\n\\n**Agente:** ${d.agent_role}\\n**Tipo:** ${d.decision_type}\\n**Recomendación:** ${d.recommendation || '—'}\\n\\nID: \\`${d.decision_id}\\``;\nreturn [{ json: { content } }];"
      },
      "id": "build-approval-notif",
      "name": "Build Approval Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{ $json.content }}" }
          ]
        }
      },
      "id": "notify-approval-discord",
      "name": "Notify Discord Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, decision_id: $('Update Decision Status').item.json.decision_id }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 280]
    }
  ],
  "connections": {
    "Webhook - Dashboard": {
      "main": [[{ "node": "Fetch Pending Approvals", "type": "main", "index": 0 }]]
    },
    "Fetch Pending Approvals": {
      "main": [[{ "node": "Build Dashboard HTML", "type": "main", "index": 0 }]]
    },
    "Build Dashboard HTML": {
      "main": [[{ "node": "Respond HTML", "type": "main", "index": 0 }]]
    },
    "Webhook - Approve Action": {
      "main": [[{ "node": "Validate Token & Input", "type": "main", "index": 0 }]]
    },
    "Validate Token & Input": {
      "main": [
        [{ "node": "Update Decision Status", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Update Decision Status": {
      "main": [[{ "node": "Build Approval Notification", "type": "main", "index": 0 }]]
    },
    "Build Approval Notification": {
      "main": [[{ "node": "Notify Discord Approval", "type": "main", "index": 0 }]]
    },
    "Notify Discord Approval": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "errorWorkflow": "monitor-petsafe-error-handler"
  }
}
