bot/Discord Eventos GitHub PetSafe.json
{
  "name": "Discord Eventos GitHub PetSafe",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "STRATIUM-UTA"
        },
        "repository": {
          "__rl": true,
          "value": "PetSafe-Back",
          "mode": "name"
        },
        "events": [
          "*"
        ],
        "options": {}
      },
      "id": "e4d6951c-9537-419e-9ed9-943bff94452e",
      "name": "GitHub Event Webhook Backend",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        128
      ],
      "webhookId": "2eea23e2-c0cc-4d57-a46b-f7f4d30eece7",
      "credentials": {
        "githubApi": {
          "id": "Ef6o1UdEiDu28Ibq",
          "name": "backend-account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "JosueGarciaAbata",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "PetSafe-Front",
          "mode": "name"
        },
        "events": [
          "*"
        ],
        "options": {}
      },
      "id": "55f24aae-72c9-43bf-9b6f-0cfe2fad47bc",
      "name": "GitHub Event Webhook Frontend",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        384
      ],
      "webhookId": "e480b610-6d9b-42dc-827f-8d8c2c753f66",
      "credentials": {
        "githubApi": {
          "id": "dkFcPmeSEHWQKN9i",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst body = $json.body || {};\n\nconst getHeader = (name) => {\n  const key = Object.keys(headers).find((k) => k.toLowerCase() === name.toLowerCase());\n  return key ? headers[key] : '';\n};\n\nconst event = String(getHeader('x-github-event') || '').toLowerCase();\nconst action = body.action || '';\nconst repo = body.repository?.full_name || 'repo/desconocido';\nconst repoName = body.repository?.name || '';\nconst actor = body.sender?.login || body.pusher?.name || 'desconocido';\nconst backendRepo = 'PetSafe-Back';\nconst frontendRepo = 'PetSafe-Front';\n\nlet repoScope = 'github';\nif (repoName && repoName === backendRepo) repoScope = 'backend';\nelse if (repoName && repoName === frontendRepo) repoScope = 'frontend';\n\nlet ignored = false;\nlet tipo = 'github_evento';\nlet titulo = 'Evento GitHub';\nlet descripcion = 'Evento ' + (event || 'desconocido') + ' en ' + repo + '.';\nlet url = body.repository?.html_url || null;\nlet branch = null;\nlet prNumber = null;\n\nif (event === 'pull_request') {\n  const pr = body.pull_request || {};\n  prNumber = body.number || pr.number || null;\n  const prTitle = pr.title || 'PR sin titulo';\n  url = pr.html_url || url;\n\n  if (action === 'opened' || action === 'reopened') {\n    tipo = 'github_pr_opened';\n    titulo = 'PR abierto';\n    descripcion = actor + ' abrio PR #' + prNumber + ' en ' + repo + ': ' + prTitle + '.';\n  } else if (action === 'ready_for_review') {\n    tipo = 'github_pr_ready';\n    titulo = 'PR listo para revision';\n    descripcion = actor + ' marco PR #' + prNumber + ' en ' + repo + ' listo para revision.';\n  } else if (action === 'synchronize') {\n    tipo = 'github_pr_updated';\n    titulo = 'PR actualizado';\n    descripcion = actor + ' actualizo PR #' + prNumber + ' en ' + repo + ': ' + prTitle + '.';\n  } else if (action === 'closed' && pr.merged) {\n    tipo = 'github_pr_merged';\n    titulo = 'PR mergeado';\n    descripcion = actor + ' mergeo PR #' + prNumber + ' en ' + repo + ': ' + prTitle + '.';\n  } else if (action === 'closed') {\n    tipo = 'github_pr_closed';\n    titulo = 'PR cerrado';\n    descripcion = actor + ' cerro PR #' + prNumber + ' en ' + repo + ': ' + prTitle + '.';\n  } else {\n    ignored = true;\n    titulo = 'Evento GitHub ignorado';\n    descripcion = 'Evento pull_request/' + action + ' no se procesa en este workflow.';\n  }\n} else if (event === 'push') {\n  const ref = body.ref || '';\n  branch = ref.replace('refs/heads/', '') || ref;\n  const commits = Array.isArray(body.commits) ? body.commits : [];\n  const commitCount = commits.length;\n  url = body.compare || url;\n\n  if (branch === 'main' || branch === 'master') {\n    ignored = true;\n    tipo = 'github_push_main_ignored';\n    titulo = 'Push principal ignorado';\n    descripcion = actor + ' hizo push a ' + branch + ' en ' + repo + ' (' + commitCount + ' commits). Lo gestiona Construir Contexto Robusto.';\n  } else {\n    tipo = 'github_push_branch';\n    titulo = 'Push en rama de trabajo';\n    descripcion = actor + ' hizo push a ' + branch + ' en ' + repo + ' (' + commitCount + ' commits).';\n  }\n} else {\n  ignored = true;\n  titulo = 'Evento GitHub ignorado';\n  descripcion = 'Evento ' + (event || 'desconocido') + ' no se procesa en este workflow.';\n}\n\nconst detalle = {\n  event,\n  action,\n  repo,\n  repo_name: repoName || null,\n  repo_scope: repoScope,\n  actor,\n  branch,\n  pr_number: prNumber,\n  url,\n  received_at: new Date().toISOString()\n};\n\nconst discord_content = '[PetSafe/GitHub/' + repoScope + '] ' + titulo + '\\n' + descripcion + (url ? '\\n' + url : '');\n\nreturn [{\n  json: {\n    source: 'github',\n    ignored,\n    tipo,\n    titulo,\n    descripcion,\n    detalle,\n    detalle_json: JSON.stringify(detalle || {}),\n    discord_content\n  }\n}];"
      },
      "id": "675a7d4b-7906-4318-86f9-48e421796bde",
      "name": "Normalizar Evento GitHub1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-github-not-ignored",
              "leftValue": "={{ $json.ignored }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1c0eebe-7281-4ee9-8e50-f2f2fb773e56",
      "name": "IF Evento GitHub Relevante1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1494442658821832904/apUVcK-nDQ0ti_jmkIYwma_LWggN6Qj4EYm-jNZT3MK8W0B69LqMolAHd_Dtu60xlr4V",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "6115c56b-0526-45a7-a22b-2a8b1fb793af",
      "name": "Discord Evento GitHub1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        416
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eventos_detectados (tipo, descripcion, detalle, notificado) VALUES ($1, $2, $3::jsonb, TRUE);",
        "options": {}
      },
      "id": "7010053a-1f52-4392-bbab-807f06d95d44",
      "name": "PG Insert Evento GitHub1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -272,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (github procesado)",
        "options": {}
      },
      "id": "5f0dc114-d2b1-4b07-a7e6-1c18b141a707",
      "name": "Resp GitHub Procesado1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -272,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (github ignorado)",
        "options": {}
      },
      "id": "67698259-f3b1-4be1-9c14-73b216abf2ad",
      "name": "Resp GitHub Ignorado1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -288,
        576
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "GitHub Event Webhook Backend": {
      "main": [
        [
          {
            "node": "Normalizar Evento GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Event Webhook Frontend": {
      "main": [
        [
          {
            "node": "Normalizar Evento GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Evento GitHub1": {
      "main": [
        [
          {
            "node": "IF Evento GitHub Relevante1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Evento GitHub Relevante1": {
      "main": [
        [
          {
            "node": "Discord Evento GitHub1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Insert Evento GitHub1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resp GitHub Procesado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp GitHub Ignorado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1a58182b-5a84-44dd-b444-cd3ce4d83d95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "LKhZAQYHgktyV0jO",
  "tags": []
}