bot/Discord Eventos Trello PetSafe.json
{
  "name": "Discord Eventos Trello PetSafe",
  "nodes": [
    {
      "parameters": {
        "id": "69baa8ff02e1cfb32a461a04"
      },
      "id": "717e848f-3508-4450-8a34-88fc1703375f",
      "name": "Trello Event Webhook",
      "type": "n8n-nodes-base.trelloTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        288
      ],
      "webhookId": "3d6027b5-2b1b-4639-b53d-a9c2942c677e",
      "credentials": {
        "trelloApi": {
          "id": "FWpamR2TOOuzCYJv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst action = body.action || {};\nconst data = action.data || {};\nconst type = action.type || 'unknown';\nconst actor = action.memberCreator?.fullName || action.memberCreator?.username || 'desconocido';\nconst boardName = data.board?.name || body.model?.name || 'tablero';\nconst card = data.card || {};\nconst cardName = card.name || 'tarjeta sin nombre';\nconst cardUrl = card.shortUrl || card.url || body.model?.url || null;\n\nlet ignored = false;\nlet tipo = 'trello_evento';\nlet titulo = 'Evento Trello';\nlet descripcion = \"Evento \" + type + \" en \" + boardName + \".\";\n\nif (type === 'updateCard' && data.listBefore && data.listAfter) {\n  tipo = 'trello_card_move';\n  titulo = 'Tarjeta movida';\n  descripcion = actor + \" movio \" + cardName + \" de \" + data.listBefore.name + \" a \" + data.listAfter.name + \".\";\n} else if (type === 'commentCard') {\n  tipo = 'trello_comment';\n  titulo = 'Comentario en tarjeta';\n  descripcion = actor + \" comento en \" + cardName + \".\";\n} else if (type === 'createCard') {\n  tipo = 'trello_card_created';\n  titulo = 'Tarjeta creada';\n  descripcion = actor + \" creo la tarjeta \" + cardName + \".\";\n} else if (type === 'updateCard' && Object.prototype.hasOwnProperty.call(data.old || {}, 'due')) {\n  tipo = 'trello_due_changed';\n  titulo = 'Fecha limite actualizada';\n  descripcion = actor + \" actualizo fecha limite de \" + cardName + \".\";\n} else {\n  // Eventos como completado/PDF ya se cubren en Workflow 3 para evitar duplicados.\n  ignored = true;\n  titulo = 'Evento Trello ignorado';\n  descripcion = \"Evento \" + type + \" no se procesa aqui para evitar duplicar otros workflows.\";\n}\n\nconst detalle = {\n  action_type: type,\n  actor,\n  board_name: boardName,\n  card_id: card.id || null,\n  card_name: cardName,\n  card_url: cardUrl,\n  list_before: data.listBefore?.name || null,\n  list_after: data.listAfter?.name || null,\n  comment: data.text || null,\n  due: card.due || null,\n  date: action.date || null\n};\n\nconst discord_content = \"[PetSafe/Trello] \" + titulo + \"\\n\" + descripcion + (cardUrl ? \"\\n\" + cardUrl : \"\");\n\nreturn [{\n  json: {\n    source: 'trello',\n    ignored,\n    tipo,\n    titulo,\n    descripcion,\n    detalle,\n    detalle_json: JSON.stringify(detalle || {}),\n    discord_content\n  }\n}];"
      },
      "id": "e5482ecc-5f5f-45bf-9dc3-510127fdaa00",
      "name": "Normalizar Evento Trello",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if-trello-not-ignored",
              "leftValue": "={{ $json.ignored }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc234f05-088f-4567-be80-1213a8bc85ad",
      "name": "IF Evento Trello Relevante",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -384,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "713d6b0b-36e8-4c28-b795-f2922e013651",
      "name": "Discord Evento Trello",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eventos_detectados (tipo, descripcion, detalle, notificado) VALUES ($1, $2, $3::jsonb, TRUE);",
        "options": {}
      },
      "id": "b76eaad3-0e1f-4169-9fd4-2dfc302d009c",
      "name": "PG Insert Evento Trello",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (trello procesado)",
        "options": {}
      },
      "id": "09147ab1-cd57-4755-81fd-c59f8546b2c7",
      "name": "Resp Trello Procesado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok (trello ignorado)",
        "options": {}
      },
      "id": "7e6148eb-c2e2-4628-a9c2-02fbe76d11ce",
      "name": "Resp Trello Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        544
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trello Event Webhook": {
      "main": [
        [
          {
            "node": "Normalizar Evento Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Evento Trello": {
      "main": [
        [
          {
            "node": "IF Evento Trello Relevante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Evento Trello Relevante": {
      "main": [
        [
          {
            "node": "Discord Evento Trello",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG Insert Evento Trello",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resp Trello Procesado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp Trello Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f0800a07-fef5-45f1-bcbe-714f45357c95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "GmfJjSBAgedWN4Fd",
  "tags": []
}