bot/DLQ - Outbox Replay.json
{
  "name": "DLQ - Outbox Replay",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target",
              "name": "target",
              "value": "={{ $json.target || null }}",
              "type": "string"
            },
            {
              "id": "limit",
              "name": "limit",
              "value": "={{ $json.limit || 50 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Set Replay Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH cte AS (SELECT outbox_id FROM events_outbox WHERE status = 'dead' AND ($1::text IS NULL OR target = $1) ORDER BY scheduled_at ASC LIMIT $2::int) UPDATE events_outbox SET status = 'pending', scheduled_at = NOW(), last_error = NULL WHERE outbox_id IN (SELECT outbox_id FROM cte) RETURNING outbox_id;",
        "options": {
          "queryReplacement": "={{ [ $json.target, $json.limit ] }}"
        }
      },
      "id": "replay-dead",
      "name": "Replay Dead Outbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Replay Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Replay Params": {
      "main": [
        [
          {
            "node": "Replay Dead Outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "monitor-petsafe-error-handler",
    "saveExecutionProgress": true
  }
}
