bot/Monitor PetSafe - Alertas IA.json
{
  "name": "Monitor PetSafe - Alertas IA",
  "nodes": [
    {
      "parameters": {},
      "id": "071ed8c9-84ef-4022-99ef-9a05ba17da5f",
      "name": "On-Demand Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -9488,
        3504
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.payload || $json;\n\nfunction semEmoji(s) { return ({ verde: '🟢', amarillo: '🟡', rojo: '🔴', gris: '⚪' })[s] || '⚪'; }\n\nfunction renderFase(f) {\n  const lines = [semEmoji(f.semaforo) + ' ' + f.nombre + ' (' + f.completadas + '/' + f.total + ' = ' + f.pct + '%)'];\n  for (const t of f.tareas) {\n    const status = t.completada ? '[✓]' : (t.vencida ? '[✗ VENCIDA]' : '[⏳]');\n    const resp = t.responsables.length > 0 ? t.responsables.join(', ') : 'SIN ASIGNAR';\n    const due = t.fecha_limite ? ' due=' + t.fecha_limite.slice(0, 10) : ' (sin fecha)';\n    const chk = t.checklist_total > 0 ? ' checklist=' + t.checklist_done + '/' + t.checklist_total : '';\n    const adj = t.adjuntos_count > 0 ? ' adj=' + t.adjuntos_count : '';\n    lines.push('  ' + status + ' ' + t.nombre + ' -> ' + resp + due + chk + adj);\n  }\n  return lines.join('\\n');\n}\n\nconst fasesStr = Object.values(d.fases).map(renderFase).join('\\n\\n');\n\nconst commitsBackStr = d.github.top_commits_back.map(c => '  ' + c.sha + ' ' + c.autor + ': ' + c.mensaje + ' (' + (c.fecha || '').slice(0, 10) + ')').join('\\n') || '  (sin commits)';\nconst commitsFrontStr = d.github.top_commits_front.map(c => '  ' + c.sha + ' ' + c.autor + ': ' + c.mensaje + ' (' + (c.fecha || '').slice(0, 10) + ')').join('\\n') || '  (sin commits)';\n\nconst entregables = d.snapshot_tareas\n  .filter(t => (t.archivos.length > 0 || t.enlaces.length > 0) && t.nombre && t.nombre.trim() !== '.')\n  .sort((a, b) => new Date(b.dateLastActivity || 0) - new Date(a.dateLastActivity || 0))\n  .slice(0, 15)\n  .map(t => {\n    const files = t.archivos.map(a => a.name).join(', ');\n    const links = t.enlaces.map(l => (l.name || l.url)).join(', ');\n    const parts = [files, links].filter(Boolean).join(' | ');\n    return '  [' + t.lista + '] ' + t.nombre + ': ' + parts;\n  }).join('\\n') || '  (ninguno)';\n\nconst rankingStr = d.ranking.map(r => '  ' + r.initials + ' ' + r.trello_name + ': ' + r.tareas_done + '✓ / ' + r.tareas_pending + '⏳ / ' + r.tareas_overdue + '✗   commits14d=' + r.commits_14d).join('\\n') || '  (sin datos)';\n\nconst ciBack = d.github.ci_back ? d.github.ci_back.status + ' en ' + d.github.ci_back.branch + ' (' + (d.github.ci_back.date || '').slice(0, 10) + ')' : 'sin datos';\nconst ciFront = d.github.ci_front ? d.github.ci_front.status + ' en ' + d.github.ci_front.branch + ' (' + (d.github.ci_front.date || '').slice(0, 10) + ')' : 'sin datos';\n\nfunction sign(n) { return n >= 0 ? '+' + n : String(n); }\nconst diffStr = d.diff_previa ? 'progreso ' + sign(d.diff_previa.progreso) + '% | vencidas ' + sign(d.diff_previa.vencidas) + ' | commits14d ' + sign(d.diff_previa.commits_14d) : 'sin previa';\n\nconst staleStr = d.cards_stale.slice(0, 5).map(t => t.nombre + '(' + t.dias_sin_actividad + 'd, ' + (t.responsables[0] || 'sin asignar') + ')').join(', ') || 'ninguna';\nconst sinAsignarStr = d.cards_sin_asignar.slice(0, 5).map(t => t.nombre).join(', ') || 'ninguna';\nconst sinFechaStr = d.cards_sin_fecha.slice(0, 5).map(t => t.nombre).join(', ') || 'ninguna';\n\nconst prompt = 'Eres gestor PM del proyecto PetSafe (clínica veterinaria, NestJS backend + Angular frontend, fin programado 2026-06-10). Analiza estado real y da diagnóstico accionable en español, texto plano, SIN markdown, SIN asteriscos, SIN emojis.\\n\\n' +\n'Estructura OBLIGATORIA, cada sección máx 3 oraciones:\\n' +\n'RESUMEN: estado global (verde/amarillo/rojo) con motivo principal en una línea.\\n' +\n'POR FASE: comenta SOLO las fases con problemas o riesgo, menciona tareas específicas por nombre.\\n' +\n'CARGA EQUIPO: observación sobre distribución de trabajo entre FG, DM, DP, JA.\\n' +\n'RIESGOS: top 3 con severidad y causa (no inventes, usa los datos).\\n' +\n'ACCIONES: 3 acciones concretas asignadas por nombre real (ej: Josué revisar PR X, David Barragán desbloquear tarea Y).\\n' +\n'PROYECCION: llegamos al 10-jun-2026? sí/no/riesgo con justificación numérica.\\n\\n' +\n'=== CONTEXTO REAL ===\\n' +\n'Fecha: ' + d.fecha + '\\n' +\n'Progreso global: ' + d.progreso_pct + '% (' + d.total_completadas + '/' + d.total_tarjetas + ')\\n' +\n'Días hasta fin proyecto: ' + d.kpis.dias_hasta_fin + '\\n' +\n'Proyección calculada: ' + d.kpis.proyeccion + '\\n' +\n'Velocidad: ' + d.kpis.velocidad_tareas_por_dia + ' tareas/día (' + d.kpis.completadas_7d + ' completadas últimos 7d)\\n' +\n'Diff vs análisis previo: ' + diffStr + '\\n' +\n'Tendencia histórica: ' + d.tendencia_historial + '\\n\\n' +\n'=== TAREAS POR FASE (completo) ===\\n' +\nfasesStr + '\\n\\n' +\n'=== CARDS PROBLEMÁTICAS ===\\n' +\n'Stale (sin actividad >5d): ' + d.cards_stale.length + ' -> ' + staleStr + '\\n' +\n'Sin asignar: ' + d.cards_sin_asignar.length + ' -> ' + sinAsignarStr + '\\n' +\n'Sin fecha: ' + d.cards_sin_fecha.length + ' -> ' + sinFechaStr + '\\n\\n' +\n'=== GITHUB ===\\n' +\n'Commits 14d back=' + d.github.commits_back + ' front=' + d.github.commits_front + '\\n' +\n'Silencio back=' + d.kpis.silencio_back_dias + 'd front=' + d.kpis.silencio_front_dias + 'd\\n' +\n'% commits convencionales (feat/fix/etc): ' + d.kpis.pct_commits_convencionales + '%\\n' +\n'Bus factor 14d (autores distintos): ' + d.kpis.bus_factor_14d + '\\n' +\n'PRs abiertos: ' + (d.github.prs_abiertos_back + d.github.prs_abiertos_front) + ' (avg ' + d.kpis.pr_open_time_dias + 'd open)\\n' +\n'CI backend: ' + ciBack + '\\n' +\n'CI frontend: ' + ciFront + '\\n' +\n'Deploy front: ' + d.github.deploy_front_url + '\\n\\n' +\n'Top 5 commits backend:\\n' + commitsBackStr + '\\n\\n' +\n'Top 5 commits frontend:\\n' + commitsFrontStr + '\\n\\n' +\n'=== CARGA POR PERSONA ===\\n' +\nrankingStr + '\\n\\n' +\n'=== ENTREGABLES (archivos + enlaces) ===\\n' +\nentregables + '\\n\\n' +\n'=== HITOS PRÓXIMOS ===\\n' +\n(d.hitos_proximos.map(h => h.nombre + ' (' + h.dias_faltan + 'd, resp=' + h.responsable + ')').join('\\n') || '(ninguno)') + '\\n\\n' +\n'Problemas auto-detectados: ' + JSON.stringify(d.problemas_detectados) + '\\n' +\n'Severidad máxima: ' + d.severidad_max;\n\nreturn [{ json: { prompt, gemini_key: d.gemini_key, discord_url: d.discord_url, analysis: d } }];"
      },
      "id": "96fa5600-893f-459b-be5e-12f40a8cf268",
      "name": "Preparar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9248,
        3504
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "91ff8bcb-494f-4b0d-a726-ddb30e7ccc09",
      "name": "Gemini Análisis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -8992,
        3504
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $node['Preparar Prompt'].json.analysis || $json.analysis || $json.payload || $json;\nconst geminiResp = $node['Gemini Análisis'].json;\nconst iaText =\n  geminiResp?.text ||\n  geminiResp?.response?.generations?.[0]?.[0]?.text?.trim() ||\n  geminiResp?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() ||\n  '(sin respuesta IA)';\n\nconst colorMap = { alta: 15158332, media: 16761095, baja: 3066993 };\nconst color = colorMap[d.severidad_max] || 3066993;\n\nfunction semEmoji(s) { return ({ verde: '🟢', amarillo: '🟡', rojo: '🔴', gris: '⚪' })[s] || '⚪'; }\n\nconst resumen1 = semEmoji(d.severidad_max === 'alta' ? 'rojo' : d.severidad_max === 'media' ? 'amarillo' : 'verde') + ' **' + d.progreso_pct + '%** progreso · ' + d.total_completadas + '/' + d.total_tarjetas + ' tareas · **' + d.kpis.dias_hasta_fin + 'd** hasta fin';\nconst resumen2 = '📈 Proyección: **' + d.kpis.proyeccion + '** · Velocidad ' + d.kpis.velocidad_tareas_por_dia + '/día · ' + d.kpis.completadas_7d + ' completadas últimos 7d';\nfunction sign(n) { return n >= 0 ? '+' + n : String(n); }\nconst resumen3 = d.diff_previa ? '🔁 vs previa: ' + sign(d.diff_previa.progreso) + '% progreso, ' + sign(d.diff_previa.vencidas) + ' vencidas, ' + sign(d.diff_previa.commits_14d) + ' commits' : '🔁 primera ejecución';\n\nconst descripcion = [resumen1, resumen2, resumen3].join('\\n');\n\nconst fields = [];\n\nconst fasesTxt = Object.values(d.fases).map(f => {\n  const head = semEmoji(f.semaforo) + ' **' + f.nombre + '** ' + f.pct + '% (✓' + f.completadas + ' ⏳' + f.pendientes + ' ✗' + f.vencidas + ')';\n  const tareasFiltered = f.tareas.filter(t => t.nombre && t.nombre.trim() !== '.');\n  const details = tareasFiltered.slice(0, 8).map(t => {\n    const ic = t.completada ? '✓' : (t.vencida ? '🔴' : '⏳');\n    const r = t.responsables[0] ? ' · ' + t.responsables[0].split(' ').slice(0, 2).join(' ') : ' · sin asignar';\n    return ic + ' ' + t.nombre.slice(0, 55) + r;\n  }).join('\\n');\n  return head + '\\n' + details;\n});\nconst fasesFull = fasesTxt.join('\\n\\n');\nfields.push({ name: '📋 Tareas por fase', value: fasesFull.slice(0, 1024), inline: false });\n\nif (d.cards_stale.length > 0 || d.cards_sin_asignar.length > 0 || d.cards_sin_fecha.length > 0) {\n  const lines = [];\n  if (d.cards_stale.length > 0) lines.push('🕸️ **Stale**: ' + d.cards_stale.slice(0, 3).map(t => t.nombre + '(' + t.dias_sin_actividad + 'd)').join(', '));\n  if (d.cards_sin_asignar.length > 0) lines.push('❓ **Sin asignar**: ' + d.cards_sin_asignar.slice(0, 3).map(t => t.nombre).join(', '));\n  if (d.cards_sin_fecha.length > 0) lines.push('📅 **Sin fecha**: ' + d.cards_sin_fecha.slice(0, 3).map(t => t.nombre).join(', '));\n  fields.push({ name: '⚠️ Cards problemáticas', value: lines.join('\\n').slice(0, 1024), inline: false });\n}\n\nconst commitBack = d.github.top_commits_back.slice(0, 5).map(c => '`' + c.sha + '` ' + c.autor.split(' ')[0] + ': ' + c.mensaje.slice(0, 60) + ' · ' + (c.fecha || '').slice(0, 10)).join('\\n') || '(sin commits)';\nconst commitFront = d.github.top_commits_front.slice(0, 5).map(c => '`' + c.sha + '` ' + c.autor.split(' ')[0] + ': ' + c.mensaje.slice(0, 60) + ' · ' + (c.fecha || '').slice(0, 10)).join('\\n') || '(sin commits)';\nfields.push({ name: '📝 Commits backend (top 5)', value: commitBack.slice(0, 1024), inline: false });\nfields.push({ name: '📝 Commits frontend (top 5)', value: commitFront.slice(0, 1024), inline: false });\n\nconst entregables = d.snapshot_tareas\n  .filter(t => (t.archivos.length > 0 || t.enlaces.length > 0) && t.nombre && t.nombre.trim() !== '.')\n  .sort((a, b) => new Date(b.dateLastActivity || 0) - new Date(a.dateLastActivity || 0))\n  .slice(0, 6);\nif (entregables.length > 0) {\n  const entTxt = entregables.map(t => {\n    const files = t.archivos.slice(0, 2).map(a => '[📄 ' + a.name + '](' + a.url + ')').join(' ');\n    const links = t.enlaces.slice(0, 2).map(l => '[🔗 ' + (l.name || 'link') + '](' + l.url + ')').join(' ');\n    return '**' + t.nombre.slice(0, 40) + '**: ' + [files, links].filter(Boolean).join(' ');\n  }).join('\\n');\n  fields.push({ name: '📎 Entregables recientes', value: entTxt.slice(0, 1024), inline: false });\n}\n\n\n\nconst kpiTxt = '⚡ Velocidad: ' + d.kpis.velocidad_tareas_por_dia + '/día · Bus factor: ' + d.kpis.bus_factor_14d + ' · Conv: ' + d.kpis.pct_commits_convencionales + '%\\n' +\n  '🔇 Silencio back: ' + d.kpis.silencio_back_dias + 'd · front: ' + d.kpis.silencio_front_dias + 'd\\n' +\n  '🔀 PRs abiertos: ' + (d.github.prs_abiertos_back + d.github.prs_abiertos_front) + ' · avg open ' + d.kpis.pr_open_time_dias + 'd · merge ratio ' + d.kpis.pr_merge_ratio_30d + '%';\nfields.push({ name: '📊 KPIs', value: kpiTxt.slice(0, 1024), inline: false });\n\nconst ciStatusEmoji = s => s === 'success' ? '✅' : s === 'failure' ? '❌' : s === 'in_progress' ? '🟡' : '⚪';\nconst ciBackTxt = d.github.ci_back ? ciStatusEmoji(d.github.ci_back.status) + ' ' + d.github.ci_back.status + ' · `' + d.github.ci_back.branch + '` · [run](' + d.github.ci_back.url + ')' : '(sin datos)';\nconst ciFrontTxt = d.github.ci_front ? ciStatusEmoji(d.github.ci_front.status) + ' ' + d.github.ci_front.status + ' · `' + d.github.ci_front.branch + '` · [run](' + d.github.ci_front.url + ')' : '(sin datos)';\nfields.push({ name: '🔧 CI', value: 'Backend: ' + ciBackTxt + '\\nFrontend: ' + ciFrontTxt + '\\n🌐 Deploy front: ' + d.github.deploy_front_url, inline: false });\n\nif (d.hitos_proximos.length > 0) {\n  const hitTxt = d.hitos_proximos.slice(0, 4).map(h => '📅 **' + h.nombre + '** en ' + h.dias_faltan + 'd (' + h.responsable + ')').join('\\n');\n  fields.push({ name: '🎯 Hitos próximos', value: hitTxt.slice(0, 1024), inline: false });\n}\n\nconst iaResumen = iaText.length > 1000 ? iaText.slice(0, 1000) + '…' : iaText;\nfields.push({ name: '🤖 Diagnóstico IA (Gemini)', value: iaResumen, inline: false });\n\nconst payload = {\n  username: 'Monitor PetSafe',\n  embeds: [{\n    title: '📊 Estado proyecto PetSafe — ' + new Date().toLocaleDateString('es-ES'),\n    description: descripcion.slice(0, 4000),\n    color,\n    fields,\n    footer: { text: 'Monitor automático · ' + d.severidad_max.toUpperCase() + ' · ' + d.cantidad_problemas + ' problemas' },\n    timestamp: d.fecha\n  }]\n};\n\nreturn [{ json: { discord_payload: payload, ia_text: iaText, discord_url: $node['Preparar Prompt'].json.discord_url } }];"
      },
      "id": "36e3721f-1832-4044-9449-6391bebc7f0e",
      "name": "Build Discord Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8656,
        3488
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE analisis_proyecto\nSET recomendaciones_ia = '{{ ($json.ia_text || \"\").replace(/'/g, \"''\") }}'\nWHERE id = (SELECT MAX(id) FROM analisis_proyecto);\n",
        "options": {}
      },
      "id": "f91165f5-eacf-48fc-9788-96820367d60c",
      "name": "Guardar Recomendación IA",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -8400,
        3632
      ],
      "credentials": {
        "postgres": {
          "id": "upx1y0H6Nw7XOqLJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.discord_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.discord_payload) }}",
        "options": {}
      },
      "id": "0db85a50-c568-4361-8c85-453b40577b62",
      "name": "Discord Alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8400,
        3408
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "df842afc-0840-4c16-afd5-769f843557e2",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8992,
        3744
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "O6F3cHruroRP0y6x",
          "name": "Gemini - Jos"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "mon:last_report",
        "value": "={{ JSON.stringify($json.discord_payload) }}",
        "keyType": "string",
        "expire": true,
        "ttl": 172800
      },
      "id": "d5810fcb-7521-4f2e-b44d-97856267939d",
      "name": "Redis Store Last Report",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8160,
        3408
      ],
      "credentials": {
        "redis": {
          "id": "BoHQ6nfTk4dgPgVq",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Preparar Prompt": {
      "main": [
        [
          {
            "node": "Gemini Análisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Análisis": {
      "main": [
        [
          {
            "node": "Build Discord Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Payload": {
      "main": [
        [
          {
            "node": "Discord Alerta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Recomendación IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Análisis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discord Alerta": {
      "main": [
        [
          {
            "node": "Redis Store Last Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On-Demand Trigger": {
      "main": [
        [
          {
            "node": "Preparar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8cac118e-16b1-4043-9319-c1db9e157db8",
  "meta": {
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "cFmFpJsFVpSJYJln",
  "tags": []
}