bot/Monitor PetSafe - Error Handler.json
{
  "name": "Monitor PetSafe - Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "929f5b66-ce80-4810-b4ab-32b0d150e574",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1s1",
              "name": "mensaje_error",
              "value": "={{ `\ud83d\udea8 **Error en Monitor PetSafe** \ud83d\udea8\n\n**Workflow:** ${$workflow.name}\n**Nodo:** ${$json.error?.node?.name || $json.node?.name || 'desconocido'}\n**Error:** ${$json.error?.message || $json.message || JSON.stringify($json).slice(0,300)}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1130bd5a-79de-49c3-8a71-8af070f95510",
      "name": "Formatear Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ content: ($json.mensaje_error || '\ud83d\udea8 Error desconocido en Monitor PetSafe \u2014 revisar ejecuciones en n8n').slice(0, 2000) }) }}",
        "options": {}
      },
      "id": "2e38716e-2920-4def-85dc-bb27a3e3f36b",
      "name": "Alerta a Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_runs_audit (workflow_id, workflow_name, status, completed_at, error_details) VALUES ($1, $2, $3, NOW(), $4::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $workflow.id || 'unknown', $workflow.name, 'error', JSON.stringify({ node: $json.error?.node?.name || $json.node?.name, message: $json.error?.message || $json.message }) ] }}"
        }
      },
      "id": "c6d64a9a-572e-43b8-a524-3c10f6294fb6",
      "name": "Audit Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Formatear Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Error": {
      "main": [
        [
          {
            "node": "Alerta a Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta a Discord": {
      "main": [
        [
          {
            "node": "Audit Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f37dca75-56e4-4c1b-9e65-4cf15987857c",
  "meta": {
    "instanceId": "2ea39fa17dcdc4ec838b704e984f07415fea66105c8eb910cc7de85c3d5eeea5"
  },
  "id": "O4qJYNx2qDrWB3wt",
  "tags": []
}