bot/Router - Project Events.json
{
  "name": "Router - Project Events",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes" }]
        }
      },
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events_inbox SET processing_status = 'processing' WHERE event_id IN (SELECT event_id FROM events_inbox WHERE processing_status = 'ingested' ORDER BY received_at ASC LIMIT 50 FOR UPDATE SKIP LOCKED) RETURNING *;"
      },
      "id": "fetch-events",
      "name": "Fetch Ingested Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "has-events",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "larger" }
            }
          ]
        },
        "options": {}
      },
      "id": "check-events",
      "name": "Has Events?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "workflowId": "AI - PM Orchestrator",
        "options": {}
      },
      "id": "call-orchestrator",
      "name": "Call Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $json.normalized || {};\nconst source = $json.source || normalized.source || 'event';\nconst eventType = $json.event_type || normalized.event_type || 'evento';\nconst repo = $json.repo || normalized.repo || '';\nconst actor = $json.actor || normalized.actor || 'system';\nconst entityType = normalized.entity_type || $json.entity_type || '';\nconst entityId = normalized.entity_id || $json.entity_id || '';\nconst prNumber = normalized.pull_request_number || $json.pull_request_number || null;\nconst cardId = normalized.trello_card_id || $json.trello_card_id || null;\nconst branch = normalized.branch || $json.branch || null;\nconst correlationId = $json.correlation_id || normalized.correlation_id || null;\nconst url = normalized.url || null;\n\nconst lines = [];\nlines.push('[PetSafe/' + source + '] ' + eventType);\nif (actor) lines.push('Actor: ' + actor);\nif (repo) lines.push('Repo: ' + repo);\nif (entityType || entityId) lines.push('Entity: ' + [entityType, entityId].filter(Boolean).join(' '));\nif (prNumber) lines.push('PR: #' + prNumber);\nif (cardId) lines.push('Card: ' + cardId);\nif (branch) lines.push('Branch: ' + branch);\nif (correlationId) lines.push('Correlation: ' + correlationId);\nif (url) lines.push(url);\n\nlet content = lines.join('\\n').slice(0, 1900);\n\nreturn [{\n  json: {\n    ...$json,\n    outbox_target: 'discord',\n    outbox_action: 'notify',\n    outbox_idempotency_key: $json.event_id || null,\n    outbox_payload: { content }\n  }\n}];"
      },
      "id": "build-outbox",
      "name": "Build Outbox Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events_outbox (event_id, target, action, idempotency_key, payload) VALUES ($1, $2, $3, $4, $5::jsonb) ON CONFLICT (idempotency_key) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [ $json.event_id, $json.outbox_target, $json.outbox_action, $json.outbox_idempotency_key, JSON.stringify($json.outbox_payload || {}) ] }}"
        }
      },
      "id": "insert-outbox",
      "name": "Insert Outbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events_inbox SET processing_status = 'processed' WHERE event_id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.event_id] }}"
        }
      },
      "id": "mark-processed",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events_inbox SET processing_status = 'error', last_error = $2, retry_count = retry_count + 1 WHERE event_id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.event_id, 'orchestrator_failed'] }}"
        }
      },
      "id": "mark-error",
      "name": "Mark Error on Fail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [800, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch Ingested Events", "type": "main", "index": 0 }]]
    },
    "Fetch Ingested Events": {
      "main": [[{ "node": "Has Events?", "type": "main", "index": 0 }]]
    },
    "Has Events?": {
      "main": [
        [{ "node": "Call Orchestrator", "type": "main", "index": 0 }],
        []
      ]
    },
    "Call Orchestrator": {
      "main": [
        [{ "node": "Build Outbox Payload", "type": "main", "index": 0 }],
        [{ "node": "Mark Error on Fail", "type": "main", "index": 0 }]
      ]
    },
    "Build Outbox Payload": {
      "main": [[{ "node": "Insert Outbox", "type": "main", "index": 0 }]]
    },
    "Insert Outbox": {
      "main": [[{ "node": "Mark Processed", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "monitor-petsafe-error-handler",
    "saveExecutionProgress": true
  }
}
