bot/System - AI Decision Logger.json
{
  "name": "System - AI Decision Logger",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-ai-decision",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nif (!input.agent_role) throw new Error('agent_role is required');\nif (input.decision === undefined || input.decision === null) throw new Error('decision is required');\n\n// Ensure decision is always a JSON-serializable object\nconst decisionObj = typeof input.decision === 'string'\n  ? (() => { try { return JSON.parse(input.decision); } catch(e) { return { raw: input.decision }; } })()\n  : (input.decision || {});\n\n// Ensure context_used and evidence are objects\nconst contextUsed = typeof input.context_used === 'string'\n  ? (() => { try { return JSON.parse(input.context_used); } catch(e) { return {}; } })()\n  : (input.context_used || {});\n\nconst evidence = typeof input.evidence === 'string'\n  ? (() => { try { return JSON.parse(input.evidence); } catch(e) { return {}; } })()\n  : (input.evidence || {});\n\nreturn [{\n  json: {\n    ...input,\n    correlation_id: input.correlation_id || `ai-${Date.now()}`,\n    decision_type: input.decision_type || 'general',\n    risk_level: input.risk_level || 'low',\n    confidence: parseFloat(input.confidence) || 1.0,\n    requires_human_approval: !!input.requires_human_approval,\n    status: input.requires_human_approval ? 'pending_approval' : 'approved',\n    decision: decisionObj,\n    context_used: contextUsed,\n    evidence\n  }\n}];"
      },
      "id": "validate-payload",
      "name": "Validate & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_decisions (correlation_id, agent_role, decision_type, input_summary, context_used, evidence, decision, recommendation, confidence, risk_level, requires_human_approval, status) VALUES ($1, $2, $3, $4, $5::jsonb, $6::jsonb, $7::jsonb, $8, $9, $10, $11, $12) RETURNING decision_id;",
        "options": {
          "queryReplacement": "={{ [ $json.correlation_id, $json.agent_role, $json.decision_type, $json.input_summary || null, JSON.stringify($json.context_used || {}), JSON.stringify($json.evidence || {}), JSON.stringify($json.decision), $json.recommendation || null, $json.confidence, $json.risk_level, $json.requires_human_approval, $json.status ] }}"
        }
      },
      "id": "insert-decision",
      "name": "Insert AI Decision",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.requires_human_approval }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-approval",
      "name": "Requires Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "jsCode": "const decisionId = $json.decision_id;\nconst role = $('Validate & Format').item.json.agent_role;\nconst recommendation = $('Validate & Format').item.json.recommendation;\nconst risk = $('Validate & Format').item.json.risk_level;\n\nconst content = `⚠️ **Aprobación de IA Requerida**\\nEl agente **${role}** ha propuesto una acción de riesgo **${risk}**.\\n\\n**Recomendación:** ${recommendation}\\n\\nID: \\`${decisionId}\\`\\n*(Responde \\`!aprobar ${decisionId}\\` para autorizar)*`;\n\nreturn [{\n  json: {\n    outbox_target: 'discord',\n    outbox_action: 'notify',\n    outbox_payload: { content },\n    correlation_id: $('Validate & Format').item.json.correlation_id\n  }\n}];"
      },
      "id": "build-approval-alert",
      "name": "Build Approval Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events_outbox (event_id, target, action, payload) VALUES ($1, $2, $3, $4::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $json.correlation_id, $json.outbox_target, $json.outbox_action, JSON.stringify($json.outbox_payload) ] }}"
        }
      },
      "id": "queue-alert",
      "name": "Queue Alert in Outbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, -100]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Format": {
      "main": [
        [
          {
            "node": "Insert AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AI Decision": {
      "main": [
        [
          {
            "node": "Requires Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requires Approval?": {
      "main": [
        [
          {
            "node": "Build Approval Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Alert": {
      "main": [
        [
          {
            "node": "Queue Alert in Outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "errorWorkflow": "monitor-petsafe-error-handler"
  }
}
